# Python has a set of built-in methods that you can use on strings.

<h3>

Note: All string methods returns new values. They do not change the original string.
</h3>

# 1  capitalize

<h3>capitalize method convert string to Capitalize</h3>

In [4]:
x = "mubeen"
print(x)

mubeen

In [7]:
x.capitalize()

'Mubeen'

# 2  casefold

<h3>casefold convert string to lowercase<br><br>
The casefold() method is similar to the lower() method but it is more aggressive.<br><br>This means the casefold() method converts more characters into lower case compared to lower() . <br><br>
    
For example, the German letter ß is already lowercase so, the lower() method doesn't make the conversion.
<br><br>
But the casefold() method will convert ß to its equivalent character ss.
</h3>

In [228]:
x = "CROß"
x.casefold()

'cross'

# 3  lower

<h3>converted to lowercase</h3>

In [25]:
x = "CROß"

In [22]:
x.lower()
# lower not convert non english character

'croß'

# 4  upper

<h3>converted to uppercase</h3>

In [26]:
x = "mubeen"
x.upper()

'MUBEEN'

# 5  title

<h3>Return String in titlecased</h3>

In [40]:
x = "MUBEEN"
x.title()

'Mubeen'

<h4>If the first character are number or symbole they skip the first english character</h4>

In [76]:
x="12SS"

In [77]:
# 2nd S are not converted
x.title()

'12Ss'

In [78]:
"1s1s1sss".title()

'1S1S1Sss'

In [79]:
"1s1s".title()

'1S1S'

In [80]:
"__welcome__".title()

'__Welcome__'

In [81]:
"22nd".title()

'22Nd'

In [82]:
"1st".title()

'1St'

In [83]:
"WELCOME".title()

'Welcome'

# 6  swapcase

<h3>change upper to lower and lower to upper
</h3>

In [231]:
x = 'Mubeen'
x.swapcase()

'mUBEEN'

# 7 center

<h3>Return a centered string of length width<br><br> default=' '</h3>

In [28]:
x.center(10)

'  mubeen  '

In [30]:
x.center(10,'*')

'**mubeen**'

<h3>Note Make sure width is greater than string length</h3>

In [31]:
x.center(5,'*')

'mubeen'

In [36]:
l = len(x) # 6
width = 4
x.center(l+width,'*')

'**mubeen**'

In [39]:
x.center(l+width,'-')

'--mubeen--'

# 8  replace

<h3>replace the specfic characters<br><br>
parameters : 
    old, new, count=-1,<br><br> count is optional
</h3>

In [84]:
x = "Mubeen is Bad Boy"

In [87]:
x.replace("Bad","Good")

'Mubeen is Good Boy'

In [95]:
x = "Mubeen is not good Boy and not good in Cheating"

In [96]:
# 
x.replace("not","")

'Mubeen is  good Boy and  good in Cheating'

In [100]:
# replace only 1st not
x.replace("not","",1)

'Mubeen is  good Boy and not good in Cheating'

In [104]:
x = "remove remove remove remove"

# replace first 2 
x.replace("remove","",3)

'   remove'

# 9  join
<h3>Add Characters to string</h3>

In [115]:
name = "mubeen"

In [123]:
" ".join(name)

'm u b e e n'

In [124]:
char = "-"

char.join(name)

'm-u-b-e-e-n'

In [131]:
# convert list to string 

l = ["Mubeen","Ahmad","Anon"]

" ".join(l)

'Mubeen Ahmad Anon'

# 10  lstrip

<h3>whitespace removed at left.</h3>

In [138]:
x = "                 Mubeen                    "
x.lstrip()

'Mubeen                    '

In [139]:
# change character
x = "____________________Mubeen___________________"
x.lstrip("_")

'Mubeen___________________'

# 11  rstrip

<h3>whitespace removed at right.</h3>

In [140]:
x = "                 Mubeen                    "
x.rstrip()

'                 Mubeen'

In [141]:
# change character
x = "____________________Mubeen___________________"
x.rstrip("_")

'____________________Mubeen'

# 12 strip

<h3>whitespace removed at left and right</h3>

In [144]:
x = "                 Mubeen                    "
x.strip()

'Mubeen'

In [145]:
# change character
x = "____________________Mubeen___________________"
x.strip("_")

'Mubeen'

# 13 splitlines

<h3>Return a list of the lines in the string, breaking at line boundaries.<br><br>keepends=False at default
</h3>

In [157]:
x="Mubeen\nAhmad"
print(x)

Mubeen
Ahmad

In [156]:
x.splitlines()

['Mubeen', 'Ahmad']

In [159]:
# keep \n symbole

x.splitlines(keepends=True)

['Mubeen\n', 'Ahmad']

# 14  split

<h3>Return a list of the substrings in the string, using sep as the separator string.<br><br>sep=None, maxsplit=-1
</h3>

In [175]:
x = "Mubeen\nAHmad"

In [178]:
x.split()

['Mubeen', 'AHmad']

<h4>change seprator</h4>

In [182]:
x = "Mubeen,AHmad"

In [183]:
x.split()

['Mubeen,AHmad']

In [185]:
# change seprator 
x.split(',')

['Mubeen', 'AHmad']

<h4>change maxsplit</h4>

In [196]:
x = "Mubeen*Ahmad*404*"

In [200]:
x.split("*")

['Mubeen', 'Ahmad', '404', '']

In [203]:
# change maxsplit
x.split("*",maxsplit=2)

['Mubeen', 'Ahmad', '404*']

# 15  rsplit

<h3>Return a list of the substrings in the string, using sep as the separator string only at right.<br><br>sep=None, maxsplit=-1
</h3>

In [224]:
x = "*mubeen*ahmad*"
x.rsplit('*')

['', 'mubeen', 'ahmad', '']

In [228]:
x = "*mubeen*ahmad*"
x.rsplit('*',maxsplit=1)

['*mubeen*ahmad', '']

In [229]:
x.rsplit('*',maxsplit=2)

['*mubeen', 'ahmad', '']

# 16  ljust

<h3>Return a left-justified string of length width.
<br><br>width, fillchar=' '
</h3>

In [233]:
x = "Mubeen"
x.ljust(10)

'Mubeen    '

In [235]:
# make sure width are greater than length of string

x = "Mubeen"
x.ljust(3)

'Mubeen'

In [237]:
x = "Mubeen"

x.ljust(len(x)+3)

'Mubeen   '

<h4>Change character</h4>

In [238]:
x = "Mubeen"
width = len(x)+3
x.ljust(width,"_")

'Mubeen___'

# 17  rjust

<h3>Return a right-justified string of length width.
<br><br>width, fillchar=' '
</h3>

In [239]:
x = "Mubeen"

x.rjust(len(x)+3)

'   Mubeen'

In [1]:
x = "Mubeen"
width = len(x)+3

x.rjust(width,"_")

'___Mubeen'

# 18  index

<h3>Return the lowest index where substring sub is found, return error if string not found
<br><br>sub[, start[, end]])
</h3>

In [243]:
x = "Mubeen"

In [246]:
x.index('u')

1

In [247]:
x.index('M')

0

In [248]:
x.index('e')

3

In [249]:
x.index('s')

ValueError: substring not found

In [289]:
x = "we are anonmyous we are legions we are never forget"

In [257]:
x.index("are")

3

In [336]:
# find 2nd are

start = 3+1
x.index("are",start)

20

In [260]:
# find 3rd we

x.index("are",20+1)

35

In [337]:
# find we reverse -1 

# last we at 17
start = 1
end = -1
x.index("we",start,end)

17

In [314]:
x.index("we",18,-1)

32

# 19  rindex

<h3>Return the lowest index where substring sub is found only at right, return error if string not found
<br><br>sub[, start[, end]])
</h3>

In [315]:
x

'we are anonmyous we are legions we are never forget'

In [346]:
x.rindex("we",0,10)

0

In [348]:
x.rindex("we",0,20)

17

In [351]:
x.rindex("we",0,40)

32

# 20  find

<h3>Return the lowest index where substring sub is found, return -1 if string not found
<br><br>sub[, start[, end]])<br><br> it is better than index
</h3>

In [352]:
x

'we are anonmyous we are legions we are never forget'

In [353]:
x.find("we")

0

In [355]:
x.find("we",1)

17

In [357]:
x.find("we",18)

32

In [365]:
# find mid we

start = 1
end=-1

x.find("we",start,end)

17

# Trick to find all specfic characters

In [384]:
# without loop

_1st = x.find("we")
_2nd = x.find("we",_1st+1)
_3rd = x.find("we",_2nd+1)

print(_1st,_2nd,_3rd)

0 17 32

In [385]:
# With loop

ind = []

for i in range(len(x)+1):
    s = x.find("we",i)
    if s == -1:
        break
    ind.append(s)


ind = list(set(ind))
ind

[0, 17, 32]

# 21  rfind

<h3>Return the lowest index where substring sub is found onlly for right, return -1 if string not found
<br><br>sub[, start[, end]])
</h3>

In [386]:
x.rfind("we")

32

In [391]:
start = 0
end = 32
x.rfind("we",start,end)

17

In [394]:
start = 0
end = 17
x.rfind("we",start,end)

0

# 22  count

<h3>Return the number of non-overlapping occurrences of substring sub in
string <br><br>
S[start:end] Optional arguments start and end are
interpreted as in slice notation.
<br><br>prefix[, start[, end]]
</h3>

In [128]:
x = "Mubeen"
x.count('e')

2

In [130]:
x = "dont me count,count me"
x.count('me')

2

In [133]:
# change start
x.count('me',6)

1

In [134]:
x = "dont count me,count me, dont count me"

In [137]:
x.count('me',12)

2

In [139]:
# change end

x.count('me',12,22)

1

# 23  startswith
<h3>Return True if S starts with the specified prefix, False otherwise.
<br><br>prefix[, start[, end]]
</h3>

In [9]:
x = "Hello World"

x.startswith('H')

True

In [10]:
print(x.startswith('He'))
print(x.startswith('Hell'))
print(x.startswith('Hello'))

True
True
True

In [11]:
x.startswith("ello")

False

In [14]:
x = "we are anonmyous we are legions we are never forget"
x.startswith("are")

False

In [22]:
# start with 3
x.startswith("are",3)

True

In [39]:
f = x.find("anonmyous")
print(f)

x.startswith("anonmyous",f)

7

True

In [40]:
# change end
x.startswith("anonmyous",f,0)

False

# 24  endswith
<h3>Return True if S starts with the specified prefix, False otherwise.
<br><br>prefix[, start[, end]]
</h3>

In [108]:
x = "Hello World"

x.endswith('d')

True

In [109]:
x.endswith('ld')
x.endswith('World')

True

In [111]:
x = "we are anonmyous we are legions we are never forget"
x.endswith("never")

False

In [115]:
# change start and end
print(x.find('never'))
x.endswith("never",39,44)

39

True

In [116]:
print(x[39:45])

never

# 25 maketrans

<h3>returns a mapping table that can be used with the translate() method to replace specified characters.
    
<br><br>If there is only one argument, it must be a dictionary mapping Unicode
ordinals (integers) or characters to Unicode ordinals, strings or None.
Character keys will be then converted to ordinals.
</h3>

<h4>If you give only one argument to maketrans it must be a dict

</h4>

In [55]:
data = {"a": "123", "b": "456", "c": "789"}

string = "abc"
print(string.maketrans(dict))

# a change to 97
# b change to 98
# c change to 99

{97: '123', 98: '456', 99: '789'}

In [58]:
# ord function convert ascci letters to number
print(ord('a'),ord('b'),ord('c'))

97 98 99

<h4>If there are two arguments, they must be strings of equal length, and
in the resulting dictionary, each character in x will be mapped to the
character at the same position in y.</h4>

In [64]:
my_str = "Mubeen"

old = "en"
new = '_>'

my_str.maketrans(old,new)

{101: 95, 110: 62}

In [70]:
print(f"{chr(101)} : {chr(95)}")

e : _

In [71]:
print(f"{chr(110)} : {chr(62)}")

n : >

<h4>If there is a third argument, it
must be a string, whose characters will be mapped to None in the result</h4>

In [73]:
firstString = "abc"
secondString = "def"
thirdString = "abd"

string = "abc"

In [76]:
string.maketrans(firstString,secondString,thirdString)

{97: None, 98: None, 99: 102, 100: None}

In [88]:
print('{'+f"{chr(97)}: None, {chr(98)}: None, {chr(99)}: {chr(102)}, {chr(100)}: None"+'}')

{a: None, b: None, c: f, d: None}

# 26  maketrans

<h3>Replace each character in the string using the given translation table.
    
</h3>

In [91]:
my_str = "Mubeen"

old = "en"
new = '_>'

txt = my_str.maketrans(old,new)
txt

{101: 95, 110: 62}

In [94]:
# use translate to convert in to characters

my_str.translate(txt)
# en replace to _>

'Mub__>'

# 27  partition

<h3>Partition the string into three parts using the given separator.

This will search for the separator in the string.  
<br><br>    
If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.
<br><br>    

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.
    

</h3>

In [99]:
my_str = "Mubeen-Ahmad"

my_str.partition('-')

('Mubeen', '-', 'Ahmad')

In [102]:
my_str.partition(',')

('Mubeen-Ahmad', '', '')

<h4>

Note: This method searches for the first occurrence of the specified string.
</h4>

In [103]:
my_str.partition('e')

('Mub', 'e', 'en-Ahmad')

# 28  rpartition

<h3>rpartition the string into three parts using the given separator .<br><br>
This method searches for the last occurrence (right-side) of the specified string.
<br><br>    
This will search for the separator in the string.  
<br><br>    
If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.
<br><br>    

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.
    

</h3>

In [106]:
# with partition

my_str.partition('e')

('Mub', 'e', 'en-Ahmad')

In [107]:
# with rpartition

my_str.rpartition('e')

('Mube', 'e', 'n-Ahmad')

# 29  zfill

<h3>Fills the string with a specified number of 0 values at the beginning 

</h3>

In [122]:
x = "Mubeen"

# len of string 6 + 4 = 10
x.zfill(10)

'0000Mubeen'

In [126]:
x.zfill(len(x)+10)

'0000000000Mubeen'

# 30  expandtab

<h3>Return a copy where all tab characters are expanded using spaces.
</h3>

In [145]:
x = "mubeen\tahmad"

x.expandtabs()

'mubeen  ahmad'

In [146]:
x.expandtabs(0)

'mubeenahmad'

In [147]:
x.expandtabs(1)

'mubeen ahmad'

In [148]:
x.expandtabs(10)

'mubeen    ahmad'

In [152]:
x.expandtabs(25)

'mubeen                   ahmad'

# 31  encode

<h3>Encode the string using the codec registered for encoding.<br><br>
default encoding='utf-8', errors='strict'

</h3>

In [154]:
x = "Mubeen"
x.encode()

b'Mubeen'

In [155]:
# german ss

x = "CROß"
x.encode()

b'CRO\xc3\x9f'

# 32  format

<h3>Return a formatted version of S, using substitutions from args and kwargs.
The substitutions are identified by braces ('{' and '}').

</h3>

In [156]:
name = "Mubeen"

In [159]:
"Welcome {var}".format(var=name)

'Welcome Mubeen'

In [164]:
n = "Ahmad"

"Welcome {0} {1}".format(name,n)

'Welcome Mubeen Ahmad'

In [165]:
"welcome {} {}".format(name,n)

'welcome Mubeen Ahmad'

# 33  format_map

<h3>Return a formatted version of S, using substitutions from mapping.<br><br>
The substitutions are identified by braces ('{' and '}').

</h3>

In [167]:
data = {"x":"Mubeen","y":"Ahmad"}

print("{x}'s last name is {y}".format_map(data))

Mubeen's last name is Ahmad

In [174]:
# Input dictionary
profession = { 
              'name':      ['Barry', 'Bruce'],
              'profession':['Engineer', 'Doctor'],
              'age':       [30, 31] 
             }



'{name[0]} is an {profession[0]} and he is {age[0]} years old.'.format_map(profession)

'Barry is an Engineer and he is 30 years old.'

In [173]:
'{name[1]} is an {profession[1]} and he is {age[1]} years old.'.format_map(profession)

'Bruce is an Doctor and he is 31 years old.'

# 34  removeprefix

<h3>Return a str with the given prefix string removed if present.<br><br>

If the string starts with the prefix string, return string[len(prefix):].
Otherwise, return a copy of the original string.

</h3>

In [190]:
x = "Mubeen Ahmad"

x.removeprefix('Mubeen')

' Ahmad'

In [191]:
x.removeprefix('Ahmad')

'Mubeen Ahmad'

In [192]:
x = "world4world"

In [193]:
x.removeprefix('world')

'4world'

# 35  removesuffix

<h3>Return a str with the given suffix string removed if present.<br><br>

If the string ends with the suffix string and that suffix is not empty,
return string[:-len(suffix)]. Otherwise, return a copy of the original
string.

</h3>

In [198]:
print(x)
x.removesuffix("world")

world4world

'world4'

In [199]:
x.removesuffix("world")

'world4'

# Checking Methods

# 36  isalnum

<h3>Return True if the string is an alpha-numeric string, False otherwise.<br><br>
</h3>

In [208]:
x = "Mub33n"

x.isalnum()

True

In [209]:
x = "mub**n"
x.isalnum()

False

# 37  isalpha

<h3>Return True if the string is an alphabetic string, False otherwise.<br><br>
</h3>

In [215]:
x = "Mubeen"

x.isalpha()

True

In [219]:
x = "Mube3n"

x.isalpha()

False

# 38  isascii

<h3>Return True if all characters in the string are ASCII, False otherwise.<br><br>
</h3>

In [227]:
x = "123abc**"

x.isascii()

True

In [229]:
x = "ß"
x.isascii()

False

# 39  isdecimal

<h3>Return True if the string is a decimal string, False otherwise.<br><br>
</h3>

In [234]:
x = "123"

x.isdecimal()

True

In [235]:
x = "12.3"

x.isdecimal()

False

# 40  isdigit

<h3>Return True if the string is a digit string, False otherwise.<br><br>
</h3>

In [236]:
x = "123"
x.isdigit()

True

In [246]:
x = "12A"
x.isdigit()

False

# 41  isnumeric

<h3>Return True if the string is a numeric string, False otherwise.<br><br>
</h3>

In [249]:
x = "123"
x.isnumeric()

True

In [250]:
x = "123.3"
x.isnumeric()

False

# 42  islower

<h3>Return True if the string is a lower string, False otherwise.<br><br>
</h3>

In [251]:
x = "mubeen"
x.islower()

True

In [252]:
x = "Mubeen"
x.islower()

False

# 43  isupper

<h3>Return True if the string is a upper string, False otherwise.<br><br>
</h3>

In [254]:
x = "MUBEEN"
x.isupper()

True

In [255]:
x = "Mubeen"
x.isupper()

False

# 44  istitle

<h3>Return True if the string is a title-case string, False otherwise.<br><br>
</h3>

In [260]:
x = "Mubeen"
x.istitle()

True

In [261]:
x = "mubeen"
x.istitle()

False

# 45  isspace

<h3>Return True if the string is in whitespace, False otherwise.<br><br>
</h3>

In [266]:
x = " "
x.isspace()

True

In [268]:
x = "Mubeen Ahmad"
x.isspace()

False

# 46  isprintable

<h3>Return True if the string is printable, False otherwise.<br><br>
</h3>

In [270]:
x = "Mubeen"
x.isprintable()

True

In [274]:
x = "Mubeen\n"
x.isprintable()

False

# 47  isidentifier

<h3>Return True if the string is a identifier, False otherwise.<br><br>
    A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

</h3>

In [279]:
x = "Mubeen_Ahmad"
x.isidentifier()

True

In [280]:
x = "Mubeen Ahmad"
x.isidentifier()

False