# A list is used to store the sequence of various types of data. 

<h3>
• Lists are mutable type (Change Able) its mean we can modify its element after it created
<br><br>
• The items in the list are separated with the comma (,) and enclosed with the square brackets [].
<br><br>
• Indexing are Allowed<br><br>
• List are Orderd<br><br>
• Duplicate Values are allowed<br><br>
• List are Dynamic




</h3>

# Difference Between List and Array

<h2>List</h2>
<h3>
The list is an important component used to collect multiple items in a single variable. 
<br><br>It has the ability to collect items that usually consist of elements of multiple data types.<br><br>These may include character logical values, numeric values, and more.
</h3><br><br>
<h2>Array</h2>
<h3>An array is also a vital component that collects several items. Arrays are also known as data structure.<br><br>Python has several in-built data structures, such as arrays.<br><br>Most Languages arrays are static but in python arrays are Dynamic 
</h3>

<table>
    
<td style="color:#5d2ade; font-size:30px;   text-align: center;">List</td>
      
<td style="color:#d96518; font-size:30px;   text-align: center;">Arrays</td>
  
</tr>
 <tr>

<td style="color:#5d2ade; font-size:20px;"><p>List is used to collect items that usually consist of elements of multiple data types.</p></td>
      
<td style="color:#d96518; font-size:20px;"><p>An array is also a vital component that collects several items of the same data type.</p></td>
  
</tr>
 <tr>

<td style="color:#5d2ade; font-size:20px;"><p>List cannot manage arithmetic operations.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>Array can manage arithmetic operations.</p></td>
</tr>

<tr>

<td style="color:#5d2ade; font-size:20px;"><p>It consists of elements that belong to the different data types.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>It consists of elements that belong to the same data type.</p>
    
</td></tr>
<tr>
<td style="color:#5d2ade; font-size:20px;"><p>When it comes to flexibility, the list is perfect as it allows easy modification of data.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>When it comes to flexibility, the array is not suitable as it does not allow easy modification of data.</p></td>

</tr>

<tr>
<td style="color:#5d2ade; font-size:20px;"><p>It consumes a larger memory.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>It consumes less memory than a list.</p></td>

</tr>

 <tr>
<td style="color:#5d2ade; font-size:20px;"><p>In a list, the complete list can be accessed without any specific looping.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>In an array, a loop is mandatory to access the components of the array.</p></td>

</tr>

 <tr>
<td style="color:#5d2ade; font-size:20px;"><p>It favors a shorter sequence of data.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>It favors a longer sequence of data.</p></td>

</tr>


 <tr>
<td style="color:#5d2ade; font-size:20px;"><p>Lists are Hetrogenous means Multiples data types are allowed<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>Arays are Homogenous means Only Single data types are allowed</p></td>

</tr>

</table>

# Flow of arrays in Memory

<h3>
e.g in c language <br><br> int arr[50];<br><br> lets Assume that values of array is [1,2,3,4] 
 <br><br>Inside the memory block 
    <div style="border:5px solid red; height:99px; width:600px; position:relative; margin: auto;
  width: 50%;
">
        <div style="background:orange; height:90px; width:80px; position:absolute; font-size:15px; text-align:center; line-height:90px;" >binary of 1</div>
        <div style="background:yellow; height:90px; width:80px;position:absolute; margin-left:85px;font-size:15px; text-align:center; line-height:90px;" >binary of 2</div>
        <div style="background:#ff8c9f; height:90px; width:80px;position:absolute; margin-left:170px;font-size:15px; text-align:center; line-height:90px;" >binary of 3</div>
        <div style="background:#279bd9; height:90px; width:80px;position:absolute; margin-left:255px;font-size:15px; text-align:center; line-height:90px;" >binary of 4</div>
</div>
<br><br>

And address of array is binary of 1
                

</h3>

# Flow of Lists in Memory

<h3>
e.g in python language <br><br> l = [1,2,3]  
 <br><br>Inside the memory block first values are stored in different memory Locations<br><br>
     <div style="border:5px solid red; height:99px; width:600px; position:relative; margin: auto;
  width: 50%;
">
        <div style="background:orange; height:90px; width:80px; position:absolute; font-size:15px; text-align:center; line-height:30px;" >1 <br> Address 500</div>
        <div style="background:yellow; height:90px; width:80px;position:absolute; margin-left:85px;font-size:15px; text-align:center; line-height:30px;" >2<br> Address 600</div>
        <div style="background:#ff8c9f; height:90px; width:80px;position:absolute; margin-left:170px;font-size:15px; text-align:center; line-height:30px;" >3<br> Address 700</div>
</div>
<br><br>
Now generate a separate block of list and Reference Values are Stored<br><br>
<div style="border:5px solid green; height:99px; width:600px; position:relative; margin: auto;
  width: 50%;
">
  <div style="background:orange; height:90px; width:80px; position:absolute; font-size:15px; text-align:center; line-height:90px;" >500</div>
        <div style="background:yellow; height:90px; width:80px;position:absolute; margin-left:85px;font-size:15px; text-align:center; line-height:90px;" >600</div>
        <div style="background:#ff8c9f; height:90px; width:80px;position:absolute; margin-left:170px;font-size:15px; text-align:center; line-height:90px;" >700</div>
</div>           

</h3>

# Example

In [4]:
l = [1,2,3]

In [5]:
# check list items address

id(l[0]) , id(l[1]), id(l[2])

(140310685237488, 140310685237520, 140310685237552)

In [7]:
# now check the address of 1 , 2 ,3

id(1), id(2), id(3)

# Address are match

(140310685237488, 140310685237520, 140310685237552)

In [11]:
# now print the value with address

import ctypes

print(ctypes.cast(140310685237488, ctypes.py_object).value)
print(ctypes.cast(140310685237520, ctypes.py_object).value)
print(ctypes.cast(140310685237552, ctypes.py_object).value)

1
2
3

# Create List

In [1]:
l = [1,2,3]
print(l,type(l))

[1, 2, 3] <class 'list'>

In [2]:
# allowed multiple datatypes

l = [1,'a',1.2,True]
print(l,type(l))

[1, 'a', 1.2, True] <class 'list'>

<h1> <a href="https://github.com/Mubeen-Ahmad/python_11/blob/main/Python/4_Strings/1_strings.ipynb" target="_blank">Indexing , Slicing , and skip Argument</a></h1>


<h2>
There is a same concept of string indexing, Slicing , Skip Argument in List<br><br>
we also used negative indexing and slicing in List
</h2>

In [3]:
# indexing

l = [1,2,3]

print(l[0])
print(l[1])
print(l[-1])

1
2
3

In [4]:
# slicing

l = [1,2,3,4,5,6,7,8,9,10]

print(l[0:])
print(l[0:3])
print(l[:-1])
print(l[-5:-2])

# reverse list
print(l[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
# skip argument

print(l[::2])
print(l[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [6]:
print(l[::3])

[1, 4, 7, 10]

# list are Ordered

In [7]:
l = [5,4,3,2,1]
print(l)

[5, 4, 3, 2, 1]

In [8]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

# Immutable (Change able)

In [9]:
l = ['Mubeen',"Ahmad"]
print(l,id(l))

['Mubeen', 'Ahmad'] 140317006818944

In [10]:
l[0] = "Ali"
print(l,id(l))

['Ali', 'Ahmad'] 140317006818944

In [11]:
l[0] = ""
print(l,id(l))

['', 'Ahmad'] 140317006818944

In [12]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [13]:
l1[1:-1] = l2[1:-1]

In [14]:
l1

[1, 7, 8, 9, 5]

# Type Conversion list

In [15]:
x = 'hello'
print(x,type(x))

hello <class 'str'>

In [16]:
x = list(x)
print(x,type(x))

['h', 'e', 'l', 'l', 'o'] <class 'list'>

# Constructor list()

In [17]:
x = list((1,2,3))
x

[1, 2, 3]

# Create Empty List

In [18]:
x = []
print(x,type(x))

[] <class 'list'>

In [19]:
# with constructor

x = list()
print(x,type(x))

[] <class 'list'>

# Note ! Square Brackets are represent the List

In [20]:
type([])

list

# Nesteds List

In [21]:
x = [1,2,['a','b'],['c','d',['e','f']]]

In [22]:
x[2]

['a', 'b']

In [23]:
x[3]

['c', 'd', ['e', 'f']]

In [24]:
x[3][2]

['e', 'f']

# Unpacking List

In [25]:
x = [1,2,3]

In [26]:
v1,v2,v3 = x

In [27]:
print(v1,v2,v3)

1 2 3

In [28]:
v1,v2 = x

ValueError: too many values to unpack (expected 2)

# Multi Unpacking

In [29]:
v1,*v2 = x

In [30]:
print(v1,v2)

1 [2, 3]

# List also stored methods and function or object

In [20]:
l = [print,len,input]

In [21]:
n = l[2]("Enter Your Name :- ")

Enter Your Name :- Mubeen

In [22]:
l[0](n)

Mubeen

In [23]:
l[1](n)

6

# Methods

<h2>
There are 11 bulit-In Methods in list

</h2>

<h2>• 1 append</h2>
<h3>Append object to the end of the list</h3>

In [31]:
l1 = [1,2,3]
print(l)

['', 'Ahmad']

In [32]:
l1.append(4)

In [33]:
l1

[1, 2, 3, 4]

In [34]:
# adding list
l1.append([5,6,7,8,9,10])

In [35]:
l1

[1, 2, 3, 4, [5, 6, 7, 8, 9, 10]]

<h2>• 2 extend</h2>
<h3>Extend list by appending elements from the iterable</h3>

In [36]:
l1 = [1,2,3]
l1

[1, 2, 3]

In [37]:
l1.extend([4,5,6,7])

In [38]:
l1

[1, 2, 3, 4, 5, 6, 7]

# Difference in append and extend

<h3>append take the object while extend take the iterable</h3>

In [39]:
l1 = [1,2]
l1.append([3,4,5])
l1

[1, 2, [3, 4, 5]]

In [40]:
l2 = [1,2]
l2.extend([3,4,5])
l2

[1, 2, 3, 4, 5]

<h2>• 3 insert</h2>
<h3>Insert the value of specfic positon by index. first parameter are position and second is Value <br><br>value and position parameter are important

In [41]:
l1 = ['a','b','c']

In [42]:
value = 'x'
pos = 1

l1.insert(pos,value)

In [43]:
l1

['a', 'x', 'b', 'c']

In [44]:
l1.insert(0,80)
l1

[80, 'a', 'x', 'b', 'c']

<h3>insert method are not add the value at the Last</h3>

In [45]:
l1.insert(-1,100)
l1

[80, 'a', 'x', 'b', 100, 'c']

In [46]:
# add list
l1.insert(3,['hello',"World"])
l1

[80, 'a', 'x', ['hello', 'World'], 'b', 100, 'c']

<h2>• 4 index</h2>
<h3>Return index of value.<br><br>If the value are not found than they return the Error<br><br> start and end parameter are optional

In [49]:
l = ['a','b','c']

l.index('c')

2

In [53]:
l.index('a')

0

In [56]:
l = ['a','b','b','b','c']
l.index('b')

1

In [58]:
# change start postion for find 2nd b

start = 2
l.index('b',start)

2

In [83]:
l = ['c','y','y','y']
l.index('y',0)

1

In [85]:
# change end position
l.index('y',2,3)

2

In [87]:
# here y also in 3rd postion but i change end position that's why return the error

l.index('y',3,3)

ValueError: 'y' is not in list

In [88]:
# also used negative indexing

l.index('y',-1)

3

<h2>• 5 count</h2>
<h3>Return number of occurrences of value.</h3>

In [92]:
l = ['a','b','d','t','d']
l.count('d')

2

In [93]:
l.count('a')

1

In [94]:
l.count("x")

0

<h2>• 6 remove</h2>
<h3>Return number of occurrences of value.<br><br>Return Error if the value are not in list</h3>

In [95]:
l = ['a','b','c','c']

In [96]:
l.remove('c')

In [97]:
# remove only first c
l

['a', 'b', 'c']

In [98]:
l.remove('c')

In [99]:
l

['a', 'b']

In [100]:
l.remove('x')

ValueError: list.remove(x): x not in list

<h2>• 7 pop</h2>
<h3>Remove and return item at index . <br><br>if we dont take the index then they remove and return the value</h3>

In [112]:
l = ['a','b','c']

In [113]:
# a  are remove and they return the removed value
l.pop(0)

'a'

In [114]:
l

['b', 'c']

In [115]:
# last value are removed
l.pop()

'c'

In [116]:
l

['b']

<h2>• 8 copy</h2>
<h3>Return a shallow copy of the list.</h3>

In [117]:
l = ['x','y','z']

In [118]:
l2 = l.copy()

In [119]:
l2

['x', 'y', 'z']

In [120]:
# both add address are different
id(l),id(l2)

(140316485631232, 140316485212992)

<h3>Why we used copy method if we are using = assignment to other variable ?</h3>

In [121]:
l = ['a','b']
l2 = l

In [122]:
id(l),id(l2)

(140316485713280, 140316485713280)

<h3>Both address are same means if i changes in l2 than l also changed</h3>

In [123]:
# e.g remove last b 
l2.pop()

'b'

In [124]:
# see l also change 
l

['a']

In [125]:
l = [1,2,3]
l2 = l.copy()

In [126]:
# lets changes in l2
l2.pop()
# 3 are remove in l2

3

In [128]:
l2

[1, 2]

In [130]:
# lets check l
l

# so thats why we are used copy method

[1, 2, 3]

<h2>• 9 reverse</h2>
<h3>Reverse the list</h3>

In [132]:
l = [1,2,3]
l

[1, 2, 3]

In [137]:
l.reverse()

In [138]:
l

[3, 2, 1]

<h2>• 10 clear</h2>
<h3>Remove all items from list.</h3>

In [141]:
l = [1,2,3,4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [143]:
l.clear()

In [144]:
# now list are empty 
l

[]

<h2>• 11 sort</h2>
<h3>Sort the list in ascending order and return None.<br><br>key and reverse parameter are optional and in default reverse is false</h3>

In [152]:
l = [5,3,1,4,2]
l

[5, 3, 1, 4, 2]

In [153]:
l.sort()

In [155]:
# now list are sorted
l

[1, 2, 3, 4, 5]

In [156]:
l = ['b','c','a']
l

['b', 'c', 'a']

In [158]:
l.sort()
l

['a', 'b', 'c']

In [159]:
# reverse true parameter

l = ['b','a','c']
l

['b', 'a', 'c']

In [160]:
# list are sorted in reverse order
l.sort(reverse=True)
l

['c', 'b', 'a']

In [168]:
# key parameter
# we are used own function in key parameter

l = ["12345",'1234','1']
l

['12345', '1234', '1']

In [170]:
# now sort the list length wise
l.sort(key=len)
l

['1', '1234', '12345']

In [171]:
l = ["12345",'1234','1']
l

['12345', '1234', '1']

In [185]:
def minimun(lst):
    return min(lst)

In [186]:
# sort list minimum wise
l.sort(key=minimun)
l

['1', '1234', '12345']

# List Interning

<h3>Python are not intern the list means same objects consider as a new object</h3>

In [4]:
y = [1,2]
x = [1,2]

print(id(x))
print(id(y))

139982350416384
139982350409600

<h3>But elements of lists are interned</h3>

In [7]:
l = ["a","a","v"]

print(id(l[0]))
print(id(l[1]))
print(id(l[2]))

139982403601904
139982403601904
139982403391856

In [8]:
l = [1,1,0]

print(id(l[0]))
print(id(l[1]))
print(id(l[2]))

139982404681968
139982404681968
139982404681936

<h3>Refference of lists are interned</h3>

In [10]:
l = [1]
x = l

print(id(l))
print(id(x))

139982350619776
139982350619776

<h3 style="color:#4e2abd;">Use of List Operators</h3>

<h3 style="color:#f21852;">• Concatenation</h3>

In [2]:
l1 = [1,2,3]
l2 = [4,5,6]

print(l1+l2)

[1, 2, 3, 4, 5, 6]

<h3 style="color:#f21852;">• Repetition</h3>

In [3]:
l1 = [1,2,3]

l1 * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

<h3 style="color:#f21852;">• Comparison</h3>

In [4]:
# equal
[1,2] == [1,2]

True

In [5]:
# not equal
[1,2] != [1,2]

False

In [12]:
# greater than
[1,2] > [1,0]

True

In [16]:
# greater than and equal
[1,2] >= [1,2]

True

In [17]:
# shorter than
[0,0] < [1,0]

True

In [27]:
# shorter than equal
[0,0] <= [0,0]

True

<h3 style="color:#f21852;">• Membership</h3>

In [28]:
# in 

3 in [1,2,3,4]

True

In [31]:
# not in 

3 not in [1,2,3,4]

False