<h3 style="color:#4e2abd;">1) add<br><br>Add an element to a set.

This has no effect if the element is already present.</h3>

In [32]:
s = {1,2}
s

{1, 2}

In [33]:
s.add(3)
s

{1, 2, 3}

In [34]:
# skip duplicate values

s.add(1)
s

{1, 2, 3}

In [35]:
# add only hashable datatype

s.add("hello")
s

{1, 2, 3, 'hello'}

In [37]:
# add set

s.add((1,2,3))
s

{(1, 2, 3), 1, 2, 3, 'hello'}

In [39]:
# (1, 2, 3) are already add but what happend if i add (3,2,1) is (3,2,1) are treat as order ?

s.add((3,2,1))
s
# So (1,2,3) and (3,2,1) are different

{(1, 2, 3), (3, 2, 1), 1, 2, 3, 'hello'}

In [40]:
# Unhasable data type not allowd
s.add({2,3,4})

# set is unhasable

TypeError: unhashable type: 'set'

<h3 style="color:#4e2abd;">2) update<br><br> Update a set with the union of itself and others. <br><br>update method treat as like treat a union<br><br> update return a iterable</h3>

In [52]:
s1 = {1,2,3}
s2 = {1,2,3,4}

s1.update(s2)

In [51]:
# only 4 are add
s1

{1, 2, 3, 4}

# Difference Between add and update

In [53]:
s1 = {1,2,3}
s2 = {1,2,3,4}

s1.add(s2)

# add take a hashable datatype and single value
# but update take a iterable even value are hashable or not

TypeError: unhashable type: 'set'

In [54]:
s1 = {1,2,3}
s2 = [1,2,3,4]

s1.update(s2)
s1

{1, 2, 3, 4}

In [56]:
s1 = {1,2,3}
s2 = (1,2,3,4)

s1.add(s2)
s1

# This is a difference between add and update

{(1, 2, 3, 4), 1, 2, 3}

<h3 style="color:#4e2abd;">3) discard<br><br>Remove an element from a set if it is a member.

If the element is not a member, do nothing.</h3>

In [58]:
s = {1,2,3}
s.discard(3)
s

{1, 2}

In [62]:
# 0 are not in the set but they are not return a Error
s.discard(0)
s

{1, 2}

In [67]:
# also remove the string

s = {1,2,"a"}
s

{1, 2, 'a'}

In [68]:
s.discard("a")

In [69]:
s

{1, 2}

In [71]:
# remove set

s = {1,2,3,(1,2,3)}
s

{(1, 2, 3), 1, 2, 3}

In [73]:
s.discard((1,2,3))
s

{1, 2, 3}

<h3 style="color:#4e2abd;">4) remove<br><br>Remove an element from a set; it must be a member.

If the element is not a member, raise a KeyError.</h3>

In [78]:
s = {1,2,3}
s.remove(2)

In [75]:
s

{1, 3}

In [79]:
s.remove(2)

KeyError: 2

# Difference in remove and discard

In [83]:
# discard can't return a Error if the given value are not found
# remove return a Error if the given value are not found

s.discard(2)
s

{1, 3}

In [89]:
# remove tuple

s = {1,2,3,(2,3)}
s

{(2, 3), 1, 2, 3}

In [90]:
s.remove((2,3))
s

{1, 2, 3}

<h3 style="color:#4e2abd;">5) pop<br><br>Remove and return an arbitrary set element.
Raises KeyError if the set is empty.<br><br>In list and dictionary pop take a optional argument but in set pop are not take a Argument

</h3>

In [102]:
s = {2,3}
s.pop()
s

{3}

In [103]:
s.pop()
s

set()

In [104]:
# Raise a Error it the set are empty

s.pop()

KeyError: 'pop from an empty set'

In [110]:
# remove value depend on hashes ''

s = {1,2,(3,4)}
s

{(3, 4), 1, 2}

In [111]:
s.pop()
s

{(3, 4), 2}

In [112]:
s.pop()
s

{(3, 4)}

In [113]:
s.pop()
s

set()

<h3 style="color:#4e2abd;">6) clear<br><br>Remove all elements from this set.

</h3>

In [118]:
s = {1,2,3}

s.clear()
s

set()

<h3 style="color:#4e2abd;">7) copy<br><br>Return a shallow copy of a set.

</h3>

In [131]:
s1 = {1,2,3,4}
s2 = s1
s2.clear()


s1

set()

In [132]:
s2

set()

In [133]:
# use copy method 
s1 = {1,2,3,4}
s2 = s1.copy()
s2.clear()
s1

{1, 2, 3, 4}

In [134]:
s2

set()

<h3 style="color:#4e2abd;">8) union<br><br>Return the union of sets as a new set.

(i.e. all elements that are in either set.)

</h3>

In [136]:
s1 = {1,2,3}
s2 = {1,2,3,4}

In [144]:
s1.union(s2)

{1, 2, 3, 4}

In [143]:
s1

{1, 2, 3, 4}

# Difference Between update and union

In [145]:
# update update the set but union can't change the set 

s1 = {1,2,3}
s2 = {1,2,3,4}
s1.update(s2)

In [146]:
s1

{1, 2, 3, 4}

In [178]:
# union 
s1 = {1,2,3}
s2 = {1,2,3,4}

In [179]:
s1.union(s2)

{1, 2, 3, 4}

In [180]:
# union only return a value but update not return a value 
s1

{1, 2, 3}

In [181]:
# also use | operator for uinion

s1 | s2

{1, 2, 3, 4}

<h3 style="color:#4e2abd;">9) intersection 
<br><br>The intersection() method returns a set that contains the similarity between two or more sets
</h3>

In [171]:
s1 = {1,2,3}
s2 = {1,2,4}

In [172]:
s1.intersection(s2)

{1, 2}

In [173]:
# also use & operator for intersection
s1 & s2

{1, 2}

<h3 style="color:#4e2abd;">10) intersection_update 
<br><br>The intersection_update method `update` a set that contains the similarity between two or more sets
</h3>

In [162]:
# e.g 

s1 = {1,2,3}
s2 = {1,2,4}
s1.intersection(s2)

# s1 can not update
s1

{1, 2, 3}

In [166]:
s1 = {1,2,3}
s2 = {1,2,4}
s1.intersection_update(s2)

# s1 are update

s1

{1, 2}

<h3 style="color:#4e2abd;">11) difference
 
<br><br>The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.
</h3>

In [183]:
s1 = {1,2,3}
s2 = {1,2,4}

s1.difference(s2)

{3}

In [184]:
# also use check difference - operator
s1 - s2

{3}

<h3 style="color:#4e2abd;">12) difference_update
 
<br><br>The difference_update() method update a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.
</h3>

In [185]:
s1 = {1,2,3}
s2 = {1,2,4}

s1.difference_update(s2)
s1
# s1 are updated

{3}

<h3 style="color:#4e2abd;">13) symmetric_difference
 
<br><br>The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.
</h3>

In [213]:
s1 = {1,2,3}
s2 = {1,2,4}

s1.symmetric_difference(s2)

{3, 4}

In [214]:
s1

{1, 2, 3}

In [215]:
# also use ^ operater for symmetric difference

s1 ^ s2

{3, 4}

<h3 style="color:#4e2abd;">14) symmetric_difference_update
 
<br><br>The symmetric_difference_update() method update a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.
</h3>

In [189]:
s1 = {1,2,3}
s2 = {1,2,4}

s1.symmetric_difference_update(s2)

In [191]:
s1
# s1 are updated

{3, 4}

<h3 style="color:#4e2abd;">15) isdisjoint <br><br>The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.</h3>

In [196]:
s1 = {1,2}
s2 = {4,5}

s1.isdisjoint(s2)

True

In [197]:
s1 = {1,2}
s2 = {1,5}

s1.isdisjoint(s2)

False

In [199]:
s1 = {1,2}
s2 = {8,5}

s1.isdisjoint(s2)

True

<h3 style="color:#4e2abd;">16) issubset <br><br>The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.</h3>

In [205]:
s1 = {'a','b','c'}
s2 = {'a','d','e'}

s1.issubset(s2)

False

In [207]:
s1 = {'a','b','c'}
s2 = {'a','d','e','b','c'}

s1.issubset(s2)

True

<h3 style="color:#4e2abd;">17) issuperset <br><br>The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.</h3>

In [211]:
s1 = {'a','b','c'}
s2 = {'a','d','e','b','c'}

s1.issuperset(s2)

False

In [212]:
s1 = {'a','b','c'}
s2 = {'a','b','c','b','c'}

s1.issuperset(s2)

True