# Lambda Function

<h3 style="color:#4e2abd;">
Python Lambda Functions are anonymous function means that the function is without a name.<br>As we already know that the def keyword is used to define a normal function in Python.<br>Similarly, the lambda keyword is used to define an anonymous function in Python.<br><br>• This function can have any number of arguments but only one expression, which is evaluated and returned.<br><br>• You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression<br><br>• It has various uses in particular fields of programming, besides other types of expressions in functions.
</h3>

### Syntax
## lambda arguments: expression

In [5]:
name = lambda arg1 : "Welcome "+arg1

In [7]:
name("Mubeen")

'Welcome Mubeen'

### This function can have any number of arguments but only one expression, which is evaluated and returned.

# Example

In [11]:
lambda arg1,arg2 : arg1,arg2

NameError: name 'arg2' is not defined

# but we can use any iterable data type

In [12]:
x = lambda arg1,arg2 : (arg1,arg2)

x("Mubeen","Ahmad")

('Mubeen', 'Ahmad')

In [14]:
x = lambda arg1,arg2 : [arg1,arg2]

x("Mubeen","Ahmad")

['Mubeen', 'Ahmad']

In [16]:
x = lambda arg1 : arg1

x("Mubeen","Ahmad")

TypeError: <lambda>() takes 0 positional arguments but 2 were given

## You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.

### Means if we have multiple expression than use simple function

In [23]:
age = lambda age : age > 10

In [26]:
age(10)

False

In [27]:
age(11)

True

## use simple function if we have multiples expression

In [29]:
def age(age):
    if age > 10:
        return 0
    return 1

In [30]:
age(10)

1

In [31]:
age(11)

0

# Call lambda function in one line

In [38]:
(lambda : "hello")()

'hello'

## Conditions with lambda

In [42]:
greater = lambda a, b : a if(a > b) else b

In [43]:
greater(10,11)

11

In [44]:
greater(30,11)

30

## Find Greater Number

In [73]:
data = [[4,3,2],[1, 4, 16, 64],[3, 6, 9, 12]]

# find every greater number in 3 lists

In [129]:
greater =  lambda arg : list( max(sorted(i)) for i in arg )
greater(data)

[4, 64, 12]

In [132]:
second_greater = lambda ds: ( i[len(i)-2]  for i in ds) 

list(second_greater(data))

[3, 16, 9]

# Using lambda() Function with filter()
<h3 style="color:#4e2abd;">
    The filter() function in Python takes in a function and a list as arguments. <br>This offers an elegant way to filter out all the elements of a sequence “sequence”, for which the function returns True.
</h3>

In [194]:
number = [1,2,3,4,5,6,7]

# even numbers
list(filter(lambda n: n %2== 0 ,number))

[2, 4, 6]

# Using lambda() Function with map()

<h3 style="color:#4e2abd;">The map() function in Python takes in a function and a list as an argument. <br>The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item
</h3>

In [196]:
data = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [198]:
list(map(lambda i: i*2,data))

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

# Using lambda() Function with reduce()

<h3 style="color:#4e2abd;">
The reduce() function in Python takes in a function and a list as an argument. <br><br>The function is called with a lambda function and an iterable and a new reduced result is returned. <br><br>This performs a repetitive operation over the pairs of the iterable.<br> <br>The reduce() function belongs to the functools module.</he>

In [232]:
from functools import reduce

In [238]:
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

In [246]:
reduce(lambda a, b: a if a > b else b,[1, 3, 5, 6, 2,])

6