

<br>

- ### x{n,}
  - ### Match n or More Occurrences
  - ### o{3,} in "Hellooo, hoooow are yoooooou" -> ooo oooo oooooo

<br>

- ### x{n1,n2}
  - ### Occurrences Between n1 to n2
  - ### o{3,4} in "Hellooo, hoooow are yoooooou" -> ooo oooo oooo


<br><br><br>

- ### [abc]
    - ### Returns a match where one of the specified characters is present

In [1]:
import re

In [2]:
text = "abc123xyzx"

pattern = re.compile(r"[xc]")
pattern.findall(text)

['c', 'x', 'x']

- ### [a-c]
- ### Returns a match for any lower case character, alphabetically between a and c

In [3]:
text = "abcdcefg"

pattern = re.compile(r"[a-c]")
pattern.findall(text)

['a', 'b', 'c', 'c']

- ### [^ac]
- ### Returns a match for any character EXCEPT a and c

In [4]:
text = "abcdcefg"

pattern = re.compile(r"[^ac]")
pattern.findall(text)

['b', 'd', 'e', 'f', 'g']

- ### [0-3]
    - ### Returns a match for any digit between 0 and 3

In [5]:
text = "0123456"

pattern = re.compile(r"[0-3]")
pattern.findall(text)

['0', '1', '2', '3']

- ### [0-5][0-9]
- ### Returns a match for any two-digit numbers from 00 and 59

In [22]:
text = "105060"

pattern = re.compile(r"[0-5][0-9]") # extract range 00 to 59
pattern.findall(text)

['10', '50']

- ### [a-zA-Z]
- ### Returns a match for any character alphabetically between a and z, lower case OR upper case

In [24]:
text = "ABCDEFGabcdefg"

pattern = re.compile(r"[a-cC-E]")
pattern.findall(text)

['C', 'D', 'E', 'a', 'b', 'c']

<br>

- ### {n,}
- ### Match n or More Occurrences

In [26]:
text = "Helloo Hellooo, hoooow are yoooooou"

pattern = re.compile(r"o{3,}")
pattern.findall(text)

['ooo', 'oooo', 'oooooo']

- ### x{n1,n2}
  - ### Occurrences Between n1 to n2

In [27]:
text = "Hellooo, hoooow are yoooooou"
pattern = re.compile(r"o{3,4}")
pattern.findall(text)

['ooo', 'oooo', 'oooo']