# What is Iterators

<h3 style="color:#4e2abd;"> An iterator is an object that contains a countable number of values.<br><br>
    An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.<br><br>
    In Python, an iterator is an object which implements the iterator protocol, which consist of the methods<br><br> iter() and __next__().
</h3>

# What is Iterable

<h3 style="color:#4e2abd;">
    Â Iterables are objects that can be iterated in iterations.<br><br>
    Lists, tuples, strings,dictionaries, and sets are all iterable objects.<br><br> They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:
 </h3>

In [46]:
# Examle 

l = ["Mubeen","Ahmad","Hamza"]

In [47]:
type(l)

list

## Here List is iterable <br><br>Now Convert iterable to Iterator with the help of iter()

In [48]:
l = iter(l)

In [49]:
type(l)

list_iterator

## Now l is Iterator <br><br>

## Now use next() funtion use for Traversing (one by one Accessing)

In [53]:
l

In [54]:
next(l)

'Mubeen'

In [55]:
next(l)

'Ahmad'

In [56]:
next(l)

'Hamza'

## Traversing are Complete
## Now if i try to next(l) Traverse than Raise Error

In [57]:
next(l)

StopIteration:

# So If we Need the Interation or Traversing the Iterables objects (list,Lists, tuples, dictionaries, strings and sets) than we need to first convert Iterables to iterators
<br><br>
# Try to Traverse Iterables without converting in iterators

In [70]:
l = ["Mubeen","ALi","Hamza"]

In [71]:
next(l)

TypeError: 'list' object is not an iterator

# So list are not iterator so we need to convert first in Iterator with iter() function

In [72]:
l = iter(l)
type(l)

list_iterator

In [73]:
# now traversing

next(l)

'Mubeen'

In [74]:
next(l)

'ALi'

In [75]:
next(l)

'Hamza'

 <img src="../../images/itr.png" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">

## we also use `.__iter__ ` and `.__next__` instead of next() , iter()

In [86]:
x = (1,2,3,4)

In [90]:
x = x.__iter__()
type(x)

tuple_iterator

In [91]:
x.__next__()

1

In [92]:
x.__next__()

2

In [93]:
x.__next__()

3

In [94]:
x.__next__()

4

# Difference Between Iterators and Iterables

<h3 style="color:#4e2abd;">
   Iterable Can be iterated (traversing) using for loop.<br><br>
   Iterators Can also be iterated(traversing) using for loop
</h3>

In [95]:
l = [1,2,3,4]

for i in l:
    print(i)

1
2
3
4

In [96]:
l = iter(l)

for i in l:
    print(i)

1
2
3
4

<h3 style="color:#4e2abd;">
Iterables support iter() function.<br><br>
Iterators support iter() and next() function
</h3>

In [100]:
l = [1,2,3,4]

next(l)

TypeError: 'list' object is not an iterator

In [102]:
l = iter(l)

In [103]:
next(l)

1

In [104]:
next(l)

2

In [105]:
next(l)

3

<h3 style="color:#4e2abd;">
Iterables are not Iterators (Support Traversing one by one).<br><br>
Iterators are Iterators (Support Traversing one by one )
</h3>

In [106]:
l = [1,2,3]

next(l)

TypeError: 'list' object is not an iterator

In [107]:
l = iter(l)
next(l)

1

# Note iterator are stored single iteration at a time

## Example

In [7]:
l = [1,2,3]

for i in l:
    print(i,id(i))

1 140613733400816
2 140613733400848
3 140613733400880

In [8]:
print(i)

3

## here i stored 3 values 
## its same like as reassign the values means previous value are also stored in Memory

# Example

In [9]:
i = 1
print(i,id(i))

i = 2
print(i,id(i))

i = 3
print(i,id(i))

1 140613733400816
2 140613733400848
3 140613733400880

In [10]:
print(i)

3

## if we are used iterator then iterator remove previous value in Memory

# Example

In [23]:
l = [1,2,3]

gen = iter(l)
print(type(gen))

<class 'list_iterator'>

In [24]:
for i in gen:
    print(i,id(i))

1 140613733400816
2 140613733400848
3 140613733400880

## Previous Values are removed

In [32]:
# loop not working
for i in gen:
    print(i,id(i))

# Example

In [38]:
l = [1,2,3]
gen = iter(l)

In [39]:
next(gen)

1

In [40]:
next(gen)

2

In [41]:
next(gen)

3

In [42]:
next(gen)

StopIteration: