# A tuple in Python is similar to a list. <br><br>The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

<h3>
• Tuples are Immutable
<br><br>
• The items in the tuple are separated with the comma (,) and enclosed with the round brackets ().
<br><br>
• Indexing are Allowed<br><br>
• Tuple are Orderd<br><br>
• Duplicate Values are allowed<br><br>
• Tuple are Static<br><br>
• Multiple data Types are allowed




</h3>

# Difference Between List and Tuple

<table>
    
<td style="color:#5d2ade; font-size:30px;   text-align: center;">List</td>
      
<td style="color:#d96518; font-size:30px;   text-align: center;">Tuple</td>
  
</tr>
 <tr>

<td style="color:#5d2ade; font-size:20px;"><p>Lists are mutable.</p></td>
      
<td style="color:#d96518; font-size:20px;"><p>Tuple are Immutable.</p></td>
  
</tr>
 <tr>

<td style="color:#5d2ade; font-size:20px;"><p>The implication of iterations is Time-consuming<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>The implication of iterations is comparatively Faster</p></td>
</tr>

<tr>

<td style="color:#5d2ade; font-size:20px;"><p>The list is better for performing operations, such as insertion and deletion.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>Tuple data type is appropriate for accessing the elements.</p>
    
</td></tr>
<tr>
<td style="color:#5d2ade; font-size:20px;"><p>Lists consume more memory.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>Tuple consumes less memory as compared to the list</p></td>

</tr>

<tr>
<td style="color:#5d2ade; font-size:20px;"><p>It consumes a larger memory.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>Tuple does not have many built-in methods.</p></td>

</tr>

 <tr>
<td style="color:#5d2ade; font-size:20px;"><p>List are Dynamic.<p>
</td>
      
<td style="color:#d96518; font-size:20px;"><p>Tuple are Static.</p></td>

</tr>
</table>

<h3 style="color:#4e2abd;">Create a tuple</h3>

In [8]:
x = (1,'a',True,1.2,[33,44],(33,22))
x

(1, 'a', True, 1.2, [33, 44], (33, 22))

<h3 style="color:#4e2abd;">Indexing are allowed</h3>

In [11]:
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])

1
a
True
1.2
[33, 44]
(33, 22)

In [29]:
# also use negative indexing , slicing and step argument

t = (1,2,3,4)

print(t[3:])
print(t[-5:])
print(t[-3:-1])
# skip argument
print(t[0::2])

(4,)
(1, 2, 3, 4)
(2, 3)
(1, 3)

<h3 style="color:#4e2abd;">Tuples are Orderd</h3>

In [12]:
t = (8,1,9)
t

(8, 1, 9)

<h3 style="color:#4e2abd;">Duplicates are allowed</h3>

In [14]:
t = (1,1,1,1)
t

(1, 1, 1, 1)

<h3 style="color:#4e2abd;">Create Single element of tuple</h3>

In [17]:
t = (8)

print(type(t))

<class 'int'>

In [18]:
# Use , for creating a single typle
t = (8,)

print(type(t))

<class 'tuple'>

<h3 style="color:#4e2abd;">Tuple are immutable means unchangeable</h3>

In [31]:
t = (1,2,3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

<h3 style="color:#4e2abd;">Nested Tuple</h3>

In [48]:
t = ((1,2),(3,4))

In [49]:
t[0]

(1, 2)

In [50]:
t[1]

(3, 4)

<h3 style="color:#4e2abd;">Tuple Unpacking</h3>

In [53]:
t = (0,1,2)

In [54]:
v1,v2,v3 = t

In [55]:
print(v1,v2,v3)

0 1 2

<h3 style="color:#4e2abd;">Tuple Multi-Unpacking</h3>

In [56]:
t = (0,1,2)
v1,v2 = t

ValueError: too many values to unpack (expected 2)

In [63]:
# use * to handle this error

t = (0,1,2)
v1,*v2 = t

In [64]:
print(v1,v2)

0 [1, 2]

# Tuples Methods

<h3 style="color:#4e2abd;">Tuples are static and Immutable thats why there are only two Typles methods index and count</h3>

<h3 style="color:#4e2abd;">• 1  count Return number of occurrences of value.</h3>

In [65]:
t = (1,2,3)
t.count(2)

1

In [68]:
t = (1,2,2,3,2)
t.count(2)

3

<h3 style="color:#4e2abd;">• 2 index Return first index of value.<br><br>Start and end are optional</h3>

In [69]:
t = (1,2,3,3,4)

In [70]:
t.index(2)

1

In [71]:
t.index(3)

2

In [74]:
# use start parameter
print(t)
t.index(3,3)

(1, 2, 3, 3, 4)

3

In [76]:
# use end parameter

t.index(3,3,4)

3

In [78]:
# return error if the value are not found

t.index(3,0,1)

# because i change the start and end parameter thats why 3 are not found

ValueError: tuple.index(x): x not in tuple