<h1>Class Attributes </h1><br><br><h2>In Class, attributes can be defined into two parts:</h2>
<img src="../../images/attr.jpg" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius:20px 20px 20px 20px;
  ">

# KeyPoints
<br>

<h3 style="color:#4e2abd;">
â€¢ What is Class Attributes<br>
. Class Variables <br>
. Access Class Variables <br>
. Modify Class Variables <br>
. Object Calling VS Simple Object <br>
. Delete Class Variable <br>

</h3>

# Class Variables
<br>
<h3 style="color:#4e2abd;">A variable that are define inside only in the class called Class variable</h3>

In [4]:
class Person:
    
    # class variables
    name = "Mubeen"
    id_ = 404

p1 = Person()

In [5]:
p1.name

'Mubeen'

In [6]:
p1.id_

404

# Shared by all objects of class

In [9]:
class AI:
    
    # class variable
    Class = "AI"
    
    # constructor or init method
    def __init__(self,name):      # self argument point the object
                                  # name argument take the value from the object
        
        # instance variable 
        self.name = name+ " " +self.Class

In [11]:
obj1 = AI("Mubeen").name
obj2 = AI("Fahad").name
obj3 = AI("Zain").name

In [12]:
print(obj1)
print(obj2)
print(obj3)

Mubeen AI
Fahad AI
Zain AI

# Access Class Variable at the outside

In [14]:
# class_name . class_variable_name
AI.Class

'AI'

# Access class variable with built-in function
<br>

### getattr(object, name[, default]) -> value

In [19]:
# class_name , "class variable name" (in sring)
getattr(AI,"Class")

'AI'

## if variable not exist than raise error so used default value

In [22]:
getattr(AI,"Clas")

AttributeError: type object 'AI' has no attribute 'Clas'

In [24]:
# use default value
getattr(AI,"Clas","Not Found")

'Not Found'

# Modify Class Variables

In [3]:
class Student:
    
    subject = "AI"

### Note ! Every Object has its own Copy they don't Share it

In [5]:
s1 = Student()
s2 = Student()
# here s1 and s2 are two object

In [6]:
# s1.subject
# s2.subject 

# both are different variable

print(s1.subject)
print(s2.subject)

AI
AI

In [11]:
# modify s1 variable
s1.subject = "Cyber"

In [12]:
# now check it s1
print(s1.subject)

Cyber

In [13]:
# s2 are not change
print(s2.subject)

AI

In [15]:
# modify s2 variable
s2.subject = "Data Science"

In [16]:
print(s2.subject)

Data Science

In [17]:
print(s1.subject)
print(s2.subject)

Cyber
Data Science

## but Class variable are not Changed

In [18]:
print(Student.subject)

AI

## change class variable

In [19]:
Student.subject = "class variable"
print(Student.subject)

class variable

In [20]:
# now check it all variable
print(Student.subject)
print(s1.subject)
print(s2.subject)

class variable
Cyber
Data Science

# UnderStand object and object() call

## Example without call object

In [36]:
class Person:
    name = "Mubeen"

## create 2 object but can't call it

In [37]:
p1 = Person
p2 = Person

## we have three variables

In [38]:
# p1.name
# p2.name
# Person.name

# if i modify in any variable than all the variables are modifed 
# Because i can't call the object

# change p2.name
p2.name = "p2 are updated"

In [39]:
# all the variables are update
print(p1.name)
print(p2.name)
print(Person.name)

p2 are updated
p2 are updated
p2 are updated

# Example call object

In [33]:
p1.name = "p1"

In [34]:
# all the variables are update
print(p1.name)
print(p2.name)
print(Person.name)

p1
p1
p1

In [67]:
class Person:
    name = "Mubeen"

In [68]:
p1 = Person() # ---> Mubeen
p2 = Person() # ---> Mubeen

In [69]:
print(p1.name)
print(p2.name)
print(Person.name)

Mubeen
Mubeen
Mubeen

## Now if i update the first with class than all variables are updated

In [70]:
Person.name = "Person are update the value"

In [71]:
print(p1.name)
print(p2.name)
print(Person.name)

Person are update the value
Person are update the value
Person are update the value

In [63]:
Person.name = "Person are update the value"

In [64]:
# all variables are updated
print(p1.name)
print(p2.name)
print(Person.name)

Person are update the value
Person are update the value
Person are update the value

## now update p1 value

In [72]:
p1.name = "p1 are update the value"

In [73]:
# only updated p1
print(p1.name)
print(p2.name)
print(Person.name)

p1 are update the value
Person are update the value
Person are update the value

## now again update with class. 

## is class change the all values ?

In [74]:
Person.name = "Person are update the value Second"

In [75]:
# only update p2 and Person
print(p1.name)
print(p2.name)
print(Person.name)

p1 are update the value
Person are update the value Second
Person are update the value Second

## Why p2 are not update ?

In [ ]:
# because if i create the object than i update class and p1
# i can't update p2 value

# Now update p2 value

In [77]:
p2.name = "p2 are update the value"

In [78]:
# update only p2
print(p1.name)
print(p2.name)
print(Person.name)

p1 are update the value
p2 are update the value
Person are update the value Second

## Now if i change the class variable than p1 and p2 variables are not updated

## Because i modify all variables first time

In [79]:
Person.name = "i am admin i order to change all variables"

In [80]:
# check all variable are updated or not ?

print(p1.name)
print(p2.name)
print(Person.name)

# only updated person

p1 are update the value
p2 are update the value
i am admin i order to change all variables

# Example 2

In [1]:
class Student:
    
    subject = "English"

In [2]:
# call objects
s1 = Student()
s2 = Student()

In [3]:
print(Student.subject)
print(s1.subject)
print(s2.subject)

English
English
English

In [4]:
# change s2

s2.subject = "s2"

In [5]:
# only updated in s2
print(Student.subject)
print(s1.subject)
print(s2.subject)

English
English
s2

In [6]:
# change Student (with class)

Student.subject = "Math"

# s1 and Student are updated only
# s2 are not update because i use s2

In [7]:
print(Student.subject)
print(s1.subject)
print(s2.subject)

Math
Math
s2

In [8]:
# but if i use s1 than s1 are not updated when i update with class 
s1.subject = "s1"

In [9]:
print(Student.subject)
print(s1.subject)
print(s2.subject)

Math
s1
s2

In [10]:
# now modify with Student
Student.subject = "Physic"

# Now s1 and s2 are not updated

In [11]:
print(Student.subject)
print(s1.subject)
print(s2.subject)

Physic
s1
s2

# Modify class variable with built-in function
<br>

### setter(object, old,new,\) -> value

In [121]:
class Employee:
    
    name = "emp"

In [122]:
obj = Employee()

In [124]:
# object , "old name", new name
setattr(obj,"name",100)

In [126]:
# access wit getter

print(getattr(obj,"name"))
print(getattr(Employee,"name"))

100
emp

# if the object() called

In [ ]:
# 1st time change with class  --> updated in all variable
# 1st time change with object --> only change object variable

# 2nd time change class --> if others object are used than used object are not updated
# 2nd time change class --> if others object are not used than all objects are updated

# if the object not called

In [ ]:
# if changing in any variable than all varialbes are updated

<br>

# Delete Class Variable with del keyword

In [148]:
class Student:
    name = "Mubeen"

In [149]:
obj = Student()

In [150]:
print(getattr(obj,"name"))
print(getattr(Student,"name"))

Mubeen
Mubeen

In [151]:
# del class variable with class

del Student.name 

# delete both object and class

In [152]:
print(getattr(obj,"name"))

AttributeError: 'Student' object has no attribute 'name'

In [153]:
print(getattr(Student,"name"))

AttributeError: type object 'Student' has no attribute 'name'

## we can't delete class variable with object

In [155]:
class Person:
    
    name = "Mubeen"
    
obj = Person()

In [158]:
del obj.name

AttributeError: name

# Delete class variable with bulit-in Method
<br>

### delattr(obj, name, /)

In [14]:
class Mubeen:
    
    password = 1234
    name = "SweetError"

In [15]:
obj1 = Mubeen()
obj1.password

1234

In [3]:
delattr(Mubeen,"password")

In [4]:
obj1.password

# password variable are removed

AttributeError: 'Mubeen' object has no attribute 'password'

### Again Note that we can't remove class varaible wtih the object

In [5]:
getattr(obj1,"name")

'SweetError'

In [6]:
# trying to delete with class variable with object
delattr(obj1,"name")

AttributeError: name

# Use classname instead of object

In [16]:
delattr(Mubeen,"name")

In [17]:
# variable are deleted
obj1.name

AttributeError: 'Mubeen' object has no attribute 'name'

# delete classvariable with del

In [18]:
del Mubeen.password

In [19]:
# variable are deleted
Mubeen.password

AttributeError: type object 'Mubeen' has no attribute 'password'

# Create Class Variable Outside

In [21]:
class Person:
    pass

In [22]:
Person.name = "Mubeen"

In [23]:
Person.name

'Mubeen'

## Use __dict__ to check varialbes

In [24]:
Person.__dict__["name"]

'Mubeen'

In [25]:
Person.__dict__

mappingproxy({'__module__': '__main__',
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': None,
              'name': 'Mubeen'})

# if you delete the variable/method in dictionary than those variable or method also deleted in actual code

## Note We can't delete anything with class from outside with `__dict__`

In [32]:
del Person.__dict__.pop("name")

SyntaxError: cannot delete function call (4081810512.py, line 1)

In [33]:
obj = Person()

In [34]:
obj.__dict__

{}

In [35]:
obj.name = "Mubeen"

In [36]:
obj.__dict__

{'name': 'Mubeen'}

# Now delete variable with object `dictionary`

In [38]:
obj.__dict__.pop('name')

'Mubeen'

In [39]:
obj.__dict__

{}