- ## *.index*
- ## *.columns*
- ## *.dtypes*
- ## *.info()*
- ## *.values*
- ## *.size*
- ## *.shape*
- ## *.empty*

# *.index*
<br>

- ### pd.DataFrame.index attribute returns the index object of a DataFrame. The index object is a sequence of labels that identifies the rows or observations in a DataFrame.

In [9]:
import pandas as pd

In [12]:
df = {
    "iq" : [100,90,120,80],
    "marks" : [90,70,100,50],
    "package" : [10,7,14,2]
}

data = pd.DataFrame(df)
data

    iq  marks  package
0  100     90       10
1   90     70        7
2  120    100       14
3   80     50        2

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

# *.columns*
<br>

- ### DataFrame.columns attribute is used to get or set the column labels of a DataFrame. It returns a pandas Index object containing the column labels.

In [16]:
data.columns

Index(['iq', 'marks', 'package'], dtype='object')

# *.dtypes*
<br>

- ### DataFrame.dtypes attribute is used to get the data type of each column in a DataFrame. It returns a pandas Series object containing the data types of the columns.

In [17]:
data.dtypes

iq         int64
marks      int64
package    int64
dtype: object

# *.info()*
<br>

- ### DataFrame.info() method is used to get a concise summary of a DataFrame, including information about the data types of each column, the number of non-null values in each column, and the memory usage of the DataFrame.

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   iq       4 non-null      int64
 1   marks    4 non-null      int64
 2   package  4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes

# *.values*
<br>

- ### DataFrame.values attribute is used to return a Numpy representation of the DataFrame. This attribute returns a two-dimensional Numpy array of the values in the DataFrame, without any index or column labels.

In [34]:
data

    iq  marks  package
0  100     90       10
1   90     70        7
2  120    100       14
3   80     50        2

In [35]:
data.values

array([[100,  90,  10],
       [ 90,  70,   7],
       [120, 100,  14],
       [ 80,  50,   2]])

In [36]:
# select single specfic columns value
data.columns

Index(['iq', 'marks', 'package'], dtype='object')

In [39]:
data["marks"].values

array([ 90,  70, 100,  50])

# *.size*
<br>

- ### DataFrame.size attribute is used to return the number of elements in a DataFrame. This is equivalent to the total number of cells in the DataFrame, which is the product of the number of rows and the number of columns.

In [47]:
data.size

12

# *.shape*
<br>

- ### DataFrame.shape attribute is used to return a tuple representing the dimensions of a DataFrame. The first element of the tuple is the number of rows in the DataFrame, and the second element is the number of columns.

In [48]:
data.shape

(4, 3)

# *.empty*
<br>

- ### DataFrame.empty attribute is used to check whether a DataFrame is empty or not. It returns a boolean value indicating whether the DataFrame has zero rows and zero columns.

In [50]:
data.empty

False