- ## *.astype()*
- ## *.copy()*

In [1]:
import pandas as pd

In [2]:
df = {
    "iq" : [100,90,120,80],
    "marks" : [90,70,100,50],
    "package" : [10,7,14,2]
}

data = pd.DataFrame(df)
data

    iq  marks  package
0  100     90       10
1   90     70        7
2  120    100       14
3   80     50        2

In [3]:
data.astype("float") # convert into float

      iq  marks  package
0  100.0   90.0     10.0
1   90.0   70.0      7.0
2  120.0  100.0     14.0
3   80.0   50.0      2.0

In [4]:
data.astype("complex") # convert into complex

           iq       marks    package
0  100.0+0.0j   90.0+0.0j  10.0+0.0j
1   90.0+0.0j   70.0+0.0j   7.0+0.0j
2  120.0+0.0j  100.0+0.0j  14.0+0.0j
3   80.0+0.0j   50.0+0.0j   2.0+0.0j

# *.copy()*
<br>

- ### DataFrame.copy() method is used to make a copy of a DataFrame. By default, this method performs a "shallow copy", which means that the data and index references are copied, but not the actual data itself. This is done to save memory and prevent any unintentional changes to the original DataFrame.

In [5]:
data

    iq  marks  package
0  100     90       10
1   90     70        7
2  120    100       14
3   80     50        2

In [6]:
# lets change the data
tmp = data

tmp["iq"] = 0

In [7]:
# now check the orignal data
data

   iq  marks  package
0   0     90       10
1   0     70        7
2   0    100       14
3   0     50        2

In [8]:
# so use copy()
temp = data.copy()

In [9]:
temp["marks"] = 0

In [10]:
# now check orignal data
data

   iq  marks  package
0   0     90       10
1   0     70        7
2   0    100       14
3   0     50        2