In [1]:
%load_ext sql
%sql mysql+pymysql://root:@localhost:3307/csv_data

# Artihmetic
- ## Arithmetic operations in SQL involve mathematical calculations on numeric data type

## + ADDITION

In [2]:
%sql SELECT 3+3 AS "result"

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(6,)]

## - SUBTRACTION

In [3]:
%sql SELECT 6-5 AS "result"

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(1,)]

## * Multiplications

In [4]:
%sql SELECT 3*5 AS "result"

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(15,)]

## DIVIONS

In [5]:
%sql SELECT 6/4 AS "result"

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(Decimal('1.5000'),)]

## DIVIONS USE CEIL or FLOOR functions

In [6]:
%sql SELECT CEIL(6/4) AS "result"

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(2,)]

In [7]:
%sql SELECT FLOOR(6/4) AS "result"

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(1,)]

## MODULUS %

In [8]:
%sql SELECT 9%2 AS "result"

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(1,)]

<hr>

# Bitwise
- ## Bitwise operations in SQL involve manipulating individual bits of binary values.
- ## These operations are typically used with integer data types.
<br>


## Bitwise  AND (&) 
- ## The bitwise AND operation (&) is a binary operation that performs a bitwise AND between each pair of corresponding bits of two integers
- ## return 1 if boths bits are 1 else return 0

In [9]:
%%sql 
SELECT 
0 & 0,
0 & 1,
1 & 0,
1 & 1

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(0, 0, 0, 1)]

## Bitwise  OR
- ### return 1 if any one bits are 1 else return 0

In [10]:
%%sql 
SELECT 
0 | 0,
0 | 1,
1 | 0,
1 | 1

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(0, 1, 1, 1)]

# ^ (Xor)
- ## return 1 if only (single) one bits are 1 else return 0

In [11]:
%%sql 
SELECT 
0 ^ 0,
0 ^ 1,
1 ^ 0,
1 ^ 1

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(0, 1, 1, 0)]

## << (Left Shift)
- ## Shifts the bits of the number to the left and fills 0 on voids right as a result.
- ## Similar effect as of multiplying the number with some power of two.

In [12]:
%%sql 
SELECT  14 << 1

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(28,)]

# >> (Right Shift)

- ## Shifts the bits of the number to the right and fills 0 on voids left( fills 1 in the case of a negative number) as a result.

- ## Similar effect as of dividing the number with some power of two.

In [13]:
%%sql 
SELECT  14 >> 2

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(3,)]

# ~ NOT / Complement
- ## Inverts all the bits
<br>

- ### The CAST function is used to explicitly convert or cast a value from one data type to another.
- ### In this case, ~3 represents the bitwise NOT operation on the number 3.
- ### The AS SIGNED part specifies that the result of the bitwise NOT operation should be cast to a signed integer type.

In [54]:
%%sql 
SELECT CAST(~4 AS SIGNED) AS Result;

 * mysql+pymysql://root:***@localhost:3307/csv_data
1 rows affected.

[(-5,)]