<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Cursor
</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>Cursor in MySQL can be defined as a database object that acts as a pointer or iterator to traverse the rows of a result set obtained from a SELECT statement or stored procedure. <br>It enables sequential access to the data, allowing you to perform operations on each row individually. 
<br><br>Cursors are often used in stored procedures when you need to process records one at a time, such as in a loop, rather than dealing with the entire result set at once. <br>Cursors play a crucial role in handling and manipulating data in a row-by-row fashion within the database environment.</p</div>

<h1 style="text-align:left; color:#005bbd; font-size:35px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Types of Cursor
</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul><li>Implicit</li></ul><ul><li>Explicit</li></ul></div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>In MySQL, there is no concept of "Implicit Cursors" as you might find in some other database management systems (DBMS) like Oracle. <br>In MySQL, you typically use explicit cursors when working with stored procedures or functions that involve fetching and processing result sets.</div>

In [3]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"
%load_ext sql
%sql $connection_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
import mysql.connector
db = mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="sweeterror404", 
    password="Mubeen@12345",
    database='mubeen')

def query(command):
    global db 
    db.connect()
    cursor = db.cursor()
    cursor.execute(command)
    return cursor

def calling_func(name,arg):
    import pandas as pd
    db.connect()
    cursor = db.cursor(dictionary=True)
    data = pd.DataFrame()
    try:
        result = cursor.callproc(name, arg)
        
        for row in cursor.stored_results():
            for record in row.fetchall():            
                data = pd.concat([data,pd.DataFrame([record])])
    
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print(f"SQL Statement: {cursor.statement}")
    finally:
        cursor.close()
        db.close()
    data = data.reset_index().drop(columns='index')
    return data

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Declaration :<br><br>
You declare a cursor by specifying the SELECT statement whose result set you want to traverse.</p></div>

<div style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<ul><li>DECLARE cursor_name CURSOR FOR SELECT column1, column2 FROM your_table;</li></ul></div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Opening the Cursor :<br><br>
After declaration, you need to open the cursor to make it active and ready for fetching data.</p></div>

<div style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<ul><li>OPEN cursor_name;</li></ul></div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Fetching Data :<br><br>
Once the cursor is open, you can fetch data from it using the FETCH statement.</p></div>

<div style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<ul><li>FETCH cursor_name INTO variable1, variable2, ...;</li></ul>
</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Processing Data :<br><br>
After fetching data, you can process it, which might involve performing operations or printing the data.<br>use loop here for big data</p></div>

<div style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<ul><li>SELECT CONCAT('column_name', column) AS output;</li></ul>
</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Closing the Cursor :<br><br>
It's crucial to close the cursor when you're done to release associated resources.</p></div>

<div style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<ul><li>CLOSE cursor_name;</li></ul>
</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
So, in essence, a cursor acts as a pointer or iterator over the rows of a result set, allowing you to work with the data row by row.</p></div>

In [9]:
%%sql
SHOW TABLES

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
2 rows affected.

[('laptop',), ('laptop_bk',)]

In [10]:
%%sql
CREATE TABLE short_dt1(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    marks INT
)

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [16]:
%%sql
SELECT * FROM short_dt1

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [21]:
%%sql
INSERT INTO mubeen.short_dt1 (name,marks)
VALUES
('Mubeen',20),
('Ali',30),
('Rizwan',40),
('Ahmad',50),
('Faizan',60)

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
5 rows affected.

[]

In [22]:
%sql SELECT * FROM short_dt1;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
5 rows affected.

[(1, 'Mubeen', 20),
 (2, 'Ali', 30),
 (3, 'Rizwan', 40),
 (4, 'Ahmad', 50),
 (5, 'Faizan', 60)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Example</p></div>

In [54]:
%%sql

CREATE PROCEDURE extract_data()
BEGIN

    -- store data in variable 
    DECLARE _id INT;
    DECLARE _name VARCHAR(255);
    DECLARE _marks INT;
    
    DECLARE my_cursor CURSOR FOR (SELECT id,name,marks FROM short_dt1);

    OPEN my_cursor;

    FETCH my_cursor INTO _id,_name,_marks;

    SELECT _id,_name,_marks;

    CLOSE my_cursor;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [55]:
%sql CALL extract_data();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(1, 'Mubeen', 20)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Here cursor only Extract only 1st iteration and close itself</p></div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Example 2 <br> Here i Fetch 2 no of Iteration</p></div>

In [60]:
%%sql

CREATE PROCEDURE extract_data_2()
BEGIN

    -- store data in variable 
    DECLARE _id INT;
    DECLARE _name VARCHAR(255);
    DECLARE _marks INT;
    
    DECLARE my_cursor CURSOR FOR (SELECT id,name,marks FROM short_dt1);

    OPEN my_cursor;

    FETCH my_cursor INTO _id,_name,_marks;
    SELECT _id,_name,_marks;

    FETCH my_cursor INTO _id,_name,_marks;
    SELECT _id,_name,_marks ;

    CLOSE my_cursor;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [61]:
calling_func('extract_data_2',()) # use python for show all data

   _id   _name  _marks
0    1  Mubeen      20
1    2     Ali      30

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Here we need a loop for iterate all the data</p></div>

In [64]:
%%sql

CREATE PROCEDURE extract_data_3()
BEGIN

    -- store data in variable 
    DECLARE _id INT;
    DECLARE _name VARCHAR(255);
    DECLARE _marks INT;
    
    DECLARE my_cursor CURSOR FOR (SELECT id,name,marks FROM short_dt1);

    OPEN my_cursor;

    my_loop : LOOP
        IF _id = 5 THEN
            LEAVE my_loop;
        END IF;

        
    FETCH my_cursor INTO _id,_name,_marks;
    SELECT _id,_name,_marks;

    END LOOP my_loop;
    
    CLOSE my_cursor; -- close cursor

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [65]:
calling_func('extract_data_3',())

   _id   _name  _marks
0    1  Mubeen      20
1    2     Ali      30
2    3  Rizwan      40
3    4   Ahmad      50
4    5  Faizan      60

In [51]:
%%sql
SELECT * FROM laptop_bk
LIMIT 3

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

In [101]:
%%sql 
SELECT id FROM laptop_bk ORDER BY id DESC LIMIT 1

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(1242,)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<p>Example 3 <br> count total no of rows without count() function</p></div>

In [104]:
%%sql

CREATE PROCEDURE extract_data_4()
BEGIN

    -- store data in variable 
    DECLARE _id INT;
    DECLARE counter INT DEFAULT 0;
    
    DECLARE my_cursor CURSOR FOR (SELECT id FROM laptop_bk);

    SET @last_id = (SELECT id FROM laptop_bk ORDER BY id DESC LIMIT 1); -- extract last row id


    OPEN my_cursor;

    my_loop : LOOP
        IF _id = @last_id THEN
            LEAVE my_loop;
        END IF;

    FETCH my_cursor INTO _id;

    SET counter = counter + 1;

    END LOOP my_loop;
    
    CLOSE my_cursor; -- close cursor
    
    SELECT counter AS total_rows;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [105]:
%sql CALL extract_data_4();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(1242,)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
The benefit of using a cursor depends on the specific requirements of your application or stored procedure. While they provide a way to handle row-level processing, it's crucial to weigh the advantages against the potential performance implications and consider alternative approaches when appropriate.
</div>