In [1]:
%load_ext sql
%sql mysql+pymysql://root:@localhost:3307/mydb

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Case Study 2 on DateTime</h1>

In [4]:
%%sql
SELECT * FROM flights
LIMIT 1

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[('Jet Airways', '2019-01-03', 'Banglore', 'New Delhi', '11:40:00', '13h 5m', '1 stop', 'No info', 26890)]

In [3]:
%%sql
SELECT COUNT(*) FROM flights

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(10683,)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
    Find  the month with most number of flights
</div>

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<h3 style="color:#005bbd; font-size:25px;">Add Constraint with Keyword
</h3>
<h3 style="color:red; font-size:35px;">CONSTRAINT alias type (name)</h3>