<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">DataBases Vs DataBase Vs Tables</h1>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd;"> Databases</h3><br>

<p style="text-align:justify; font-size:25px">A database is a collection of organized data that is structured and stored for easy retrieval and manipulation.<br><br>In the context of XAMPP, MySQL is often the relational database management system (RDBMS) included.<br><br>MySQL allows you to create and manage multiple databases on a single server<br>
<br>Databases are used to store and organize related information in a structured manner</p>
<br><br>
 All database are know as DataBases
<br><img style="display: block;margin-left: auto;margin-right: auto;width: 80%; " src="./sql_images/databasess.png">
</div>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25;">Database</h3><br>
    
<p>In the context of a database management system like MySQL within XAMPP, a "database" is a specific instance or container that holds a set of related tables and other database objects<br><br>You can think of a database as a logical grouping of data, where you might have different databases for different applications or purposes.</p>
<br><br>
Here login is a database (single)
<br><img style="display: block;margin-left: auto;margin-right: auto;width: 80%; " src="./sql_images/singlesdb.png">

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25;">Table</h3><br>
<p>Tables are the fundamental structure within a database. They are used to organize and store data in a tabular form.<br><br>Each table consists of rows and columns, where each row represents a record, and each column represents a field or attribute.<br><br>In practical terms, when you create a database for a web application using XAMPP, you would define tables within that database to store specific types of information, such as user data, product information, etc.</p>
<br><br>
Here two tables form_data,users both are the table of login database
<br><img style="display: block;margin-left: auto;margin-right: auto;width: 100%; " src="./sql_images/tb.png">

<br><br>
<p>To summarize, within XAMPP's MySQL database management system<br><br><br>
Databases are collections of organized data.<br>Database is a specific instance or container holding a set of related tables.<br>Tables are structures within a database used to organize and store data.</p>

<hr><br> Create a DataBase

</div>

In [5]:
import mysql.connector

db = mysql.connector.connect(
    
    host="localhost",
    port = 3307,
    user="root",
    password="",

)

In [6]:
def execute_query(cmd):
    global cursor # change cursor
    db.connect()
    cursor = db.cursor()
    cursor.execute(cmd)
    return cursor

In [7]:
# first show previous dataBases

for i in execute_query("SHOW DATABASES"):
    print(i)

('DDL',)
('campusx',)
('csv_data',)
('information_schema',)
('login',)
('mydatabase',)
('mydb',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('tempdata',)
('test',)
('testing',)

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Create DataBase Command</h3><br>
<h3 style="color:red; font-size:35px;">CREATE DATABASE name</h3>

In [12]:
execute_query("CREATE DATABASE newdb")

In [13]:
# now again show all dbs
for i in execute_query("SHOW DATABASES"):
    print(i)

('DDL',)
('campusx',)
('csv_data',)
('information_schema',)
('login',)
('mydatabase',)
('mydb',)
('mysql',)
('newdb',)
('performance_schema',)
('phpmyadmin',)
('tempdata',)
('test',)
('testing',)

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
Here newdb are created
<br><img style="display: block;margin-left: auto;margin-right: auto;width: 100%; " src="./sql_images/newdb.png">
</div>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Create Table Command</h3><br>
<h3 style="color:red; font-size:35px;">CREATE TABLE database_name.name(col_name TYPE)</h3>

In [14]:
execute_query("CREATE TABLE newdb.users( Name VARCHAR(255) )")

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
Here users is the table of newdb database
<br><img style="display: block;margin-left: auto;margin-right: auto;width: 100%; " src="./sql_images/newtb.png">
</div>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
Now insert the value
<h3 style="color:#005bbd; font-size:25px;">Insert Value Command</h3>
<h3 style="color:red; font-size:35px;">INSERT INTO database_name.name(col_name) VALUES("value")</h3>

In [16]:
execute_query("INSERT INTO newdb.users(Name) VALUES ('Mubeen')")

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
Now you need to commit the values (that means accept the changes)<br>
db.commit() is the mysql.connector command for python
</div>

In [18]:
db.commit()

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
Here Name is the column name and Mubeen is the value
<br><img style="display: block;margin-left: auto;margin-right: auto;width: 100%; " src="./sql_images/value.png">
</div>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
SHOW TABLE Data with python
<h3 style="color:#005bbd; font-size:25px;">Show Value Command</h3>
<h3 style="color:red; font-size:35px;">SELECT * FROM database.table</h3>

In [21]:
r = execute_query("SELECT * FROM newdb.users")
for i in r:
    print(i)

('Mubeen',)

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
Example 2 Insert Multiples Values
</div>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<h3 style="color:#005bbd; font-size:25px;">Insert Value Command</h3>
<h3 style="color:red; font-size:35px;">INSERT INTO database.table(column_name) VALUES  (v1),(v2),(v3) </h3>

In [28]:
query = """

INSERT INTO newdb.users(NAME)
VALUES
("ALI"),
("Rizwan"),
("Faizan")

"""
execute_query(query)

In [29]:
# commit
db.commit()

In [30]:
## show values
r = execute_query("SELECT * FROM newdb.users")
for i in r:
    print(i)

('Mubeen',)
('ALI',)
('Rizwan',)
('Faizan',)

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
Example 3 Insert Multiples Values With loop
</div>

In [36]:
data = ["a","b","c"]

for i in data:
    query = f'INSERT INTO newdb.users(Name) VALUES ("{i}")'
    execute_query(query)
    db.commit()

In [37]:
# now commit
db.commit()

In [38]:
# show values
r = execute_query("SELECT * FROM newdb.users")
for i in r:
    print(i)

('Mubeen',)
('ALI',)
('Rizwan',)
('Faizan',)
('c',)