<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Constrains Keyword</h1>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<p style="text-align:justify; font-size:25px">The CONSTRAINT keyword in SQL is used to give a name to a constraint.<br><br>It is often used in conjunction with other keywords like PRIMARY KEY, FOREIGN KEY, UNIQUE, and CHECK.<br>When you define a constraint, you can optionally provide a name for that constraint.<br><br>The CONSTRAINT keyword is often used in combination with other keywords to define specific constraints.</p>
</div>

In [9]:
import mysql.connector

db = mysql.connector.connect(
    
    host="localhost",
    port=3307,
    user="root",
    password="",

)

In [10]:
db.connect()

In [11]:
cursor = db.cursor()

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Add Constraint with Keyword
</h3><br>
<h3 style="color:red; font-size:35px;">CONSTRAINT alias type (name)</h3>

In [29]:
# create a new table
query = """
    CREATE TABLE test.users8(
    
        username VARCHAR(255),
        user_id INTEGER NOT NULL,
        
        CONSTRAINT alias UNIQUE (username)
    )
"""

cursor.execute(query)

In [7]:
# insert values

query = """
INSERT INTO test.users8(username,user_id) VALUES 
    ('mubeen@xyz',1)
"""
cursor.execute(query)

In [9]:
# check values
cursor.execute("SELECT * FROM test.users8")

for i in cursor.fetchall():
    print(i)

('mubeen@xyz', 1)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"> Now to add same username for make sure constaint are work?</div>

In [10]:
# insert values

query = """
INSERT INTO test.users8(username,user_id) VALUES 
    ('mubeen@xyz',2)
"""
try:
    cursor.execute(query)
except Exception as e:
    print(e) # yes its working

1062 (23000): Duplicate entry 'mubeen@xyz' for key 'alias'

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"> The CONSTRAINT keyword is often used in combination with other keywords to define specific constraints.</div>

In [11]:
# create a new table
query = """
    CREATE TABLE test.users9(
    
        username VARCHAR(255),
        user_id INTEGER NOT NULL,
        
        CONSTRAINT alias UNIQUE (username,user_id)
    )
"""

cursor.execute(query)

In [12]:
# insert values

query = """
INSERT INTO test.users9(username,user_id) VALUES 
    ('mubeen@xyz',1),
    ('mubeen@xyz',2)
    
"""
cursor.execute(query) #

In [14]:
# check values
cursor.execute("SELECT * FROM test.users9")

for i in cursor.fetchall():
    print(i)

('mubeen@xyz', 1)
('mubeen@xyz', 2)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"> Here Constraint Unique are working on the basis of both values<br><br>Now try to add same username and user id</div>

In [16]:
# insert values

query = """
INSERT INTO test.users9(username,user_id) VALUES 
    ('mubeen@xyz',1)

"""
try:
    cursor.execute(query)
except Exception as e:
    print(e)

1062 (23000): Duplicate entry 'mubeen@xyz-1' for key 'alias'

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now change the the userid</div>

In [18]:
# insert values

query = """
INSERT INTO test.users9(username,user_id) VALUES 
    ('mubeen@xyz',3)
"""
cursor.execute(query) #

In [19]:
# check values
cursor.execute("SELECT * FROM test.users9")

for i in cursor.fetchall():
    print(i)

('mubeen@xyz', 1)
('mubeen@xyz', 2)
('mubeen@xyz', 3)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Example 2</div>

In [20]:

query = """
INSERT INTO test.users9(username,user_id) VALUES 
    ('ab',1),
    ('ba',1)
"""
cursor.execute(query) # here both combination are unique

In [21]:
# check values
cursor.execute("SELECT * FROM test.users9")

for i in cursor.fetchall():
    print(i)

('ab', 1)
('ba', 1)
('mubeen@xyz', 1)
('mubeen@xyz', 2)
('mubeen@xyz', 3)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"> Constraint keyword Example 3 with check</div>

In [22]:
# create a new table
query = """
    CREATE TABLE test.users10(
    
        username VARCHAR(255),
        age INTEGER,
        
        CONSTRAINT uage CHECK(age >= 13 AND age <= 19) 
    )
"""

cursor.execute(query)

In [24]:
query = """
INSERT INTO test.users10(username,age) VALUES 
        ('ali',13),
        ('rizwan',19)
"""
cursor.execute(query)

In [25]:
# check values
cursor.execute("SELECT * FROM test.users10")

for i in cursor.fetchall():
    print(i)

('ali', 13)
('rizwan', 19)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now trying to add age 12</div>

In [27]:
query = """
INSERT INTO test.users10(username,age) VALUES 
        ('ali',12)
"""
try:
    cursor.execute(query) 
except Exception as e:
    print(e)

4025 (23000): CONSTRAINT `uage` failed for `test`.`users10`

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Relation Ship</h1>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<p style="text-align:justify; font-size:25px">The terms "PRIMARY KEY," "FOREIGN KEY," and "REFERENCES" are closely related to the establishment of relationships between tables.</div>

In [43]:
# create first table

query = """
    CREATE TABLE test.users_data(
    
        name VARCHAR(255) NOT NULL,
        user_id INTEGER PRIMARY KEY AUTO_INCREMENT
    )
"""

cursor.execute(query)

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Create a Refference
</h3><br>
<h3 style="color:red; font-size:30px;">CONSTRAINT alias FOREIGN KEY (cur_name) REFERENCES ref_table(col_name) </h3>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"> Foreign key must be a Primary key<br> and Refferences also a Primary key of the table</div>

In [44]:
# create 2nd table

query = """
    CREATE TABLE test.users_code(

        code INTEGER NOT NULL,
        user_id INTEGER PRIMARY KEY AUTO_INCREMENT,
        
        CONSTRAINT reff FOREIGN KEY (user_id) REFERENCES test.users_data(user_id) 
    )
"""

cursor.execute(query)

In [45]:
# now fill first table users_data
query = """
INSERT INTO test.users_data(name) VALUES 
    ('Mubeen')

"""
cursor.execute(query)

In [50]:
# now fill users_code
query = """
INSERT INTO test.users_code(code) VALUES 
    (8956)

"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">check user_data</div>

In [53]:
# check values
cursor.execute("SELECT * FROM test.users_data")

for i in cursor.fetchall():
    print(i)

('Mubeen', 1)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">check user_code</div>

In [55]:
# check values
cursor.execute("SELECT * FROM test.users_code")

for i in cursor.fetchall():
    print(i)

(8956, 1)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Here user_id 1 are relate the both table </div>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<h3 style="color:#005bbd; font-size:25px;">Check Refference
</h3><br>
<h3 style="color:red; font-size:20px;"><ul style=" line-height:20px;">SELECT<br><br>
    <ul>TABLE_NAME,</ul><br>
    <ul>COLUMN_NAME,</ul><br>
    <ul>CONSTRAINT_NAME,</ul><br>
    <ul>REFERENCED_TABLE_NAME,</ul><br>
    <ul>REFERENCED_COLUMN_NAME</ul><br>
FROM<br><br>
    <ul>INFORMATION_SCHEMA.KEY_COLUMN_USAGE</ul><br>
WHERE<br><br>
    <ul>TABLE_NAME = 'name_of_your_table' AND CONSTRAINT_NAME LIKE '%your constrain alias %';</ul></ul></h3>

In [77]:
query = """
SELECT
    TABLE_NAME,
    COLUMN_NAME,
    CONSTRAINT_NAME,
    REFERENCED_TABLE_NAME,
    REFERENCED_COLUMN_NAME
    
FROM
    INFORMATION_SCHEMA.KEY_COLUMN_USAGE
WHERE
    TABLE_NAME = 'users_code' AND CONSTRAINT_NAME LIKE '%reff%';

"""
cursor.execute(query)
for i in cursor.fetchall():
    print(i)

('users_code', 'user_id', 'reff', 'users_data', 'user_id')

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Here i use user_code show the relational of users_data </div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now we also Join Both table</div>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Join both table
</h3><br>
<h3 style="color:red; font-size:30px;">SELECT columns FROM table1 JOIN table2 ON table1_col = table2_col</h3>

In [99]:
query = """
SELECT name,test.users_code.code FROM test.users_data
JOIN test.users_code
ON test.users_data.user_id = test.users_code.user_id
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

('Mubeen', 8956)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Example 2</div>

In [85]:
query = """
    
    CREATE TABLE test.usr (
    
    username VARCHAR(255) PRIMARY KEY NOT NULL,
    name VARCHAR(255) NOT NULL
);
"""
cursor.execute(query)

In [87]:
query = """
    
    CREATE TABLE test.usr_code (
    
    username VARCHAR(255) PRIMARY KEY NOT NULL,
    code INTEGER NOT NULL,
    
    CONSTRAINT ref FOREIGN KEY (username) REFERENCES test.usr(username)
    
 
);
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now fill usr table</div>

In [88]:
query = """
    
    INSERT INTO test.usr (username,name)
    VALUES ('Mubeenxyz@123','Mubeen'), ('Alixyz@11','Ali')
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now fill usr_code table</div>

In [90]:
query = """
    
    INSERT INTO test.usr_code (username,code)
    VALUES ('Alixyz@11',555)
"""
cursor.execute(query)

In [91]:
# show both table data

query = """
SELECT * FROM test.usr
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

('Alixyz@11', 'Ali')
('Mubeenxyz@123', 'Mubeen')

In [92]:
# show both table data

query = """
SELECT * FROM test.usr_code
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

('Alixyz@11', 555)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now the relations in table</div>

In [96]:
query = """
SELECT 
    TABLE_NAME,
    COLUMN_NAME,
    CONSTRAINT_NAME,

    REFERENCED_TABLE_NAME,
    REFERENCED_COLUMN_NAME


FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE

WHERE
    
    TABLE_NAME = 'usr_code' AND CONSTRAINT_NAME LIKE '%ref%';

"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

('usr_code', 'username', 'ref', 'usr', 'username')

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Join Table</div>

In [102]:
query = """
SELECT 
    test.usr.name, 
    test.usr_code.username, 
    test.usr_code.code 

FROM test.usr
JOIN test.usr_code
ON test.usr.username = test.usr_code.username
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

('Ali', 'Alixyz@11', 555)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Note Once we add a Refference than we cant Delete And Update the Table1 </div>

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Referential Actions</h1>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<p style="text-align:justify; font-size:25px">Referential actions, also known as referential integrity actions or cascade actions, are actions that can be automatically performed by a database management system (DBMS) when a foreign key relationship is involved.<br><br>These actions define how changes to the parent (referenced) table are reflected in the child (referencing) table.</p>
</div>

<br><br><br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">RESTRICT TYPE<br><br>

<ul>here we have two tables test.usr , and test.usr_code</ul>
<ul>test.usr_code are relate the test.usr table</ul>
<ul>So if i remove the test.usr table than test.usr_code table info are lost</ul>
<ul>So we cant test.usr user table event we are not remove first test.usr_code table</ul>
<ul>This type ot Referential Action called RESTRICT </ul>

</div>

In [103]:
# test.usr_code are the refference of test.usr
# so we cant delete test.usr table
query = """
    DROP TABLE test.usr
"""
try:
    cursor.execute(query) 
except Exception as e:
    print(e)

1451 (23000): Cannot delete or update a parent row: a foreign key constraint fails

In [104]:
# try to clear values
query = """
    TRUNCATE TABLE test.usr
"""
try:
    cursor.execute(query) 
except Exception as e:
    print(e)

1701 (42000): Cannot truncate a table referenced in a foreign key constraint (`test`.`usr_code`, CONSTRAINT `ref` FOREIGN KEY (`username`) REFERENCES `test`.`usr` (`username`))

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">SO first Remove Refference Table than we delete the table </div>

In [105]:
query = """
    DROP TABLE test.usr_code
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now Delete the table</div>

In [106]:
query = """
    DROP TABLE test.usr
"""
cursor.execute(query) # table are removed without any error

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Also we cant Update value</div>

<br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">CASCADE TYPE<br><br>
<ul>When a referenced row in the parent table is updated or deleted, the corresponding rows in the child table are also updated or deleted automatically.</ul>

In [107]:
query = """
    
    CREATE TABLE 
    test.usr (
    username VARCHAR(255) PRIMARY KEY,
    name VARCHAR(255) NOT NULL
    )    
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Set Cascade
</h3><br>
<h3 style="color:red; font-size:25px; line-height:200%;">CONSTRAINT alias FOREIGN KEY (cur_name) REFERENCES ref_table(col_name) <br> ON DELETE CASCASE<br>ON UPDATE CASCASE</h3>

In [109]:
query = """
    
    CREATE TABLE 
    
    test.usr_code (
    username VARCHAR(255) PRIMARY KEY NOT NULL,
    code INTEGER NOT NULL,
    
    CONSTRAINT ref FOREIGN KEY (username) REFERENCES test.usr(username)
    
    ON DELETE CASCADE
    ON UPDATE CASCADE
)
    
"""
cursor.execute(query)

In [112]:
# fill table 1 value

query = """
    INSERT INTO test.usr (username,name)
    VALUES ('Alixyz@11','ALI')
"""
cursor.execute(query)

In [115]:
# fill table 2 value

query = """
    INSERT INTO test.usr_code (username,code)
    VALUES ('Alixyz@11',998)
"""
cursor.execute(query)

In [116]:
# check values
query = """
SELECT * FROM test.usr
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

('Alixyz@11', 'ALI')

In [117]:
query = """
SELECT * FROM test.usr_code
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

('Alixyz@11', 998)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">now try to change parent (user) username Value</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">UPDATE attribute for modify the values</div>

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Update table value
</h3><br>
<h3 style="color:red; font-size:25px;">UPDATE table SET col1='new_value' WHERE col2 = 'value'</h3>

In [118]:
cursor.execute("UPDATE test.usr SET username='Mubeenxyz@111' WHERE name='ALI'")

In [119]:
# now check value

query = """
SELECT * FROM test.usr
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i) #username are changed

('Mubeenxyz@111', 'ALI')

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Here username are changed without any error bcz we set Cascade type</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">if i change the first table primary key value than Refference table primary key value are automatic changed</div>

In [121]:
# check value for test.usr_code

query = """
SELECT * FROM test.usr_code
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i) # here username are automatic changed

('Mubeenxyz@111', 998)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Note also in Cascade type we cant Delete and truncate Table but we update the values</div>

In [125]:
try:
    cursor.execute("TRUNCATE TABLE test.usr")
except Exception as e:
    print(e)

1701 (42000): Cannot truncate a table referenced in a foreign key constraint (`test`.`usr_code`, CONSTRAINT `ref` FOREIGN KEY (`username`) REFERENCES `test`.`usr` (`username`))

In [127]:
# first delete refference table than delete parent table
cursor.execute("DROP TABLE test.usr_code")

In [128]:
cursor.execute("DROP TABLE test.usr")

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">SET TYPE<br><br>
<ul>When a referenced row in the parent table is updated or deleted, the foreign key columns in the corresponding rows in the child table are set to NULL.</ul>

In [17]:
query = """
    
    CREATE TABLE test.usr (
    
    username VARCHAR(255) PRIMARY KEY NOT NULL,
    name VARCHAR(255) NOT NULL
);
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Cascade Set NULL
</h3><br>
<h3 style="color:red; font-size:25px; line-height:200%;">CONSTRAINT alias FOREIGN KEY (cur_name) REFERENCES ref_table(col_name) <br> ON DELETE CASCASE<br>ON UPDATE CASCASE</h3>

In [18]:
query = """
    
    CREATE TABLE test.usr_code (
    username VARCHAR(255) , # PRIMARY KEY COMMENTED
    code INTEGER NOT NULL,
    
    CONSTRAINT ref FOREIGN KEY (username) REFERENCES test.usr(username)
    ON DELETE SET NULL
    ON UPDATE SET NULL
);
"""
cursor.execute(query)

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Note ! Here test.usr_code Primary key of username not to be null<br><br>
<ul>because if i remove parent value then child table value set to be Null</ul>
<ul>but PRIMARY KEY must be unqiue and NOT NULL So aviod to use PRIMARY KEY and NOT NULL</ul>

In [21]:
# fill value
query = """

    INSERT INTO test.usr (username,name)
    VALUES ('Mubeen@123','MUBEEN')
"""
cursor.execute(query)

In [22]:
query = """

    INSERT INTO test.usr_code (username,code)
    VALUES ('Mubeen@123',56875)
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">now try to update user username value</div>

In [25]:
cursor.execute("UPDATE test.usr SET username='ali@111' WHERE name='MUBEEN'")

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">now check both values</div>

In [26]:
query = """
SELECT * FROM test.usr
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)

('ali@111', 'MUBEEN')

In [27]:
query = """
SELECT * FROM test.usr_code
"""

cursor.execute(query)

for i in cursor.fetchall():
    print(i)  # username is NULL

(None, 56875)

<hr>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Commands

<ul>CONSTRAINT alias type (name)</ul>
<ul>CONSTRAINT alias FOREIGN KEY (cur_name) REFERENCES ref_table(col_name)</ul>

<h3 style="color:black; font-size:20px;"><ul style=" line-height:20px; border:1px Solid black; padding:50px;">SELECT<br><br>
    <ul>TABLE_NAME,</ul><br>
    <ul>COLUMN_NAME,</ul><br>
    <ul>CONSTRAINT_NAME,</ul><br>
    <ul>REFERENCED_TABLE_NAME,</ul><br>
    <ul>REFERENCED_COLUMN_NAME</ul><br>
FROM<br><br>
    <ul>INFORMATION_SCHEMA.KEY_COLUMN_USAGE</ul><br>
WHERE<br><br>
    <ul>TABLE_NAME = 'name_of_your_table' AND CONSTRAINT_NAME LIKE '%your constrain alias %';</ul></ul></h3>
<ul>SELECT columns FROM table1 JOIN table2 ON table1_col = table2_col</ul>
<ul>CONSTRAINT alias FOREIGN KEY (cur_name) REFERENCES ref_table(col_name) <br> ON DELETE CASCASE<br>ON UPDATE CASCASE</ul>
<ul>UPDATE table SET col1='new_value' WHERE col2 = 'value'
</ul>
<ul>CONSTRAINT alias FOREIGN KEY (cur_name) REFERENCES ref_table(col_name) <br> ON DELETE CASCASE<br>ON UPDATE CASCASE</ul>


</div>