<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">ALTER</h1>

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<p style="text-align:left; font-size:25px">ALTER command is used to modify the structure of a database schema.<br>This command allows you to make changes to existing tables, such as 
<ul>adding a new column</ul>
<ul>changing the data type of a column</ul>
<ul>applying other modifications.</ul></p>
</div>

In [1]:
import mysql.connector

db = mysql.connector.connect(
    
    host="localhost",
    port=3307,
    user="root",
    password="",

)

In [2]:
db.connect()

In [6]:
cursor = db.cursor()

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Create a new Database and Table</div>

In [9]:
cursor.execute("CREATE DATABASE IF NOT EXISTS login")

In [11]:
query = """
    CREATE TABLE login.users(
        
        username VARCHAR(255) NOT NULL
)
"""

cursor.execute(query)

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Show Column
</h3><br>
<h3 style="color:red; font-size:35px;">SHOW COLUMNS FROM name</h3>

In [12]:
cursor.execute("SHOW COLUMNS FROM login.users")
columns = cursor.fetchall()

for col in columns:
    print(col[0],col[1])

username varchar(255)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now add More columns with Alter</div>

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Add Column
</h3><br>
<h3 style="color:red; font-size:25px;">ALTER TABLE table_name ADD COLUMN col_name type</h3>

In [13]:
query = """
        ALTER TABLE login.users ADD COLUMN name VARCHAR(255) NOT NULL
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">check again columns</div>

In [14]:
cursor.execute("SHOW COLUMNS FROM login.users")
columns = cursor.fetchall()

for col in columns:
    print(col[0],col[1])

username varchar(255)
name varchar(255)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Add Multiple Columns</div>

In [16]:
query = """
        ALTER TABLE login.users 
        
        ADD COLUMN age INTEGER NOT NULL,
        ADD COLUMN type VARCHAR(255) NOT NULL
"""
cursor.execute(query)

In [17]:
# check columns
cursor.execute("SHOW COLUMNS FROM login.users")
columns = cursor.fetchall()

for col in columns:
    print(col[0],col[1])

username varchar(255)
name varchar(255)
age int(11)
type varchar(255)

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">ADD COLUMN AFTER in specfic position
</h3><br>
<h3 style="color:red; font-size:25px;">ADD COLUMN col_name INTEGER NOT NULL AFTER col_name,</h3>

In [19]:
query = """
        ALTER TABLE login.users 
        
        ADD COLUMN test1 INTEGER NOT NULL AFTER username,
        ADD COLUMN test2 INTEGER NOT NULL AFTER age
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Add test1 after username and test2 after age</div>

In [20]:
# check columns
cursor.execute("SHOW COLUMNS FROM login.users")
columns = cursor.fetchall()

for col in columns:
    print(col[0],col[1])

username varchar(255)
test1 int(11)
name varchar(255)
age int(11)
test2 int(11)
type varchar(255)

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Drop Column
</h3><br>
<h3 style="color:red; font-size:25px;"> ALTER TABLE tablename DROP COLUMN col_name</h3>

In [22]:
query = """
        ALTER TABLE login.users 
        DROP COLUMN test1,
        DROP COLUMN test2
"""
cursor.execute(query)

In [23]:
# check columns
cursor.execute("SHOW COLUMNS FROM login.users")
columns = cursor.fetchall()

for col in columns:
    print(col[0],col[1])

username varchar(255)
name varchar(255)
age int(11)
type varchar(255)

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">MODIFY Column
</h3><br>
<h3 style="color:red; font-size:25px;">MODIFY COLUMNS DataType</h3>

In [24]:
query = """
        ALTER TABLE login.users 
        MODIFY COLUMN age VARCHAR(255)
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Change datatype integer to varchar</div>

In [25]:
# check columns
cursor.execute("SHOW COLUMNS FROM login.users")
columns = cursor.fetchall()

for col in columns:
    print(col[0],col[1])

username varchar(255)
name varchar(255)
age varchar(255)
type varchar(255)

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Change Column name
</h3><br>
<h3 style="color:red; font-size:25px;">CHANGE COLUMN old_name new_name type</h3>

In [26]:
query = """
        ALTER TABLE login.users 
        
        CHANGE COLUMN age AGE INTEGER
"""
cursor.execute(query)

In [27]:
# check columns
cursor.execute("SHOW COLUMNS FROM login.users")
columns = cursor.fetchall()

for col in columns:
    print(col[0],col[1])

username varchar(255)
name varchar(255)
AGE int(11)
type varchar(255)

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Add Constraint with Alter
</h3><br>
<h3 style="color:red; font-size:25px;">ADD CONSTRAINT alias condition</h3>

In [29]:
query = """
        ALTER TABLE login.users 
        
        ADD CONSTRAINT user_age CHECK(AGE > 16)
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now Insert Value for check constraint add or not</div>

In [31]:
query = """
        INSERT INTO login.users (username,name,AGE,type)
        VALUES ('mubeenahmad778','Mubeen',17,'normal')
"""
cursor.execute(query)

In [33]:
#check values

query = """
        SELECT * FROM login.users
"""
cursor.execute(query)
values = cursor.fetchall()

for val in values:
    print(val)

('mubeenahmad778', 'Mubeen', 17, 'normal')

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">trying to add age 16 to make sure constraint are add or not</div>

In [34]:
query = """
        INSERT INTO login.users (username,name,AGE,type)
        
        VALUES ('mubeenahmad889','Mubeen',16,'normal')
"""
try:
    cursor.execute(query)
except Exception as e:
    print(e)

4025 (23000): CONSTRAINT `user_age` failed for `login`.`users`

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Change Constraint<br><br>In Mysql we cant change constraints directly So first remove than add new constraint
</h3><br>
<h3 style="color:red; font-size:25px; line-height:200%;"> ALTER TABLE table_name <br>DROP CONSTRAINT alias,<br>
        ADD CONSTRAINT alias condition</h3>

In [35]:
query = """
        ALTER TABLE login.users 
        DROP CONSTRAINT user_age,
        ADD CONSTRAINT user_age CHECK(AGE > 16)
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now trying to add 16 Age</div>

In [36]:
query = """
        INSERT INTO login.users (username,name,AGE,type)
        
        VALUES ('alixyz','Ali',16,'normal')
"""

try:
    cursor.execute(query)
except Exception as e:
    print(e)

4025 (23000): CONSTRAINT `user_age` failed for `login`.`users`

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Why 16 are not adding ?<br><br>Because Previous Values are smaller than 16 thats why Constraints not apply</div>

In [38]:
query = """
        SELECT * FROM login.users
"""
cursor.execute(query)

values = cursor.fetchall()

for val in values:
    print(val)

('mubeenahmad778', 'Mubeen', 17, 'normal')

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now try to apply constaint on age < 20 and check 20 are add or Not</div>

In [39]:
query = """
        ALTER TABLE login.users 
        
        DROP CONSTRAINT user_age,
        ADD CONSTRAINT user_age CHECK(AGE > 16 and AGE < 20)
"""
cursor.execute(query)

In [40]:
query = """
        INSERT INTO login.users (username,name,AGE,type)
        
        VALUES ('riz','Rizwan',19,'normal')
"""
cursor.execute(query)

In [41]:
query = """
        SELECT * FROM login.users
"""
cursor.execute(query)

values = cursor.fetchall()

for val in values:
    print(val)

('mubeenahmad778', 'Mubeen', 17, 'normal')
('riz', 'Rizwan', 19, 'normal')

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now add the age 20</div>

In [42]:
query = """
        INSERT INTO login.users (username,name,AGE,type)
        
        VALUES ('riz','Rizwan',20,'normal')
"""
try:
    cursor.execute(query)
except Exception as e:
    print(e)

4025 (23000): CONSTRAINT `user_age` failed for `login`.`users`

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">So its Means Constraint are Updated</div>

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Drop Constraint
</h3><br>
<h3 style="color:red; font-size:25px;">ALTER TABLE table_name DROP CONSTRAINT alias</h3>

In [43]:
query = """
        ALTER TABLE login.users DROP CONSTRAINT user_age
"""
cursor.execute(query)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">NOW again try add 20 Age Bcz Constraint are Deleted</div>

In [44]:
query = """
        INSERT INTO login.users (username,name,AGE,type)
        
        VALUES ('riz','Rizwan',20,'normal')
"""
cursor.execute(query)

In [46]:
query = """
        SELECT * FROM login.users
"""
cursor.execute(query)

values = cursor.fetchall()

for val in values:
    print(val)

('mubeenahmad778', 'Mubeen', 17, 'normal')
('riz', 'Rizwan', 19, 'normal')
('riz', 'Rizwan', 20, 'normal')

<hr>
<div style="text-align:left; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Commands

<ul>SHOW COLUMNS FROM name</ul>
<ul>ALTER TABLE table_name ADD COLUMN col_name type</ul>
<ul>ADD COLUMN col_name INTEGER NOT NULL AFTER col_name</ul>
<ul>ALTER TABLE tablename DROP COLUMN col_name</ul>
<ul>MODIFY COLUMNS DataType</ul>
<ul>CHANGE COLUMN old_name new_name type</ul>
<ul>ADD CONSTRAINT alias condition</ul>
<ul>ALTER TABLE table_name <br>DROP CONSTRAINT alias,<br>
        ADD CONSTRAINT alias condition</ul>
<ul>ALTER TABLE table_name DROP CONSTRAINT alias</ul>

</div>