In [1]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"
%load_ext sql
%sql $connection_string

In [9]:
import mysql.connector
db = mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="sweeterror404", 
    password="Mubeen@12345",
    database='mubeen')

def query(command):
    global db 
    db.connect()
    cursor = db.cursor()
    cursor.execute(command)
    return cursor

def calling_func(name,arg):
    import pandas as pd
    db.connect()
    cursor = db.cursor(dictionary=True)
    data = pd.DataFrame()
    try:
        result = cursor.callproc(name, arg)
        
        for row in cursor.stored_results():
            for record in row.fetchall():            
                data = pd.concat([data,pd.DataFrame([record])])
    
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        print(f"SQL Statement: {cursor.statement}")
    finally:
        cursor.close()
        db.close()
    data = data.reset_index().drop(columns='index')
    return data

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">GET DIAGNOSTICS Statment
</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">SQL statements produce diagnostic information that populates the diagnostics area.<br><ul>So GET DIAGNOSTICS is used to retrieve diagnostic information in MySQL stored procedures or triggers. <br>The information includes details about the last executed SQL statement or the last condition handled within a handler.</ul><ul>When an exception or condition is encountered in a stored procedure or trigger, the GET DIAGNOSTICS statement can be used to capture information such as the SQLSTATE value, MySQL error code, and other relevant details. This information can then be used for logging, handling, or customizing the response to the error.</ul></div>

In [3]:
%sql DROP TABLE xx;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1051, "Unknown table 'mubeen.xx'")
[SQL: DROP TABLE xx;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Where i Execute the Above Query Than mysql Store the information Errors log etc</div>

<br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Example Here i use a Dynamic Query</div>

In [94]:
%%sql

CREATE PROCEDURE dy_query(IN query VARCHAR(255))
BEGIN

    DECLARE CONTINUE HANDLER FOR SQLEXCEPTION

    BEGIN

        GET DIAGNOSTICS CONDITION 1

            @v1 = RETURNED_SQLSTATE,
            @v2 = MYSQL_ERRNO,
            @v3 = MESSAGE_TEXT;
           

        SELECT @v1,@v2,@v3;
    END;


    SET @query = query;
    PREPARE tmp FROM @query;
    EXECUTE tmp;
    DEALLOCATE PREPARE tmp;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [101]:
%sql CALL dy_query("DROP TABLE xx")

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('42S02', 1051, "Unknown table 'mubeen.xx'")]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>
    <li>GET DIAGNOSTICS CONDITION 1<ul><li>Allow for Access the info</li></ul><br>
    <li>RETURNED_SQLSTATE<ul><li>Store Exception Error Code</li></ul><br>
    <li>MYSQL_ERRNO<ul><li>Store Error Code</li></ul><br>
    <li>MESSAGE_TEXT<ul><li>Store Error Message</li></ul>
</li></ul><br>In Above Procedure <br>When mysql Throw the Error Than HANDLER RAISE Error and Store Info in variables</div>

In [104]:
%sql CALL dy_query("SELECT * FROM abc")

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('42S02', 1146, "Table 'mubeen.abc' doesn't exist")]

In [105]:
%sql DROP PROCEDURE dy_query;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:23px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Here Some Information condition in the diagnostics areas
<ol>
    <li><h4 style="color:red;">CLASS_ORIGIN</h4>
        <ul><li>The origin of the condition (system, warning, or user-defined).
            <ul><li>System: A system condition, which is generated by the server.</li></ul>
            <ul><li>Warning: A warning condition, which is generated by the server.</li></ul>
            <ul><li>User-defined: A user-defined condition, which is generated by a user-defined handler.</li></ul>
        </li></ul>
    </li><br>
    <li><h4 style="color:red;">SUBCLASS_ORIGIN</li>
    <ul><li>The subclass of the condition (error, warning, or note).
            <ul><li>Error: A serious error condition, which indicates that the statement cannot be executed.</li></ul>
            <ul><li>Warning: A warning condition, which indicates that the statement was executed with warnings.</li></ul>
            <ul><li>Note: A note condition, which provides additional information about the statement execution.</li></ul>
        </li></ul>
    </li><br>
<li><h4 style="color:red;">RETURNED_SQLSTATE</li>
    <ul><li>The SQLSTATE value of the condition.</li><li> SQLSTATE is a five-character string that identifies the type of condition</li></ul>
<br>
<li><h4 style="color:red;">MESSAGE_TEXT</li>
    <ul><li>The text of the condition message.</li></ul>
<br>
<li><h4 style="color:red;">MYSQL_ERRNO</li>
    <ul><li>The MySQL error number associated with the condition.</li></ul>
<br>
<li><h4 style="color:red;">CONSTRAINT_CATALOG</li>
    <ul><li>The catalog name of the constraint that caused the condition.</li></ul>
<br>
<li><h4 style="color:red;">CONSTRAINT_SCHEMA</li>
    <ul><li>The schema name of the constraint that caused the condition.</li></ul>
<br>
<li><h4 style="color:red;">CONSTRAINT_NAME</li>
    <ul><li>The name of the constraint that caused the condition.</li></ul>
<br>
<li><h4 style="color:red;">CATALOG_NAME</li>
    <ul><li>The catalog name of the object that caused the condition.</li></ul>

<br>
<li><h4 style="color:red;">SCHEMA_NAME</li>
    <ul><li>The schema name of the object that caused the condition.</li></ul>
<br>
<li><h4 style="color:red;">TABLE_NAME</li>
    <ul><li>The table name of the object that caused the condition.</li></ul>
<br>
<li><h4 style="color:red;">COLUMN_NAME</li>
    <ul><li>The column name of the object that caused the condition.</li></ul>
<br>
<li><h4 style="color:red;">CURSOR_NAME</li>
    <ul><li>The name of the cursor that caused the condition.</li></ul>
<br>
<li><h4 style="color:red;">ROW_COUNT</li>
    <ul><li>A variable that stores the number of rows affected by the last SQL statement.</li></ul>
<br>
<li><h4 style="color:red;">FOUND</li>
    <ul><li>A variable that indicates whether a search condition in a SQL statement was satisfied.</li></ul>


</ol>
</div>

In [121]:
%%sql

CREATE PROCEDURE dy_query(IN query VARCHAR(255))
BEGIN

    DECLARE CONTINUE HANDLER FOR SQLEXCEPTION

    BEGIN

        GET DIAGNOSTICS CONDITION 1

            @CLASS_ORIGIN_ = CLASS_ORIGIN,
            @SUBCLASS_ORIGIN_ = SUBCLASS_ORIGIN,

            @RETURNED_SQLSTATE_ = RETURNED_SQLSTATE,
            @MESSAGE_TEXT_ = MESSAGE_TEXT,
            @MYSQL_ERRNO_ = MYSQL_ERRNO,

            @CONSTRAINT_SCHEMA_ = CONSTRAINT_SCHEMA,
            @CONSTRAINT_CATALOG_ = CONSTRAINT_CATALOG,

            @SCHEMA_NAME_ = SCHEMA_NAME,
            @CATALOG_NAME_ = CATALOG_NAME,

            @TABLE_NAME_ = TABLE_NAME,
            @COLUMN_NAME_ = COLUMN_NAME,
            @CURSOR_NAME_ = CURSOR_NAME;
            

        SELECT 
            @CLASS_ORIGIN_,@SUBCLASS_ORIGIN_,
            @RETURNED_SQLSTATE_,@MESSAGE_TEXT_,@MYSQL_ERRNO_,
            @CONSTRAINT_SCHEMA_,@CONSTRAINT_CATALOG_,
            @SCHEMA_NAME_,@CATALOG_NAME_,
            @TABLE_NAME_,@COLUMN_NAME_,@CURSOR_NAME_,@FOUND_;
    END;


    SET @query = query;
    PREPARE tmp FROM @query;
    EXECUTE tmp;
    DEALLOCATE PREPARE tmp;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [127]:
%sql CALL dy_query('SELECT ids FROM laptop_bk')

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('ISO 9075', 'ISO 9075', '42S22', "Unknown column 'ids' in 'field list'", 1054, '', '', '', '', '', '', '', None)]

In [143]:
%sql DROP PROCEDURE dy_query;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">RESIGNAL
</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<ul><li><p>RESIGNAL is a statement in MySQL used in the context of exception handling. </li><li>It is employed to modify and rethrow an already handled exception.</li><br><li>When an exception is handled in a HANDLER block, RESIGNAL is utilized to customize and rethrow that exception.</p></li></ul>
When using RESIGNAL, you can modify certain attributes of the exception, such as <br>SQLSTATE, MESSAGE_TEXT, etc. <br>This provides flexibility in how you want to further process the exception.</div>

<br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Example</div>

In [215]:
%%sql
CREATE PROCEDURE get_user(IN name VARCHAR(50))
BEGIN
  DECLARE EXIT HANDLER FOR SQLEXCEPTION
  BEGIN
        RESIGNAL; -- here resignal throw a Error
  END;

  IF name != 'mubeen' THEN
        DROP TABLE xx ;
  ELSE SELECT 'Welcome Mubeen' AS msg;
  END IF;

 
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [216]:
%sql CALL get_user('mubeen');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('Welcome Mubeen',)]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now change the name value</div>

In [217]:
%sql CALL get_user("ali");

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1051, "Unknown table 'mubeen.xx'")
[SQL: CALL get_user("ali");]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>When i pass ali name than Drop table command Executed <br>and HANDLER Raise this Error But RESIGNAL Generate the again the Error</p>
</div>

In [218]:
%sql DROP PROCEDURE get_user;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>We also Change the Error code </p>
</div>

In [238]:
%%sql
CREATE PROCEDURE get_user(IN name VARCHAR(50))
BEGIN
  DECLARE EXIT HANDLER FOR SQLEXCEPTION
  BEGIN
        RESIGNAL 
        SET MYSQL_ERRNO=12345, MESSAGE_TEXT="My Error";
  END;

  IF name != 'mubeen' THEN
        DROP TABLE xx ;
  ELSE SELECT 'Welcome Mubeen' AS msg;
  END IF;

 
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [239]:
%sql CALL get_user("ali");

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (12345, 'My Error')
[SQL: CALL get_user("ali");]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [246]:
%sql DROP PROCEDURE get_user;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>Example 3 </p>
</div>

In [7]:
%%sql
CREATE PROCEDURE get_user(IN user INT)
BEGIN
  DECLARE EXIT HANDLER FOR SQLEXCEPTION
  BEGIN
        RESIGNAL SQLSTATE '45000'
        SET MYSQL_ERRNO=2, MESSAGE_TEXT="Unknown User";
  END;

  IF user = 0 THEN
    SELECT "You are root User" AS msg;
  ELSEIF user = 1 THEN
    SELECT "Yor are Normal User";
  ELSE
      DROP TABLE xx ;
  END IF;

 
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [248]:
%sql CALL get_user(0);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('You are root User',)]

In [249]:
%sql CALL get_user(1);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('Yor are Normal User',)]

In [250]:
%sql CALL get_user(2);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.InternalError) (2, 'Unknown User')
[SQL: CALL get_user(2);]
(Background on this error at: https://sqlalche.me/e/20/2j85)

In [252]:
%sql DROP PROCEDURE get_user;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [260]:
%sql CALL get_user(2);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.InternalError) (2, 'Unknown User')
[SQL: CALL get_user(2);]
(Background on this error at: https://sqlalche.me/e/20/2j85)

In [8]:
%sql DROP PROCEDURE get_user;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">CONDITIONAL HANDLER
</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
A conditional handler in MySQL refers to the use of the DECLARE ... CONDITION statement to define a specific condition or error that the stored procedure or block of code should handle.<br><br>The CONDITION allows you to associate a custom condition (usually based on SQLSTATE values) with a user-defined variable.<br><br>They are used with Resignal and Signal
</div>

In [76]:
%sql SELECT * FROM users

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
7 rows affected.

[(49, 'mubeen111', 'mubeen111@xyz.com'),
 (50, 'mubeen222', 'mubeen222@xyz.com'),
 (51, 'rizwan212', 'rizwan123@abc.com'),
 (52, 'aliahmad234', 'aliahmad234@gmail.com'),
 (53, 'shahzad11', 'shahzad11@xyz.com'),
 (54, 'unqiue1', 'unique1@xyz.com'),
 (55, 'unqiue2', 'unique2@xyz.com')]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>Here 56 id not found</p>
</div>

In [77]:
%sql DELETE FROM users WHERE id=56

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>Here i use ROW_COUNT function to create a CONDITION </p>
</div>

In [79]:
%%sql
CREATE PROCEDURE remove_rec(IN user_id INT)
BEGIN
    DECLARE CONTINUE HANDLER FOR SQLEXCEPTION
    BEGIN
        RESIGNAL SET MESSAGE_TEXT = "Record Not Found";
    END;
    DELETE FROM users WHERE id = user_id;

    IF ROW_COUNT() = 0 THEN
        RESIGNAL; -- re create Error
    END IF;
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [78]:
%sql DROP PROCEDURE remove_rec;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [80]:
%sql SELECT * FROM users;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
7 rows affected.

[(49, 'mubeen111', 'mubeen111@xyz.com'),
 (50, 'mubeen222', 'mubeen222@xyz.com'),
 (51, 'rizwan212', 'rizwan123@abc.com'),
 (52, 'aliahmad234', 'aliahmad234@gmail.com'),
 (53, 'shahzad11', 'shahzad11@xyz.com'),
 (54, 'unqiue1', 'unique1@xyz.com'),
 (55, 'unqiue2', 'unique2@xyz.com')]

In [81]:
%sql CALL remove_rec(55);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>Data are deleted</p>
</div>

In [82]:
%sql SELECT * FROM users;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
6 rows affected.

[(49, 'mubeen111', 'mubeen111@xyz.com'),
 (50, 'mubeen222', 'mubeen222@xyz.com'),
 (51, 'rizwan212', 'rizwan123@abc.com'),
 (52, 'aliahmad234', 'aliahmad234@gmail.com'),
 (53, 'shahzad11', 'shahzad11@xyz.com'),
 (54, 'unqiue1', 'unique1@xyz.com')]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>Now if i pass unknown id than Resignal execute the error</p>
</div>

In [83]:
%sql CALL remove_rec(56);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1645, 'Record Not Found')
[SQL: CALL remove_rec(56);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [92]:
%sql DROP PROCEDURE remove_rec;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">SIGNAL
</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<ul><li><p>SIGNAL is used to raise a custom exception or error within stored procedures, triggers, and functions. It allows you to generate your own error conditions and provide specific error messages.</li><br><li>It is typically used to highlight specific conditions in your code that require special attention or handling.</p></li></ul>
</div>

In [42]:
%%sql

CREATE PROCEDURE p (divisor INT)
BEGIN
  DECLARE divide_by_zero CONDITION FOR SQLSTATE 'HY000';

  IF divisor = 0 THEN
    SIGNAL divide_by_zero;
  END IF;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [43]:
%sql CALL p(0);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1644, 'Unhandled user-defined exception condition')
[SQL: CALL p(0);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [44]:
%sql CALL p(1);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [45]:
%sql DROP PROCEDURE p;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><p>Difference in Resignal Vs Signal</p>
</div>

<hr>
<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul><li>RESIGNAL must be included in a handle:</li><ul><li>The RESIGNAL statement needs to be included within a handle </li><li>They are use with Continue Handler</li></ul></ul>
</div>

In [87]:
%%sql

CREATE PROCEDURE p ()
BEGIN
  DECLARE CONTINUE HANDLER FOR SQLEXCEPTION
  BEGIN
     RESIGNAL SET MESSAGE_TEXT = "Table not found";
  END;

  DROP TABLE xx;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [88]:
%sql CALL p();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1051, 'Table not found')
[SQL: CALL p();]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [89]:
%sql DROP PROCEDURE p;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul><li>SIGNAL can be included anywhere in an SQL stored procedure:</li><ul><li>The SIGNAL statement can be included at any point within an SQL stored procedure.</li</ul></ul>
</div>

In [46]:
%%sql

CREATE PROCEDURE p (divisor INT)
BEGIN
  DECLARE divide_by_zero CONDITION FOR SQLSTATE 'HY000';

  IF divisor = 0 THEN
    SIGNAL divide_by_zero;
  END IF;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [48]:
%sql CALL p(0);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1644, 'Unhandled user-defined exception condition')
[SQL: CALL p(0);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [49]:
%sql DROP PROCEDURE p;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<hr>
<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul><li>RESIGNAL can be specified by itself without additional syntax:</li><ul><li>You can use 'RESIGNAL;' independently without providing any other syntax.</li><li>There is no requirement to specify an SQLSTATE.</li><li>Note: When you specify RESIGNAL without an SQLSTATE, DB2 uses the SQLSTATE that invoked the handler.</li></ul></ul>
</div>

In [90]:
%%sql

CREATE PROCEDURE p ()
BEGIN
  DECLARE CONTINUE HANDLER FOR SQLEXCEPTION
  BEGIN

    RESIGNAL SET MESSAGE_TEXT = "without sqlstate";
  END;
  DROP TABLE xx;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [91]:
%sql CALL p();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1051, 'without sqlstate')
[SQL: CALL p();]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [92]:
%sql DROP PROCEDURE p;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul><li>SIGNAL, SQLSTATE specification is mandatory : </li><ul><li>When using the SIGNAL statement, it is always necessary to specify an SQLSTATE.</li></ul></ul>
</div>

In [68]:
%sql DROP TABLE xx;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1051, "Unknown table 'mubeen.xx'")
[SQL: DROP TABLE xx;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [73]:
%sql SELECT * FROM sql_state_er WHERE error_code = 1051

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('1051', '42S02', "Message: Unknown table '%s'")]

In [165]:
%%sql

CREATE PROCEDURE p (divisor INT)
BEGIN
  DECLARE custom_error CONDITION FOR SQLSTATE '42S02';

  IF divisor = 0 THEN
    SIGNAL SQLSTATE '42S02' 
    SET MESSAGE_TEXT = 'Custom error message' ;
  END IF;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [166]:
%sql CALL p(0);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1644, 'Custom error message')
[SQL: CALL p(0);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [167]:
%sql DROP PROCEDURE p;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<hr>
<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
    <ul><li>RESIGNAL :</li>
        <ul><li>Used with SQLSTATE.</li>
        <li>Applies to Error_name, SQLEXCEPTION.</li>
       <li>EXIT handler not used.</li> 
        <li>Primarily used for re-throwing errors caught by an exception handler.</li></ul>
        </ul>
<ul><li>SIGNAL :</li>
        <ul><li>Used only with SQLSTATE.</li>
        <li>Employed with conditions.</li>
        <li>Primarily used for generating custom errors based on specific conditions in the code.</li></ul></ul>
</div>