<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Import csv Data </h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">First install sqlalchemy</div>

In [129]:
!pip install sqlalchemy pandas

Requirement already satisfied: sqlalchemy in /home/mubeen/venv/gpu/lib/python3.10/site-packages (2.0.23)
Requirement already satisfied: pandas in /home/mubeen/venv/gpu/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: numpy>=1.22.4 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">import create_engine inside sqlalchemy</div>

In [163]:
from sqlalchemy import create_engine

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">import pandas for load data</div>

In [164]:
import pandas as pd

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Load dataset first in pandas</div>

In [190]:
df = pd.read_csv('./mobile.csv')

In [191]:
df.head(1)

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,refresh_rate,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,resolution_width,resolution_height
0,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,snapdragon,8.0,2.2,...,120,3,1.0,android,64.0,16.0,1,1024.0,1080,2412

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Authentication</div>

In [2]:
host="localhost"
port=3307
user="root"
password=""
database = "mydb"

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">You need to increase a size of max_allowed_packet, max_heap_table_size</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Connection with mysql.connector</div>

In [4]:
import mysql.connector

In [251]:
db = mysql.connector.connect(host=host,port=port,user=user,password=password,database=database)

In [252]:
db.connect()

In [253]:
cursor = db.cursor()

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now increase the size</div>

In [227]:
# size is 64 MB
cursor.execute('SET GLOBAL max_allowed_packet = 1024 * 1024 * 64;')
cursor.execute('SET GLOBAL max_heap_table_size = 1024 * 1024 * 64;')

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">create engine with sqlalchemy</div>

In [228]:
engine = create_engine(f'mysql+mysqlconnector://{user}{password}:@{host}:{port}/{database}')

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Load dataset in pandas</div>

In [230]:
df = pd.read_csv('./mobile.csv')
df.head(1)

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,refresh_rate,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,resolution_width,resolution_height
0,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,snapdragon,8.0,2.2,...,120,3,1.0,android,64.0,16.0,1,1024.0,1080,2412

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now load pandas to sql</div>

In [231]:
table_name = 'mobile'
df.to_sql(name=table_name,con=engine,if_exists='replace',index=False)

352

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Data load Sucessfully</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check Table Sql</div>

In [254]:
cursor.execute('SHOW TABLES')

In [255]:
print(cursor.fetchall())

[('mobile',), ('users',)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">here mobile table is a csv_data</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">check columns</div>

In [259]:
cursor.execute('SHOW COLUMNS FROM mydb.mobile')

for i in cursor.fetchall():
    print("column",i[0],"Type",i[1])

column brand_name Type text
column model Type text
column price Type bigint(20)
column rating Type double
column has_5g Type tinyint(1)
column has_nfc Type tinyint(1)
column has_ir_blaster Type tinyint(1)
column processor_brand Type text
column num_cores Type double
column processor_speed Type double
column battery_capacity Type double
column fast_charging_available Type bigint(20)
column fast_charging Type double
column ram_capacity Type double
column internal_memory Type double
column screen_size Type double
column refresh_rate Type bigint(20)
column num_rear_cameras Type bigint(20)
column num_front_cameras Type double
column os Type text
column primary_camera_rear Type double
column primary_camera_front Type double
column extended_memory_available Type bigint(20)
column extended_upto Type double
column resolution_width Type bigint(20)
column resolution_height Type bigint(20)

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">IPython SQL Magic extension</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">IPython SQL magic extension makes it possible to write SQL queries directly into code cells as well as read the results straight into pandas DataFrames (Source).<br> This works for both the traditional notebooks as well as the modern Jupyter Labs.</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Install ipython-sql</div>

In [260]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/mubeen/venv/gpu/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython-sql) (8.16.1)
Requirement already satisfied: sqlalchemy>=2.0 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython-sql) (2.0.23)
Requirement already satisfied: sqlparse in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (5.11.2)
Requirement already satisfied: exceptiongroup in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (1.1.3)
Requirement already satisfied: pexpect>4.3 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.8)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.0)
Requirement already satisfied: pure-eval in /home/mubeen/venv/gpu/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Connection with ipython-sql</div>

In [6]:
from urllib.parse import quote

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">quote("yourpassword", safe="")  replace your password<br>and root is the username</div>

In [8]:
encoded_password = quote("", safe="")  
connection_string = f"mysql+pymysql://root:{encoded_password}@localhost:3307/mydb"

In [9]:
%load_ext sql
%sql $connection_string

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Sucessfully connected</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now direct run sql commands with %sql or %%sql</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Show Tables</div>

In [265]:
%sql SHOW TABLES

 * mysql+pymysql://root:***@localhost:3307/mydb
2 rows affected.

[('mobile',), ('users',)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">With %%sql</div>

In [268]:
%%sql 
SHOW TABLES

 * mysql+pymysql://root:***@localhost:3307/mydb
2 rows affected.

[('mobile',), ('users',)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">we also store result in python variable with single %</div>

In [269]:
result = %sql SHOW TABLES

 * mysql+pymysql://root:***@localhost:3307/mydb
2 rows affected.

In [270]:
result

[('mobile',), ('users',)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check Type</div>

In [271]:
type(result)

sql.run.ResultSet

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Convert into Dataframe</div>

In [272]:
result.DataFrame()

  Tables_in_mydb
0         mobile
1          users

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now again check type</div>

In [273]:
type(result.DataFrame())

pandas.core.frame.DataFrame

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Read Data Sql with Select </h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">If you want to limit the number of rows returned in a SQL query, you can use the LIMIT clause.<br>The LIMIT clause is used to restrict the number of rows returned by a SQL query.<br><br>e.g LIMIT 1 (only 1 Row Show)</div>

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">add Limits
</h3><br>
<h3 style="color:red; font-size:25px;">LIMIT no</h3>

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">The SELECT statement in SQL is used to retrieve data from one or more tables in a database</div>

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Select with Where 1
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT * FROM tablename WHERE 1</h3>

In [280]:
%sql SELECT * FROM mobile WHERE 1 LIMIT 1

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[('oneplus', 'OnePlus Nord CE 2 Lite 5G', 19989, 81.0, 1, 0, 0, 'snapdragon', 8.0, 2.2, 5000.0, 1, 33.0, 6.0, 128.0, 6.59, 120, 3, 1.0, 'android', 64.0, 16.0, 1, 1024.0, 1080, 2412)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Here * means Show All the columns and Limit 1 means Show only 1 Row<br><br>
Select use for Selection<br>
* means ALl<br>
FROM use for select in database. in table<br>
WHERE 1 on is the optional<br>
</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">change limit</div>

In [281]:
%sql SELECT * FROM mobile WHERE 1 LIMIT 2

 * mysql+pymysql://root:***@localhost:3307/mydb
2 rows affected.

[('oneplus', 'OnePlus Nord CE 2 Lite 5G', 19989, 81.0, 1, 0, 0, 'snapdragon', 8.0, 2.2, 5000.0, 1, 33.0, 6.0, 128.0, 6.59, 120, 3, 1.0, 'android', 64.0, 16.0, 1, 1024.0, 1080, 2412),
 ('samsung', 'Samsung Galaxy A14 5G', 16499, 75.0, 1, 0, 0, 'exynos', 8.0, 2.4, 5000.0, 1, 15.0, 4.0, 64.0, 6.6, 90, 3, 1.0, 'android', 50.0, 13.0, 1, 1024.0, 1080, 2408)]

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Select without Where 1
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT * FROM tablename</h3>

In [282]:
%sql SELECT * FROM mobile LIMIT 2

 * mysql+pymysql://root:***@localhost:3307/mydb
2 rows affected.

[('oneplus', 'OnePlus Nord CE 2 Lite 5G', 19989, 81.0, 1, 0, 0, 'snapdragon', 8.0, 2.2, 5000.0, 1, 33.0, 6.0, 128.0, 6.59, 120, 3, 1.0, 'android', 64.0, 16.0, 1, 1024.0, 1080, 2412),
 ('samsung', 'Samsung Galaxy A14 5G', 16499, 75.0, 1, 0, 0, 'exynos', 8.0, 2.4, 5000.0, 1, 15.0, 4.0, 64.0, 6.6, 90, 3, 1.0, 'android', 50.0, 13.0, 1, 1024.0, 1080, 2408)]

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Select Specfic Columns
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT column_names FROM tablename</h3>

In [283]:
%sql SELECT brand_name,model FROM mobile LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[('oneplus', 'OnePlus Nord CE 2 Lite 5G'),
 ('samsung', 'Samsung Galaxy A14 5G'),
 ('samsung', 'Samsung Galaxy F23 5G (6GB RAM + 128GB)'),
 ('realme', 'Realme 10 Pro'),
 ('vivo', 'Vivo T1 5G (6GB RAM + 128GB)')]

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Change order columns
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT col2,col1 FROM tablename</h3>

In [284]:
%%sql 
SELECT model,brand_name FROM mobile 
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[('OnePlus Nord CE 2 Lite 5G', 'oneplus'),
 ('Samsung Galaxy A14 5G', 'samsung'),
 ('Samsung Galaxy F23 5G (6GB RAM + 128GB)', 'samsung'),
 ('Realme 10 Pro', 'realme'),
 ('Vivo T1 5G (6GB RAM + 128GB)', 'vivo')]

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Rename Column alias
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT col AS new_name</h3>

In [285]:
%%sql 
SELECT brand_name AS brand FROM mobile 
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[('oneplus',), ('samsung',), ('samsung',), ('realme',), ('vivo',)]

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Alias with table
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT * FROM name alias</h3>

In [287]:
%%sql 
SELECT * FROM mobile t1
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[('oneplus', 'OnePlus Nord CE 2 Lite 5G', 19989, 81.0, 1, 0, 0, 'snapdragon', 8.0, 2.2, 5000.0, 1, 33.0, 6.0, 128.0, 6.59, 120, 3, 1.0, 'android', 64.0, 16.0, 1, 1024.0, 1080, 2412),
 ('samsung', 'Samsung Galaxy A14 5G', 16499, 75.0, 1, 0, 0, 'exynos', 8.0, 2.4, 5000.0, 1, 15.0, 4.0, 64.0, 6.6, 90, 3, 1.0, 'android', 50.0, 13.0, 1, 1024.0, 1080, 2408),
 ('samsung', 'Samsung Galaxy F23 5G (6GB RAM + 128GB)', 16999, 80.0, 1, 1, 0, 'snapdragon', 8.0, 2.2, 5000.0, 1, 25.0, 6.0, 128.0, 6.6, 120, 3, 1.0, 'android', 50.0, 8.0, 1, 1024.0, 1080, 2408),
 ('realme', 'Realme 10 Pro', 18999, 82.0, 1, 0, 0, 'snapdragon', 8.0, 2.2, 5000.0, 1, 33.0, 6.0, 128.0, 6.72, 120, 2, 1.0, 'android', 108.0, 16.0, 1, 1024.0, 1080, 2400),
 ('vivo', 'Vivo T1 5G (6GB RAM + 128GB)', 16990, 80.0, 1, 0, 0, 'snapdragon', 8.0, 2.2, 5000.0, 1, 18.0, 6.0, 128.0, 6.58, 120, 3, 1.0, 'android', 50.0, 16.0, 1, 1024.0, 1080, 2408)]

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Create New Column and add Specfic Value Temporary
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT columns , 'new_value' AS new_column FROM name</h3>

In [295]:
%%sql 
SELECT brand_name,model,price, "50%" AS disscount FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[('oneplus', 'OnePlus Nord CE 2 Lite 5G', 19989, '50%'),
 ('samsung', 'Samsung Galaxy A14 5G', 16499, '50%'),
 ('samsung', 'Samsung Galaxy F23 5G (6GB RAM + 128GB)', 16999, '50%'),
 ('realme', 'Realme 10 Pro', 18999, '50%'),
 ('vivo', 'Vivo T1 5G (6GB RAM + 128GB)', 16990, '50%')]

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Filter Rows with WHERE
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT columns FROM name WHERE col = 'value'</h3>

In [300]:
%%sql 
SELECT brand_name,model,price FROM mobile
WHERE brand_name = 'samsung'

LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[('samsung', 'Samsung Galaxy A14 5G', 16499),
 ('samsung', 'Samsung Galaxy F23 5G (6GB RAM + 128GB)', 16999),
 ('samsung', 'Samsung Galaxy M53 5G', 23790),
 ('samsung', 'Samsung Galaxy M33 5G', 17478),
 ('samsung', 'Samsung Galaxy A14 5G (6GB RAM + 128GB)', 18999)]

<div style="text-align:left; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<br>
<h3 style="color:#005bbd; font-size:25px;">Apply Multiple Filters
</h3><br>
<h3 style="color:red; font-size:25px;">SELECT columns FROM name WHERE col1 = 'value' AND col2 = 'value'</h3>

In [304]:
%%sql 
SELECT brand_name,model,price FROM mobile
WHERE brand_name = 'samsung'  
AND price > 18000

LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[('samsung', 'Samsung Galaxy M53 5G', 23790),
 ('samsung', 'Samsung Galaxy A14 5G (6GB RAM + 128GB)', 18999),
 ('samsung', 'Samsung Galaxy A23', 18499),
 ('samsung', 'Samsung Galaxy A14 5G (8GB RAM + 128GB)', 20999),
 ('samsung', 'Samsung Galaxy A23 5G', 22999)]

<hr>
<div style="text-align:left; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Summary for load data
<ul>create_engine with sqlalchemy</ul>
<ul>increase max_allowed_packet</ul>
<ul>increase max_heap_table_size</ul>
<ul>load csv data pandas to sql</ul>
<ul>create_engine with sqlalchemy</ul>
<ul>ipython-sql</ul>
<ul>magic % and %%</ul>
<ul>store result in variable with %</ul>


</div>

<hr>
<div style="text-align:left; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Commands
<ul>LIMIT No</ul>
<ul>SELECT * FROM tablename WHERE 1</ul>
<ul>SELECT * FROM tablename</ul>
<ul>SELECT column_names FROM tablename</ul>
<ul>SELECT col2,col1 FROM tablename</ul>
<ul>SELECT col AS new_name</ul>
<ul>SELECT * FROM name alias</ul>
<ul>SELECT columns , 'new_value' AS new_column FROM name</ul>
<ul>SELECT columns FROM name WHERE col = 'value'</ul>
<ul>SELECT columns FROM name WHERE col1 = 'value' AND col2 = 'value'</ul>

</div>