In [1]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"

%load_ext sql
%sql $connection_string

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Static Sql</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Static SQL involves fixed SQL statements written directly in the code without runtime construction.
<ul><li>SQL statements are fixed at compile-time.</li>
<li>Generally more straight forward and easier to understand.</li>
<li>Less prone to SQL injection as queries are predefined</li></ul>
</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Example
</div>

In [2]:
%%sql
SELECT * FROM laptop_bk LIMIT 3;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Dynamic Sql</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Dynamic SQL involves constructing SQL statements at runtime, allowing flexibility in query composition.
<ul><li>Allows flexibility in constructing queries at runtime.</li>
<li>Useful for situations where the structure of the query is determined dynamically.</li>
<li>More prone to SQL injection if user inputs are not properly validated.</li></ul>
</div>

<h1 style="text-align:left; color:#005bbd; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;"><ul style="list-style-type:circle;"><li>PREPARE</li></ul></h1>


<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>
    <ul><li>The PREPARE statement is used to prepare a dynamic SQL statement for execution in MySQL.</li>
    <li>The dynamic SQL statement represented as a string.</li></ul></ul></div>

In [26]:
%%sql

PREPARE st FROM 'SELECT * FROM laptop_bk LIMIT 3';

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<h1 style="text-align:left; color:#005bbd; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;"><ul style="list-style-type:circle;"><li>EXECUTE</li></ul></h1>


<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>
    <ul><li>The EXECUTE statement is used to execute a prepared statement in MySQL.</li></ul></ul></div>

In [7]:
%%sql

EXECUTE st;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

<h1 style="text-align:left; color:#005bbd; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;"><ul style="list-style-type:circle;"><li>DEALLOCATE PREPARE</li></ul></h1>


<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>
    <ul>
       <li>Deallocating a prepared statement is important because it frees up resources that were allocated for the execution of that prepared statement</li><hr>
        <ul style="list-style-type:DISC;"><li><h4 style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px orange, 0 0 1px red;">Memory Allocation :</h4>
            <ul><li>When you use the PREPARE statement, MySQL allocates memory for the prepared statement to execute.</li></ul><br>
            <ul><li>This memory allocation happens at runtime when you prepare a dynamic SQL statement.</li></ul>
        </li></ul><hr>
        <ul style="list-style-type:DISC;"><li><h4 style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px orange, 0 0 1px red;">Resource Release :</h4>
            <ul><li>Deallocating a prepared statement using DEALLOCATE releases the allocated memory and resources.</li></ul><br>
            <ul><li>This statement serves as a cleanup process, freeing up system resources.</li></ul>
        </li></ul><hr>
        <ul style="list-style-type:DISC;"><li><h4 style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px orange, 0 0 1px red;">Avoiding Resource Leaks :</h4>
            <ul><li>If you don't deallocate the prepared statement, the allocated memory remains in the system.</li></ul><br>
            <ul><li>After multiple executions, this can lead to resource leaks, impacting system performance.</li></ul>
        </li></ul><hr>
        <ul style="list-style-type:DISC;"><li><h4 style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px orange, 0 0 1px red;">Optimizing Resource Usage :</h4>
            <ul><li>Deallocating resources is a best practice to optimize system resources.</li></ul><br>
            <ul><li>It ensures that there is no unnecessary resource consumption in your application or database.</li></ul>
        </li></ul><hr>
        <ul style="list-style-type:DISC;"><li><h4 style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px orange, 0 0 1px red;">Security Considerations :</h4>
            <ul><li>Deallocating prepared statements contributes to improving the security of your application or database.</li></ul><br>
            <ul><li>Releasing allocated resources helps reduce potential security vulnerabilities.</li></ul>
        </li></ul><hr>
    </ul>
</ul></div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">if we cant Deallocating than anyone Execute the statement</div>

In [8]:
%%sql

EXECUTE st;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">now DEALLOCATE PREPARE</div>

In [9]:
%%sql
DEALLOCATE PREPARE st;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">now again try to Execute</div>

In [11]:
%%sql
EXECUTE st;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1243, 'Unknown prepared statement handler (st) given to EXECUTE')
[SQL: EXECUTE st;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Example 2</div>

In [151]:
%%sql

SET

@q1 = 'SELECT',
@space = ' ',
@col = '* FROM',
@table = 'laptop_bk',
@limit = 'LIMIT',
@occr = '3';

SET @query = CONCAT(@q1,@space,@col,@space,@table,@space,@limit,@space,@occr)

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.
0 rows affected.

[]

In [152]:
%%sql
SELECT @query;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('SELECT * FROM laptop_bk LIMIT 3',)]

In [154]:
%%sql
PREPARE st FROM @query;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [155]:
%%sql
EXECUTE st;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

In [156]:
%%sql
DEALLOCATE PREPARE st;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Example 3</div>

In [167]:
%%sql

SET

@q1 = 'SELECT',
@space = ' ',
@col = 'Company,Price FROM',
@table = 'laptop_bk',
@limit = 'LIMIT',
@occr = '3',

@query = CONCAT(@q1,@space,@col,@space,@table,@space,@limit,@space,@occr);
PREPARE st FROM @query;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.
0 rows affected.

[]

In [168]:
%%sql
EXECUTE st;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[('Apple', Decimal('71379.0')),
 ('Apple', Decimal('47896.0')),
 ('HP', Decimal('30636.0'))]

In [170]:
%%sql
DEALLOCATE PREPARE st;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Not we use Dynamic sql with Procedures
</div>

In [255]:
%%sql

CREATE PROCEDURE extract_data(IN columns VARCHAR(255),IN table_name VARCHAR(50))
BEGIN
    SET 
    @query = CONCAT('SELECT ',columns,' FROM ',table_name,' LIMIT 3'); -- Here cant use @ bcz i use IN 
    PREPARE st FROM @query;
    EXECUTE st;
    DEALLOCATE PREPARE st;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [256]:
%%sql
CALL extract_data('*','laptop_bk');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

In [257]:
%%sql
CALL extract_data('Company,cpu_brand,Price','laptop_bk');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[('Apple', 'Intel', Decimal('71379.0')),
 ('Apple', 'Intel', Decimal('47896.0')),
 ('HP', 'Intel', Decimal('30636.0'))]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now Delete Procedures extract_data
</div>

In [258]:
%%sql
DROP PROCEDURE extract_data;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Example 2
</div>

In [274]:
%%sql

CREATE PROCEDURE extract_data(IN columns VARCHAR(255),IN table_name VARCHAR(50), IN limits VARCHAR(10))
BEGIN
    SET 
    @query = CONCAT('SELECT ',columns,' FROM ',table_name,' LIMIT ',limits); 
    PREPARE st FROM @query;
    EXECUTE st;
    DEALLOCATE PREPARE st;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [276]:
%%sql
CALL extract_data('*','laptop_bk','2');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
2 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0'))]

In [280]:
%%sql
CALL extract_data('id,Company,Price','laptop_bk','50,3');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(51, 'HP', Decimal('58768.0')),
 (52, 'Acer', Decimal('20460.0')),
 (53, 'Dell', Decimal('40908.0'))]

In [338]:
%%sql
DROP PROCEDURE extract_data;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Not we cant Use Dynamic Sql in Function
</div>

In [342]:
%%sql

CREATE FUNCTION extract_data() RETURNS VARCHAR(50)
DETERMINISTIC
BEGIN
    SET 
    @query = CONCAT('SELECT ',columns,' FROM ',table_name,' LIMIT ',limits); 
    PREPARE st FROM @query;
    EXECUTE st;
    DEALLOCATE PREPARE st;
    RETURN 0;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1336, 'Dynamic SQL is not allowed in stored function or trigger')
[SQL: CREATE FUNCTION extract_data() RETURNS VARCHAR(50)
DETERMINISTIC
BEGIN
    SET
    @query = CONCAT('SELECT ',columns,' FROM ',table_name,' LIMIT ',limits);
    PREPARE st FROM @query;
    EXECUTE st;
    DEALLOCATE PREPARE st;
    RETURN 0;

END;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">we only use functionality like maxprice, sum etc ...
</div>

In [345]:
%%sql

CREATE FUNCTION sum_price() RETURNS INT
DETERMINISTIC
BEGIN
    SET
    @max_price = (SELECT SUM(Price) FROM laptop_bk); 
    RETURN @max_price;

END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [346]:
%%sql
SELECT sum_price();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(75254073,)]

In [347]:
%%sql
DROP FUNCTION sum_price;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]