<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Events</h1>


<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>Events represent scheduled tasks. They are executed based on time or intervals and run in the background of the database.<br>Each event can be an SQL statement that the database executes when the scheduled time for the event occurs.</ul>

Events are used for database maintenance, data purging, data aggregation, synchronization, and other tasks <br> They are also used to automate repetitive tasks, such as generating daily reports or taking backups.

</div>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Create Event Syntax :<br><ul>
CREATE EVENT [IF NOT EXIST] event_name<br>
ON SCHEDULE schedule<br>
DO<br>
event_body</ul></div>

In [1]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"
%load_ext sql
%sql $connection_string

In [3]:
%%sql

CREATE TABLE IF NOT EXISTS messages (
    id INT AUTO_INCREMENT PRIMARY KEY,
    message VARCHAR(255) NOT NULL,
    created_at DATETIME DEFAULT NOW()
);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [5]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [6]:
%%sql

CREATE EVENT IF NOT EXISTS one_time_log
ON SCHEDULE AT CURRENT_TIMESTAMP

DO
  INSERT INTO messages(message) VALUES('One-time event');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [7]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(1, 'One-time event', datetime.datetime(2024, 4, 5, 2, 37, 20))]

In [8]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(1, 'One-time event', datetime.datetime(2024, 4, 5, 2, 37, 20))]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">The one_time_log event is a one-time event that runs immediately when it is created.<br>It inserts a new row into the messages table.</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">To show all events in the database, you use the following statement:</div>

In [9]:
%sql SHOW EVENTS

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">The output shows no row because the event is automatically dropped when it expires.<br>In this case, it is a one-time event and expires when its execution is completed.</div>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now try to Change the Second</div>

In [10]:
%sql SELECT SECOND(NOW()) as sec;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(57,)]

In [11]:
%sql SELECT NOW() + INTERVAL 20 SECOND; # increment second interval

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 5, 2, 38, 28),)]

In [12]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(1, 'One-time event', datetime.datetime(2024, 4, 5, 2, 37, 20))]

In [13]:
%%sql

CREATE EVENT IF NOT EXISTS one_time_log
ON SCHEDULE AT NOW() + INTERVAL 20 SECOND

DO
  INSERT INTO messages(message) VALUES('+20 Sec event');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now check the events in list</div>

In [14]:
%sql SHOW EVENTS

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('mubeen', 'one_time_log', 'sweeterror404@127.0.0.1', 'SYSTEM', 'ONE TIME', datetime.datetime(2024, 4, 5, 2, 38, 39), None, None, None, None, 'ENABLED', 1, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Wait for 20 Seconds</div>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">After 20 Seconds now again check Event</div>

In [24]:
%sql SHOW EVENTS

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Thats means Event are Executed after 20 Sec</div>

In [25]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
2 rows affected.

[(1, 'One-time event', datetime.datetime(2024, 4, 5, 2, 37, 20)),
 (2, '+20 Sec event', datetime.datetime(2024, 4, 5, 2, 38, 39))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">In MySQL, there are two main types of events :
    <ul>One-Time Events :<ul>These events are scheduled to run only once. <br>They are executed at a specific date and time, after which they are automatically disabled.</ul></ul><br>
    <ul>Recurring Events :<ul>These events are used to run regularly scheduled tasks.<br>They are executed at regular intervals, such as every hour, every day, or every month.<br><br>Recurring events do not automatically remove themselves after execution. <br>Once created, recurring events will continue to execute at their specified intervals until they are explicitly dropped or altered by the user.<br><br>It's the responsibility of the database administrator to manage recurring events and decide when to stop or modify them.</ul>
</ul>
</div>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">One time Event Exmaple 2</div>

In [26]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
2 rows affected.

[(1, 'One-time event', datetime.datetime(2024, 4, 5, 2, 37, 20)),
 (2, '+20 Sec event', datetime.datetime(2024, 4, 5, 2, 38, 39))]

In [27]:
%sql SELECT NOW() AS before_30_second;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 5, 2, 39, 12),)]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Create Event</div>

In [28]:
%%sql
CREATE EVENT IF NOT EXISTS one_time_log
ON SCHEDULE AT NOW() + INTERVAL 30 SECOND

DO
  INSERT INTO messages(message) VALUES('+30 Sec event')

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check Current Seconds</div>

In [29]:
%sql SELECT NOW() AS currenttime;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 5, 2, 39, 21),)]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check the messages table</div>

In [30]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
2 rows affected.

[(1, 'One-time event', datetime.datetime(2024, 4, 5, 2, 37, 20)),
 (2, '+20 Sec event', datetime.datetime(2024, 4, 5, 2, 38, 39))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now check Event</div>

In [31]:
%sql SHOW EVENTS

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('mubeen', 'one_time_log', 'sweeterror404@127.0.0.1', 'SYSTEM', 'ONE TIME', datetime.datetime(2024, 4, 5, 2, 39, 49), None, None, None, None, 'ENABLED', 1, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Here check Execute at Column</div>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Wait 30 Second</div>

In [38]:
%sql SHOW EVENTS -- event are removed

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [39]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'One-time event', datetime.datetime(2024, 4, 5, 2, 37, 20)),
 (2, '+20 Sec event', datetime.datetime(2024, 4, 5, 2, 38, 39)),
 (3, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 39, 49))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Recurring Events Exmaple 1</div>

In [51]:
%sql TRUNCATE TABLE messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [52]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">In Recurring Event we not used AT</div>

In [53]:
%%sql
CREATE EVENT recurring_event
ON SCHEDULE EVERY 5 SECOND
DO
  INSERT INTO messages(message) VALUES('Fill value Every 5 Second')

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check Event</div>

In [54]:
%sql SHOW EVENTS

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('mubeen', 'recurring_event', 'sweeterror404@127.0.0.1', 'SYSTEM', 'RECURRING', None, '5', 'SECOND', datetime.datetime(2024, 4, 5, 2, 41, 4), None, 'ENABLED', 1, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Here Execute at Column are NULL and Type is RECURRING</div>

In [55]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
2 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Drop Event</div>

In [56]:
%sql DROP EVENT recurring_event;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now Again check Event</div>

In [57]:
%sql SHOW EVENTS

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now Again check Values Id</div>

In [58]:
%sql SELECT * FROM messages

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
4 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19))]

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Schedule Arguments</h1>


<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
schedule : {<ul>
    AT timestamp<br>
    EVERY interval<br>
    STARTS timestamp<br>
    ENDS timestamp
</ul>}
</div>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
AT Example 1
</div>

In [59]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
4 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19))]

In [260]:
%sql TRUNCATE TABLE messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [60]:
%%sql
CREATE EVENT IF NOT EXISTS one_time_log
ON SCHEDULE AT NOW() + INTERVAL 30 SECOND

DO
  INSERT INTO messages(message) VALUES('+30 Sec event')

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [69]:
%sql SELECT NOW();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 5, 2, 43, 3),)]

In [70]:
%sql SELECT * FROM messages -- wait 30 seconds

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
5 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
AT Example 2
</div>

In [72]:
%sql SELECT NOW();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 5, 2, 45, 25),)]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
AT Example 2
</div>

In [78]:
%%sql 
CREATE EVENT ote
ON SCHEDULE AT "2024-04-06 02:49:11"
DO
   INSERT INTO messages(message) VALUES('Scheduled at a specific date');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [79]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
5 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
Now i change the System Date Manually</div>

In [81]:
%sql SELECT NOW(); -- change date

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 6, 2, 50, 33),)]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
Now again check message table</div>

In [82]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
6 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52)),
 (6, 'Scheduled at a specific date', datetime.datetime(2024, 4, 6, 2, 50, 5))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">EVERY keyword is used to specify the recurrence interval <br>for a recurring event within the CREATE EVENT statement.</div>

In [83]:
%%sql
CREATE EVENT rec_ev
ON SCHEDULE EVERY 5 SECOND
DO 
  INSERT INTO messages(message) VALUES('Fill value Every 5 Second')

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [84]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
8 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52)),
 (6, 'Scheduled at a specific date', datetime.datetime(2024, 4, 6, 2, 50, 5)),
 (7, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 53)),
 (8, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 58))]

In [85]:
%sql DROP EVENT rec_ev; -- Drop Event

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [86]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
9 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52)),
 (6, 'Scheduled at a specific date', datetime.datetime(2024, 4, 6, 2, 50, 5)),
 (7, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 53)),
 (8, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 58)),
 (9, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 58, 3))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">The STARTS keyword is used in MySQL when scheduling a recurring event to specify the start time of the event. <br>It is an optional clause.</div>

In [87]:
%sql SELECT NOW();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 5, 3, 1, 34),)]

In [89]:
%%sql
CREATE EVENT event_starts
ON SCHEDULE EVERY 1 DAY
STARTS '2024-04-06 03:00:00'
DO
  INSERT INTO messages(message) VALUES('Daily event starting from 2024-04-06 03:00:00');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now again Change the System Datetime</div>

In [90]:
%sql SELECT NOW(); -- change datetime

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 6, 3, 0, 10),)]

In [91]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
10 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52)),
 (6, 'Scheduled at a specific date', datetime.datetime(2024, 4, 6, 2, 50, 5)),
 (7, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 53)),
 (8, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 58)),
 (9, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 58, 3)),
 (10, 'Daily event starting from 2024-04-06 03:00:00', datetime.datetime(2024, 4, 6, 3, 0))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now i again change the day</div>

In [92]:
%sql SELECT NOW(); -- change datetime again

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 7, 3, 1, 13),)]

In [93]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
11 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52)),
 (6, 'Scheduled at a specific date', datetime.datetime(2024, 4, 6, 2, 50, 5)),
 (7, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 53)),
 (8, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 58)),
 (9, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 58, 3)),
 (10, 'Daily event starting from 2024-04-06 03:00:00', datetime.datetime(2024, 4, 6, 3, 0)),
 (11, 'Daily event starting from 2024-04-06 03:00:00', datetime.datetime(2024, 4, 7, 3, 1))]

In [94]:
%sql DROP EVENT event_starts; -- Drop Event

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">The ENDS keyword in MySQL is used when scheduling a recurring event to specify the end time of the event. It is also an optional clause.</div>

In [141]:
%sql SELECT NOW();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 5, 3, 18, 44),)]

In [142]:
%%sql

CREATE EVENT event_ends
ON SCHEDULE EVERY 1 HOUR
ENDS '2024-04-06 03:18:00'
DO
  INSERT INTO messages(message) VALUES('Hourly event ending at 2024-04-01 18:00:00');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [144]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
12 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52)),
 (6, 'Scheduled at a specific date', datetime.datetime(2024, 4, 6, 2, 50, 5)),
 (7, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 53)),
 (8, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 58)),
 (9, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 58, 3)),
 (10, 'Daily event starting from 2024-04-06 03:00:00', datetime.datetime(2024, 4, 6, 3, 0)),
 (11, 'Daily event starting from 2024-04-06 03:00:00', datetime.datetime(2024, 4, 7, 3, 1)),
 (15, 'Hourly event ending at 2024-04-01 18:00:00', datetime.datetime(2024, 4, 5, 3, 18, 58))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">now check event</div>

In [145]:
%sql SHOW EVENTS

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('mubeen', 'event_ends', 'sweeterror404@127.0.0.1', 'SYSTEM', 'RECURRING', None, '1', 'HOUR', datetime.datetime(2024, 4, 5, 3, 18, 58), datetime.datetime(2024, 4, 6, 3, 18), 'ENABLED', 1, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Event Ended date is 6<br>So try to change the date manually</div>

In [146]:
%sql SELECT NOW();

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(datetime.datetime(2024, 4, 8, 3, 20, 13),)]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Again Check Event</div>

In [147]:
%sql SHOW EVENTS

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check message again</div>

In [148]:
%sql SELECT * FROM messages;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
13 rows affected.

[(1, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 4)),
 (2, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 9)),
 (3, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 14)),
 (4, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 41, 19)),
 (5, '+30 Sec event', datetime.datetime(2024, 4, 5, 2, 42, 52)),
 (6, 'Scheduled at a specific date', datetime.datetime(2024, 4, 6, 2, 50, 5)),
 (7, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 53)),
 (8, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 57, 58)),
 (9, 'Fill value Every 5 Second', datetime.datetime(2024, 4, 5, 2, 58, 3)),
 (10, 'Daily event starting from 2024-04-06 03:00:00', datetime.datetime(2024, 4, 6, 3, 0)),
 (11, 'Daily event starting from 2024-04-06 03:00:00', datetime.datetime(2024, 4, 7, 3, 1)),
 (15, 'Hourly event ending at 2024-04-01 18:00:00', datetime.datetime(2024, 4, 5, 3, 18, 58)),
 (16, 'Hourly event ending at 2024-04-01 18:00:00', datetime.datetime(2024, 4, 8, 3, 20))]