<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Functions</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">A function is a reusable piece of code that performs a specific task. Functions can be used in SQL queries to perform calculations, manipulate data, or perform other operations.<br>Functions can be defined using the CREATE FUNCTION statement<br><br><br>USESET GLOBAL log_bin_trust_function_creators = 1</div>

In [362]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"
%load_ext sql
%sql $connection_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Note Here i connect the mysql workbench server bcz Xampp cant provide the Advance Functionality</ul></div>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">use DETERMINISTIC keyword or <br><br>you can set the log_bin_trust_function_creators variable to 1, which allows MySQL to trust the user-defined functions created by the user. <br><br>However, this is considered less safe and should only be used if you understand the implications.

</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"> SYNTAX<ul><li>CREATE FUNCTION your_function_name (arguments datatype) RETURNS datatype</li><br><li>DETERMINISTIC</li><br><li>BEGIN<ul>definitions code<br> RETURN data ;</ul></li><li>END ;</li></ul>
</div>

In [21]:
%%sql

CREATE FUNCTION square(n INT) RETURNS INT
DETERMINISTIC
BEGIN
  RETURN n * n;
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">now use SELECT caluse for use function
</div>

In [26]:
%%sql
SELECT square(2);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(4,)]

In [35]:
%%sql
SELECT square(4);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(16,)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check Created Function <br><ul>SHOW FUNCTION STATUS WHERE Db = 'database name'</ul></div>

In [50]:
%%sql
SHOW FUNCTION STATUS WHERE Db = 'mubeen'

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('mubeen', 'square', 'FUNCTION', 'sweeterror404@127.0.0.1', datetime.datetime(2024, 2, 4, 0, 44, 33), datetime.datetime(2024, 2, 4, 0, 44, 33), 'DEFINER', '', 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Once created a function than we cant create a same name function</ul></div>

In [52]:
%%sql
CREATE FUNCTION SQUARE(n INT) RETURNS INT
DETERMINISTIC
BEGIN
  RETURN n * n;
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1304, 'FUNCTION SQUARE already exists')
[SQL: CREATE FUNCTION SQUARE(n INT) RETURNS INT
DETERMINISTIC
BEGIN
  RETURN n * n;
END;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Remove Function<ul>DROP FUNCTION function_name</ul></div>

In [53]:
%%sql
DROP FUNCTION square;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check square functions are exist in status</div>

In [54]:
%%sql
SHOW FUNCTION STATUS WHERE Db = 'mubeen'

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Witout using DETERMINISTIC for create function<ul>SET GLOBAL log_bin_trust_function_creators = 1;</ul></div>

In [55]:
%%sql
SET GLOBAL log_bin_trust_function_creators = 1;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now we created the function without using DETERMINISTIC </div>

In [83]:
%%sql

CREATE FUNCTION my_cube(n INT) RETURNS INT
BEGIN
  RETURN (n * n * n);
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [85]:
%%sql

SELECT my_cube(2);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(8,)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">We also use LOCAL SCOPE variable in function with DECLARE<ul>The Scope of this variable are only in Function Level we cant change functions variables outside the function but we only read the functions variable</ul></div>

In [136]:
%%sql

CREATE FUNCTION my_func() RETURNS INT
BEGIN
    DECLARE a INT;
    DECLARE b INT;
    
    SET a = 5; -- Here i cant use @ bcz local scope variable are not suppoted @
    SET b = 10;

    RETURN a + b;
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [137]:
%%sql 
SELECT my_func()

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(15,)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now access a</div>

In [147]:
%%sql

SELECT @a;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(5,)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now Change a value</div>

In [149]:
%%sql
SET @a = 2;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [150]:
%%sql
SELECT my_func()

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(15,)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Here function variable a value is 5</div>

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Procedure</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">A procedure is a precompiled collection of one or more SQL statements that you can reuse. It allows you to group a series of SQL statements into a single named block, making it easier to manage and execute.<br><br> Use CALL keyword for Execute procedure<br><br>IN Procedure we dont need DETERMINISTIC keyword like function and <br>dont need to SET log_bin_trust_function_creators = 1</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"> SYNTAX<ul><li>CREATE PROCEDURE your_procedure_name (arguments datatype)</li><br><li>BEGIN<ul>definitions code ; <br></ul></li><li>END ;</li></ul>
</div>

In [211]:
%%sql
CREATE PROCEDURE test(msg VARCHAR(20))
BEGIN
    SELECT CONCAT(msg,' Mubeen') AS message ;
END ;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Use Call keyword for Execute procedure</div>

In [214]:
%%sql

CALL test('hy');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('hy Mubeen',)]

In [216]:
%%sql

CALL test('welcome');

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('welcome Mubeen',)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check Created Procedure same as function <br><ul>SHOW PROCEDURE STATUS WHERE Db = 'database name'</ul></div>

In [223]:
%%sql

SHOW PROCEDURE STATUS WHERE Db = 'mubeen'

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('mubeen', 'test', 'PROCEDURE', 'sweeterror404@127.0.0.1', datetime.datetime(2024, 2, 4, 2, 7, 27), datetime.datetime(2024, 2, 4, 2, 7, 27), 'DEFINER', '', 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Once created a Procedure than we cant create a same name of procedure</ul></div>

In [224]:
%%sql
CREATE PROCEDURE test(msg VARCHAR(20))
BEGIN
    SELECT CONCAT(msg,' Mubeen') AS message ;
END ;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1304, 'PROCEDURE test already exists')
[SQL: CREATE PROCEDURE test(msg VARCHAR(20))
BEGIN
    SELECT CONCAT(msg,' Mubeen') AS message ;
END ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Remove Procedure<ul>DROP PROCEDURE procedure_name</ul></div>

In [225]:
%%sql
DROP PROCEDURE test

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check test Procedure are exist in status</div>

In [226]:
%%sql

SHOW PROCEDURE STATUS WHERE Db = 'mubeen'

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Useful Procedure usecase</div>

In [230]:
%%sql
SELECT * FROM laptop_bk LIMIT 3

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

In [358]:
%%sql
CREATE PROCEDURE extract_data(x INT)
BEGIN
    SELECT * FROM laptop_bk WHERE id = x;
END;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [360]:
%%sql
CALL extract_data(2);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0'))]

In [361]:
%%sql
CALL extract_data(200);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(200, 'Dell', 'Notebook', Decimal('15.6'), 1366, 768, 1, 0, 'Intel', 'Core 7100U', Decimal('2.4'), 6, 'HDD', 1024, 0, 'Intel', ' HD Graphics 620', 'Windows', Decimal('2.3'), Decimal('23390.0'))]

<div style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">


<h4 style="text-align:center;">Comparison Between Stored Procedures and Functions</h4>

<table style="width:100%;" border="1">
  <tr>
    <th style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Feature</th>
    <th style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Stored Procedure</th>
    <th style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Function</th>
  </tr>
  <tr>
    <td style="text-align:left;">Return Value</td>
    <td style="text-align:left;">No or Void</td>
    <td style="text-align:left;">Returns a value</td>
  </tr>
  <tr>
    <td style="text-align:left;">Usage in Queries</td>
    <td style="text-align:left;">Cannot be used directly in SELECT statements</td>
    <td style="text-align:left;">Can be used in SELECT statements as part of an expression</td>
  </tr>
  <tr>
    <td style="text-align:left;">Transaction Control</td>
    <td style="text-align:left;">Can contain transaction control statements (e.g., COMMIT, ROLLBACK)</td>
    <td style="text-align:left;">Cannot contain transaction control statements</td>
  </tr>
  <tr>
    <td style="text-align:left;">Call Syntax</td>
    <td style="text-align:left;">EXECUTE statement or CALL statement</td>
    <td style="text-align:left;">Call as part of an expression</td>
  </tr>
  <tr>
    <td style="text-align:left;">Security</td>
    <td style="text-align:left;">May offer more fine-grained control over access</td>
    <td style="text-align:left;">Restricted to the security context of the calling statement</td>
  </tr>
  <tr>
  </tr>
</table>
</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Advantages<ul><li>More flexibility so you can create statements based on other code you run.</li><br><li>You can often run code that isn’t available with static SQL.</li></ul></div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Disadvantages<ul><li>Higher risk of SQL injection, a technique used to access areas of the database that are unintended.</li><br><li>Harder to validate the SQL as it’s created as the code is run, meaning a higher chance of errors</li></ul></div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Generally, you should try to use static SQL instead of dynamic SQL where you can, and only use dynamic SQL where you can’t use static SQL.</div>