In [5]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"
%load_ext sql
%sql $connection_string

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Index</h1>


<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>Index is a database object that improves the speed of data retrieval operations on a table by providing quick access to rows based on the values stored in one or more columns.
</ul>
<ul>When you create an index on a table, MySQL creates an internal data structure that allows it to efficiently locate rows based on the indexed column values. <br>This structure typically consists of a balanced tree or hash table, depending on the type of index.
    </ul>
</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Syntax : <ul>CREATE INDEX idx_name ON table_name(Column);
</ul></div>

In [8]:
%sql SELECT * FROM laptop_bk LIMIT 3;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

In [24]:
%%sql
CREATE INDEX h ON laptop_bk(height);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [30]:
%sql SELECT * FROM laptop_bk WHERE height = 1200;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
4 rows affected.

[(700, 'Mediacom', 'Notebook', Decimal('14.0'), 1920, 1200, 0, 1, 'Intel', 'Atom Z8350', Decimal('1.9'), 4, 'HDD', 32, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('1.4'), Decimal('14119.0')),
 (1053, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('0.7'), Decimal('34433.0')),
 (1085, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Others', Decimal('0.7'), Decimal('29251.0')),
 (1097, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('0.7'), Decimal('25521.0'))]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"> Here first i create a index name h and add column height<br>
So after i use SELECT * FROM laptop_bk WHERE height = 1200;<br><br>
What is the benefits of Index ?
</ul></div>


<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>
    When you create an index, such as the "h" index on the "laptop_bk" table's "height" column,<br> it stores the corresponding height values of each row in the table and organizes them in a unique manner. <br>Its purpose is to assist in quickly locating and retrieving rows for queries.
    </ul>
</div>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Drop Index<br><br>We cant create Duplicate index</div>

In [31]:
%sql CREATE INDEX h ON laptop_bk(width);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1061, "Duplicate key name 'h'")
[SQL: CREATE INDEX h ON laptop_bk(width);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [32]:
%sql DROP INDEX h ON laptop_bk;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Types</h1>

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Single-Column Index : <ul>
    This type of index is created on a single column of a table.<br>It is the most basic type of index and is used to speed up queries that filter or sort data based on that column.
</ul></div>

In [33]:
%sql CREATE INDEX h ON laptop_bk(height);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [34]:
%sql SELECT * FROM laptop_bk WHERE height = 1200;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
4 rows affected.

[(700, 'Mediacom', 'Notebook', Decimal('14.0'), 1920, 1200, 0, 1, 'Intel', 'Atom Z8350', Decimal('1.9'), 4, 'HDD', 32, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('1.4'), Decimal('14119.0')),
 (1053, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('0.7'), Decimal('34433.0')),
 (1085, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Others', Decimal('0.7'), Decimal('29251.0')),
 (1097, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('0.7'), Decimal('25521.0'))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Composite Index : <ul>
Also known as a multi-column index, this type of index is created on multiple columns of a table. <br>It is useful for queries that filter, sort, or join data based on combinations of those columns.
</ul></div>

In [35]:
%sql CREATE INDEX hw ON laptop_bk(height, width);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [39]:
%%sql 
SELECT * FROM laptop_bk 
WHERE 
height = 1200
AND
width = 1920;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
4 rows affected.

[(700, 'Mediacom', 'Notebook', Decimal('14.0'), 1920, 1200, 0, 1, 'Intel', 'Atom Z8350', Decimal('1.9'), 4, 'HDD', 32, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('1.4'), Decimal('14119.0')),
 (1053, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('0.7'), Decimal('34433.0')),
 (1085, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Others', Decimal('0.7'), Decimal('29251.0')),
 (1097, 'Lenovo', '2 in 1 Convertible', Decimal('10.1'), 1920, 1200, 1, 1, 'Intel', 'Atom x5-Z8550', Decimal('1.4'), 4, 'Flash Storage', 64, 0, 'Intel', ' HD Graphics 400', 'Windows', Decimal('0.7'), Decimal('25521.0'))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Unique Index : <ul>
A unique index ensures that each row in the indexed column(s) of the table has a unique value.<br>This means that no two rows in the table can have the same value in the indexed column(s).
</ul></div>

In [46]:
%%sql 
CREATE TABLE new_users(
    name VARCHAR(255),
    username VARCHAR(255)
)

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [52]:
%%sql
INSERT INTO new_users (username, name) 
VALUES 
('rizwan123', 'rizwan')

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[]

In [53]:
%sql SELECT * FROM new_users

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('rizwan', 'rizwan123')]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
Here i cant create a Primary Key But using Index we also add a Primary key
</div>

In [54]:
%%sql
CREATE UNIQUE INDEX unique_name ON new_users(name);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
Now try to add a Duplicate name</div>

In [55]:
%%sql
INSERT INTO new_users (username, name) 
VALUES 
('rizwan123', 'rizwan')

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.IntegrityError) (1062, "Duplicate entry 'rizwan' for key 'new_users.unique_name'")
[SQL: INSERT INTO new_users (username, name)
VALUES
('rizwan123', 'rizwan')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [56]:
%%sql 
CREATE INDEX usr ON new_users(name);
SELECT * FROM new_users WHERE name = 'rizwan';

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.
1 rows affected.

[('rizwan', 'rizwan123')]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">FULL-TEXT Index : <ul>
A Full-Text Index in MySQL is a type of index specifically designed for efficiently searching and querying text data stored in columns like VARCHAR or TEXT. <br>It allows you to perform full-text searches on text-based columns, enabling you to find records that contain specific words or phrases.
</ul></div>

In [57]:
%sql SELECT * FROM laptop_bk LIMIT 3

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

In [58]:
%sql CREATE INDEX cmp ON laptop_bk(Company);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
(pymysql.err.OperationalError) (1170, "BLOB/TEXT column 'Company' used in key specification without a key length")
[SQL: CREATE INDEX cmp ON laptop_bk(Company);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Now Here use FULL-Text Index</div>

In [59]:
%sql CREATE FULLTEXT INDEX cmp ON laptop_bk(Company);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [63]:
%sql SELECT * FROM laptop_bk WHERE Company = 'Fujitsu';

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
2 rows affected.

[(609, 'Fujitsu', 'Notebook', Decimal('15.6'), 1366, 768, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'Windows', Decimal('2.2'), Decimal('42571.0')),
 (956, 'Fujitsu', 'Notebook', Decimal('15.6'), 1366, 768, 0, 0, 'Intel', 'Core 6200U', Decimal('2.3'), 4, 'SSD', 256, 0, 'Intel', ' HD Graphics 520', 'Windows', Decimal('2.3'), Decimal('34579.0'))]

<br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Spatial Index : <ul>
    Spatial Index, including MySQL, is a special type of index used to optimize queries involving spatial data types like points, lines, or polygons. <br><br>Its main purpose is to efficiently handle queries related to geometric shapes and their relationships, such as :<br><br>
        <ul>Point Queries : <ul>Finding points within a given area or radius.</ul></ul><br>
        <ul>Range Queries :<ul>Retrieving all data within a specified geographic region.</ul></ul><br>
        <ul>Nearest Neighbor Searches :<ul>Identifying the closest points or objects to a given location.</ul></ul><br>
        <ul>Spatial Joins : <ul>Combining spatial data from multiple tables based on their spatial relationships.</ul></ul><br>
    <ul>Geometric Operations : <ul>Performing geometric calculations like intersection, union, or distance measurement.</ul></ul><br>
</ul><p>By creating a spatial index on columns containing spatial data, database systems can quickly locate and retrieve relevant spatial objects, significantly improving query performance for spatial operations. <br>This is especially important for applications dealing with geographical data, maps, geographic information systems (GIS), and location-based services.</p></div>

In [80]:
%%sql
CREATE TABLE landmarks_pakistan (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    location POINT NOT NULL
);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [81]:
%%sql
INSERT INTO landmarks_pakistan (name, location) VALUES
('Lahore Fort', POINT(31.5880, 74.3083)),
('Quaid-e-Azam House', POINT(25.3792, 68.3763)),
('Shalimar Gardens', POINT(31.5849, 74.3235)),
('Hiran Minar', POINT(31.6223, 74.1960)),
('Pakistan Monument', POINT(33.6939, 73.0551)),
('Katas Raj Temples', POINT(32.7112, 73.6729)),
('Mohenjo-daro', POINT(27.3358, 68.1404)),
('Rohtas Fort', POINT(32.9625, 73.5739)),
('Derawar Fort', POINT(29.3227, 72.6634)),
('Tomb of Jahangir', POINT(31.5906, 74.3089)),
('Tomb of Allama Iqbal', POINT(31.5497, 74.3436)),
('Minar-e-Pakistan', POINT(31.5889, 74.3099)),
('Chaukhandi Tombs', POINT(24.9824, 67.1844)),
('Kot Diji Fort', POINT(27.7633, 68.3250)),
('Ranikot Fort', POINT(27.7450, 67.9208)),
('Wazir Khan Mosque', POINT(31.5887, 74.3094)),
('Mohatta Palace', POINT(24.8097, 67.0295)),
('Fakir Khana Museum', POINT(31.5880, 74.3124)),
('Hiran Minar', POINT(31.6218, 74.1948)),
('Noor Mahal', POINT(32.0988, 71.2652));

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
20 rows affected.

[]

In [82]:
%sql SELECT * FROM landmarks_pakistan;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
20 rows affected.

[(1, 'Lahore Fort', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00J\x0c\x02+\x87\x96?@\xd6V\xec/\xbb\x93R@'),
 (2, 'Quaid-e-Azam House', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00\xa9\xa4N@\x13a9@\x07_\x98L\x15\x18Q@'),
 (3, 'Shalimar Gardens', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00/n\xa3\x01\xbc\x95?@b\x10X9\xb4\x94R@'),
 (4, 'Hiran Minar', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00\x01M\x84\rO\x9f?@\x06\x81\x95C\x8b\x8cR@'),
 (5, 'Pakistan Monument', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00\xe2X\x17\xb7\xd1\xd8@@\x9d\x80&\xc2\x86CR@'),
 (6, 'Katas Raj Temples', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00%u\x02\x9a\x08[@@\x9e^)\xcb\x10kR@'),
 (7, 'Mohenjo-daro', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00.\xff!\xfd\xf6U;@\xf0\x16HP\xfc\x08Q@'),
 (8, 'Rohtas Fort', b'\x00\x00\x00\x00\x01\x01\x00\x00\x0033333{@@)\xcb\x10\xc7\xbadR@'),
 (9, 'Derawar Fort', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00Qk\x9aw\x9cR=@\xa6\nF%u*R@'),
 (10, 'Tomb of Jahangir', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00\x81\x04\xc5\x8f1\x97?@\x00o\x81\x04\xc5\x93R@'),
 (11, 'Tomb of Allama Iqbal', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00x\x9c\xa2#\xb9\x8c?@\xf5\xb9\xda\x8a\xfd\x95R@'),
 (12, 'Minar-e-Pakistan', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00I\x9d\x80&\xc2\x96?@\xf2A\xcff\xd5\x93R@'),
 (13, 'Chaukhandi Tombs', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00$\x97\xff\x90~\xfb8@yX\xa85\xcd\xcbP@'),
 (14, 'Kot Diji Fort', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00l\t\xf9\xa0g\xc3;@\xcd\xcc\xcc\xcc\xcc\x14Q@'),
 (15, 'Ranikot Fort', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00\x1f\x85\xebQ\xb8\xbe;@\t\x8a\x1fc\xee\xfaP@'),
 (16, 'Wazir Khan Mosque', b"\x00\x00\x00\x00\x01\x01\x00\x00\x00\xbb'\x0f\x0b\xb5\x96?@yX\xa85\xcd\x93R@"),
 (17, 'Mohatta Palace', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00:\x92\xcb\x7fH\xcf8@\xd9\xce\xf7S\xe3\xc1P@'),
 (18, 'Fakir Khana Museum', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00J\x0c\x02+\x87\x96?@N\xd1\x91\\\xfe\x93R@'),
 (19, 'Hiran Minar', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00\x1e\xa7\xe8H.\x9f?@\xb1Pk\x9aw\x8cR@'),
 (20, 'Noor Mahal', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00"lxz\xa5\x0c@@\x8c\xb9k\t\xf9\xd0Q@')]

In [83]:
%sql CREATE SPATIAL INDEX idx_location ON landmarks_pakistan(location);

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [105]:
%%sql 
SELECT * FROM landmarks_pakistan 
WHERE location = POINT(29.3227, 72.6634)

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(9, 'Derawar Fort', b'\x00\x00\x00\x00\x01\x01\x00\x00\x00Qk\x9aw\x9cR=@\xa6\nF%u*R@')]