In [1]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"
%load_ext sql
%sql $connection_string

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">mysqldump</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><ul>mysqldump is a command-line utility in MySQL used for creating logical backups of MySQL databases. <br>It allows you to dump the structure and data of a MySQL database into a file, which can later be used to restore the database.<br> mysqldump generates SQL statements that can recreate the database objects and their data.</ul></div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">if your are use windows make sure for set environment variable where the mysqldump are located</div>

In [110]:
!whereis mysqldump

mysqldump: /usr/bin/mysqldump /opt/lampp/bin/mysqldump /usr/share/man/man1/mysqldump.1.gz

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Export in .sql format</h1>

In [131]:
%%sql
SELECT * FROM users

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
6 rows affected.

[(49, 'mubeen111', 'mubeen111@xyz.com'),
 (50, 'mubeen222', 'mubeen222@xyz.com'),
 (51, 'rizwan212', 'rizwan123@abc.com'),
 (52, 'aliahmad234', 'aliahmad234@gmail.com'),
 (53, 'shahzad11', 'shahzad11@xyz.com'),
 (54, 'unqiue1', 'unique1@xyz.com')]

In [ ]:
# mysqldump -u [username] -p[password] -h [hostname] [database_name]  [table_name] > output_file.sql

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Select Single Table</div>

In [132]:
# Set MySQL environment variables
%env MYSQL_PASSWORD=Mubeen@12345

# Run mysqldump command
!mysqldump -u sweeterror404 -p$MYSQL_PASSWORD -h localhost mubeen users > /home/mubeen/Downloads/users_data.sql

env: MYSQL_PASSWORD=Mubeen@12345
mysqldump: [Warning] Using a password on the command line interface can be insecure.

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Check sql file</div>

In [135]:
with open('/home/mubeen/Downloads/users_data.sql') as f:
    print(f.read())

-- MySQL dump 10.13  Distrib 8.0.36, for Linux (x86_64)
--
-- Host: localhost    Database: mubeen
-- ------------------------------------------------------
-- Server version	8.0.36-0ubuntu0.22.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (49,'mubeen111','mubeen111@xyz.com'),(50,'mubeen222','mubeen222@xyz.com'),(51,'rizwan212','rizwan123@abc.com'),(52,'aliahmad234','aliahmad234@gmail.com'),(53,'shahzad11','shahzad11@xyz.com'),(54,'unqiue1','unique1@xyz.com');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-03-02  4:20:45

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Export Database</div>

In [140]:
# Set MySQL environment variables
%env MYSQL_PASSWORD=Mubeen@12345

# Run mysqldump command
!mysqldump -u sweeterror404 -p$MYSQL_PASSWORD -h localhost mubeen > /home/mubeen/Downloads/data/db.sql

env: MYSQL_PASSWORD=Mubeen@12345
mysqldump: [Warning] Using a password on the command line interface can be insecure.

In [147]:
!ls /home/mubeen/Downloads/data/

db.sql

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Export  table in .csv format</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">First check your secure path<br><br> bcz You cant load data in other directory due to Security</div>

In [148]:
%sql SHOW VARIABLES LIKE "secure_file_priv";

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('secure_file_priv', '/var/lib/mysql-files/')]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">The OUTFILE clause in MySQL is used to redirect the output of a SELECT query to a file. It allows you to export the result set of a query to a specified file on the server's file system.</div>

In [154]:
%%sql

SELECT *
INTO OUTFILE '/var/lib/mysql-files/users.csv'

FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'

FROM users;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
6 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">You need to root permission for access the file</div>

In [160]:
!echo '12345' | sudo -S ls /var/lib/mysql-files/

[sudo] password for mubeen: tmp.NV4CLfY7qe	users.csv

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">move file for access the file</div>

In [161]:
!echo '12345' | sudo -S mv /var/lib/mysql-files/users.csv /home/mubeen/Downloads/data

[sudo] password for mubeen:

In [166]:
!echo '12345' | sudo -S chmod 777 /home/mubeen/Downloads/data/users.csv

[sudo] password for mubeen:

In [167]:
with open('/home/mubeen/Downloads/data/users.csv') as f:
    print(f.read())

"49","mubeen111","mubeen111@xyz.com"
"50","mubeen222","mubeen222@xyz.com"
"51","rizwan212","rizwan123@abc.com"
"52","aliahmad234","aliahmad234@gmail.com"
"53","shahzad11","shahzad11@xyz.com"
"54","unqiue1","unique1@xyz.com"

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Load .csv file in database</h1>

In [168]:
%sql CREATE DATABASE temp

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[]

In [172]:
%sql use temp

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [186]:
%sql CREATE TABLE users_data(id INT, username VARCHAR(50), name VARCHAR(255));

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">only allowed to load in secure_file_priv path</div>

In [181]:
!echo '12345' | sudo -S cp /home/mubeen/Downloads/data/users.csv /var/lib/mysql-files/

[sudo] password for mubeen:

In [187]:
%%sql

LOAD DATA INFILE '/var/lib/mysql-files/users.csv'
INTO TABLE users_data

FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS; -- Optional if your CSV file has a header row

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
5 rows affected.

[]

In [188]:
%%sql
SELECT * FROM users_data

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
5 rows affected.

[(50, 'mubeen222', 'mubeen222@xyz.com'),
 (51, 'rizwan212', 'rizwan123@abc.com'),
 (52, 'aliahmad234', 'aliahmad234@gmail.com'),
 (53, 'shahzad11', 'shahzad11@xyz.com'),
 (54, 'unqiue1', 'unique1@xyz.com')]

In [196]:
%%sql
DROP TABLE users_data

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Load .sql file in database</h1>

In [ ]:
# mysql -u your_username -p your_database_name < your_sql_file.sql

In [200]:
%env MYSQL_PASSWORD=Mubeen@12345

!mysql -u sweeterror404 -p$MYSQL_PASSWORD temp < /home/mubeen/Downloads/users_data.sql

env: MYSQL_PASSWORD=Mubeen@12345
mysql: [Warning] Using a password on the command line interface can be insecure.

In [201]:
%%sql
SHOW TABLES;

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('users',)]

In [202]:
%sql SELECT * FROM users

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
6 rows affected.

[(49, 'mubeen111', 'mubeen111@xyz.com'),
 (50, 'mubeen222', 'mubeen222@xyz.com'),
 (51, 'rizwan212', 'rizwan123@abc.com'),
 (52, 'aliahmad234', 'aliahmad234@gmail.com'),
 (53, 'shahzad11', 'shahzad11@xyz.com'),
 (54, 'unqiue1', 'unique1@xyz.com')]