<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Mathematical Funtions </h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Mathematical functions, also known as mathematical operations or arithmetic functions, are operations that perform mathematical calculations on one or more values. <br><br>In the context of databases and SQL, mathematical functions are often used to perform calculations on numeric data within queries. 
</div>

In [2]:
%load_ext sql
%sql mysql+pymysql://root:@localhost:3307/mydb

In [13]:
%%sql

SELECT resolution_width - resolution_height FROM mobile

LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[(-1332,), (-1328,), (-1328,), (-1320,), (-1328,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">ABS <ul>Return Value in Positive</ul></div>

In [15]:
%%sql
SELECT ABS(resolution_width - resolution_height) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[(1332,), (1328,), (1328,), (1320,), (1328,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">ROUND <ul>Return Value in Round<br>use Specfic Decimals</ul></div>

In [17]:
%%sql 
SELECT rating/10 FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[(8.1,), (7.5,), (8.0,), (8.2,), (8.0,)]

In [28]:
%%sql 
SELECT ROUND(rating/10) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[(8.0,), (8.0,), (8.0,), (8.0,), (8.0,)]

In [29]:
# round 2 decimails
%%sql 
SELECT ROUND(rating/10,2) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[(8.1,), (7.5,), (8.0,), (8.2,), (8.0,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">CEIL <ul>The CEIL function (also known as CEILING) rounds a numeric value up to the nearest integer that is greater than or equal to the original value.</ul></div>

In [33]:
%%sql 
SELECT CEIL(rating/10) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[(9.0,), (8.0,), (8.0,), (9.0,), (8.0,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">FLOOR <ul>The FLOOR function rounds a numeric value down to the nearest integer that is less than or equal to the original value.</ul></div>

In [34]:
%%sql 
SELECT FLOOR(rating/10) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[(8.0,), (7.0,), (8.0,), (8.0,), (8.0,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">SQRT <ul>Return a Squre Root</ul></div>

In [35]:
%%sql 
SELECT SQRT(rating/10) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[(2.8460498941515415,),
 (2.7386127875258306,),
 (2.8284271247461903,),
 (2.8635642126552705,),
 (2.8284271247461903,)]

<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Aggregate Funtions </h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Aggregate functions operate on a set of values and return a single value summarizing the information in that set<br>They are typically used with the GROUP BY clause to perform operations on a group of rows. 
</div>

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">MAX <ul>Return a Maximum Value</ul></div>

In [37]:
%%sql 
SELECT MAX(rating) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(89.0,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">MIN <ul>Return a Minimum Value</ul></div>

In [38]:
%%sql 
SELECT MIN(rating) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(60.0,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">AVG <ul>Return a Average</ul></div>

In [39]:
%%sql 
SELECT AVG(rating) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(78.0596590909091,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">SUM <ul>Return a Sum</ul></div>

In [40]:
%%sql 
SELECT SUM(rating) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(27477.0,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">COUNT <ul>Count the occurrence</ul></div>

In [43]:
%%sql 
SELECT COUNT(rating) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(352,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">STD <ul>Standard Deviation</ul></div>

In [44]:
%%sql 
SELECT STD(rating) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(5.741037273410623,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">VARIANCE <ul>Variance</ul></div>

In [47]:
%%sql 
SELECT VARIANCE(rating) FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(32.95950897469009,)]

<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">DISTINCT <ul>Unique Values</ul></div>

In [51]:
%%sql 
SELECT processor_brand FROM mobile
LIMIT 5

 * mysql+pymysql://root:***@localhost:3307/mydb
5 rows affected.

[('snapdragon',),
 ('exynos',),
 ('snapdragon',),
 ('snapdragon',),
 ('snapdragon',)]

In [59]:
%%sql 
SELECT DISTINCT(processor_brand) FROM mobile
# find unique processor

 * mysql+pymysql://root:***@localhost:3307/mydb
7 rows affected.

[('snapdragon',),
 ('exynos',),
 ('helio',),
 ('dimensity',),
 ('tiger',),
 ('unisoc',),
 ('kirin',)]