<br>
<div style="text-align:justify; color:red; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Review Examples</div>

In [64]:
%load_ext sql
%sql mysql+pymysql://root:@localhost:3307/mydb

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Select Indepedent</div>

In [65]:
%%sql 
SELECT gender,age,(SELECT AVG(age) FROM health_ins) AS 'avg_age' FROM health_ins
GROUP BY gender

 * mysql+pymysql://root:***@localhost:3307/mydb
2 rows affected.

[('female', 50.0, 38.07865168539326), ('male', 39.0, 38.07865168539326)]

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Select Correlated</div>

In [66]:
%%sql 
SELECT gender,age,(SELECT AVG(age) FROM health_ins t1 WHERE t1.gender =  t2.gender) AS 'avg_age' FROM health_ins t2  
GROUP BY gender

 * mysql+pymysql://root:***@localhost:3307/mydb
2 rows affected.

[('female', 50.0, 42.483383685800604), ('male', 39.0, 33.74591381872214)]

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">FROM Indepedent</div>

In [67]:
%%sql 
SELECT AVG(age) FROM (SELECT * FROM health_ins WHERE gender = 'male') t1

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(33.74591381872214,)]

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">FROM Correlated</div>

In [ ]:
# not possible

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Where Indepedent</div>

In [68]:
%%sql 

SELECT * FROM health_ins t1
WHERE age > (SELECT AVG(age) FROM health_ins t2 WHERE gender != 'female')
LIMIT 1

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(0, 1, 39.0, 'male', 23.2, 91, 'Yes', 0, 'No', 'southeast', 1121.87)]

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Where Correlated</div>

In [69]:
%%sql 

SELECT AVG(t1.age) FROM health_ins t1 
WHERE t1.gender = 'male' AND 

t1.age > (SELECT AVG(age) FROM health_ins WHERE gender = 'female')

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(46.24561403508772,)]

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Join Indepedent</div>

In [70]:
%%sql 
SELECT * FROM health_ins t1
INNER JOIN (SELECT * FROM health_ins WHERE gender = 'female' ) t2
LIMIT 3

 * mysql+pymysql://root:***@localhost:3307/mydb
3 rows affected.

[(0, 1, 39.0, 'male', 23.2, 91, 'Yes', 0, 'No', 'southeast', 1121.87, 24, 25, 50.0, 'female', 20.8, 85, 'Yes', 0, 'No', 'southeast', 1607.51),
 (1, 2, 24.0, 'male', 30.1, 87, 'No', 0, 'No', 'southeast', 1131.51, 24, 25, 50.0, 'female', 20.8, 85, 'Yes', 0, 'No', 'southeast', 1607.51),
 (2, 3, None, 'male', 33.3, 82, 'Yes', 0, 'No', 'southeast', 1135.94, 24, 25, 50.0, 'female', 20.8, 85, 'Yes', 0, 'No', 'southeast', 1607.51)]

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Join Correlated</div>

In [ ]:
# not posible

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Having Indepedent</div>

In [71]:
%%sql
SELECT COUNT(t1.age),t1.gender, AVG(t1.age) AS 'avg_age' FROM health_ins t1
GROUP BY gender HAVING avg_age > (SELECT AVG(age) FROM health_ins WHERE gender = 'male')

 * mysql+pymysql://root:***@localhost:3307/mydb
1 rows affected.

[(662, 'female', 42.483383685800604)]

<br>
<div style="text-align:justify; color:green; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Having Correlated</div>

In [ ]:
# not posible