In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('/home/mubeen/Downloads/insurance_data.csv')

In [3]:
df.sample(3)

,index,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
1110,1110,1111,57.0,female,30.9,83,No,0,No,northeast,23045.57
1333,1333,1334,44.0,male,36.4,127,No,1,Yes,southwest,51194.56
1101,1101,1102,40.0,male,30.0,106,No,0,Yes,southwest,22144.03

In [4]:
mysql_config = {
    'host': 'localhost',
    'port': '3307',  
    'user': 'root',
    'password': '',
    'database': 'mydb'
}

In [5]:
def dataframe_to_mysql(df, table_name, mysql_config):
    conn = mysql.connector.connect(**mysql_config)
    engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}:{mysql_config['port']}/{mysql_config['database']}")
    df.to_sql(name=table_name, con=engine, index=False, if_exists='replace')
    # query = f'SELECT * FROM {table_name};'
    # result_df = pd.read_sql(query, con=engine)

In [6]:
dataframe_to_mysql(df, 'health_ins', mysql_config)