In [20]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [3]:
path = "/media/mubeen/Lectures { Disk 0 }/CampusX/Mentor_Ship_Program/ML Part 3/18 Week 16 Advanced SQL/1 Session 36 - Window Functions in SQL/datasets-session-35/"

In [21]:
df = pd.read_csv('/home/mubeen/Downloads/insurance_data.csv')

In [22]:
df.sample(3)

,index,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
749,749,750,40.0,male,31.0,100,No,3,No,northwest,10600.55
434,434,435,42.0,male,34.7,97,Yes,2,No,southwest,6082.41
1164,1164,1165,53.0,female,26.3,119,No,0,Yes,southeast,27808.73

In [23]:
mysql_config = {
    'host': 'localhost',
    'port': '3307',  
    'user': 'root',
    'password': '',
    'database': 'zomato'
}

In [24]:
def dataframe_to_mysql(df, table_name, mysql_config):
    conn = mysql.connector.connect(**mysql_config)
    engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}:{mysql_config['port']}/{mysql_config['database']}")

    conn.connect()
    cursor = conn.cursor()
    cursor.execute('SET GLOBAL max_allowed_packet = 1024 * 1024 * 80;')
    cursor.execute('SET GLOBAL max_heap_table_size = 1024 * 1024 * 80;')


    
    df.to_sql(name=table_name, con=engine, index=False, if_exists='replace')
    # query = f'SELECT * FROM {table_name};'
    # result_df = pd.read_sql(query, con=engine)

In [19]:
import os
for i in os.listdir(path):   
    f_p = os.path.join(path,i)
    df = pd.read_csv(f_p)
    dataframe_to_mysql(df, i.split('.')[0], mysql_config)

In [25]:
dataframe_to_mysql(df, 'insurance', mysql_config)