In [15]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [16]:
df = pd.read_csv('/home/mubeen/Downloads/terrorist-attacks.csv')

In [17]:
df.sample(3)

,Entity,Code,Year,Terrorist attacks,Terrorism deaths,Attack method: Hijacking,Attack method: Hostage Taking (Barricade Incident),Attack method: Unarmed Assault,Attack method: Facility/Infrastructure Attack,Attack method: Hostage Taking (Kidnapping),...,Attack method: Armed Assault,Attack method: Bombing/Explosion,Death Age 100+,Death Age: 51-99,Death Age : 21-50,Death Age : 11-20,Death Age : 6-10,Death Age : 1-5,Terrorist Death Type : Suicide,Terrorist Death Type : Killed
3312,Finland,FIN,1995,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6931,Oceania,NaN,2019,5,51,0,0,0,3,0,...,2,0,0,0,1,0,1,0,0,51
6605,Nicaragua,NIC,1999,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [128]:
mysql_config = {
    'host': 'localhost',
    'port': '3307',  
    'user': 'root',
    'password': '',
    'database': 'mydb'
}

In [129]:
def dataframe_to_mysql(df, table_name, mysql_config):
    conn = mysql.connector.connect(**mysql_config)
    engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}:{mysql_config['port']}/{mysql_config['database']}")

    conn.connect()
    cursor = conn.cursor()
    cursor.execute('SET GLOBAL max_allowed_packet = 1024 * 1024 * 80;')
    cursor.execute('SET GLOBAL max_heap_table_size = 1024 * 1024 * 80;')


    
    df.to_sql(name=table_name, con=engine, index=False, if_exists='replace')
    # query = f'SELECT * FROM {table_name};'
    # result_df = pd.read_sql(query, con=engine)

In [130]:
dataframe_to_mysql(df, 'random_no_2', mysql_config)