In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('/home/mubeen/Downloads/sql_staterror.csv')

In [1]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"
%load_ext sql
%sql $connection_string

In [18]:
connection_string

'mysql+pymysql://sweeterror404:Mubeen%4012345@localhost:3306/mubeen'

In [24]:
db = mysql.connector.connect(host="127.0.0.1",port="3306",user="sweeterror404", password="Mubeen@12345",database='mubeen')

In [25]:
db.connect()

In [26]:
cursor = db.cursor()

In [27]:
cursor.execute('SHOW DATABASES')

In [28]:
print(cursor.fetchall())

[('information_schema',), ('mubeen',), ('mysql',), ('performance_schema',), ('sys',)]

In [36]:
def dataframe_to_mysql(df, table_name, mysql_config):
    #conn = mysql.connector.connect(mysql_config)
    #engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}:{mysql_config['port']}/{mysql_config['database']}")
    engine = create_engine(mysql_config)

    # conn.connect()
    # cursor = conn.cursor()
    # cursor.execute('SET GLOBAL max_allowed_packet = 1024 * 1024 * 80;')
    # cursor.execute('SET GLOBAL max_heap_table_size = 1024 * 1024 * 80;')


    
    df.to_sql(name=table_name, con=engine, index=False, if_exists='replace')
    # query = f'SELECT * FROM {table_name};'
    # result_df = pd.read_sql(query, con=engine)

In [13]:
import os
path = "/home/mubeen/Downloads/"
for i in os.listdir(path):   
    f_p = os.path.join(path,i)
    df = pd.read_csv(f_p)
    dataframe_to_mysql(df, i.split('.')[0], mysql_config)

In [37]:
dataframe_to_mysql(df, 'sql_state_er', connection_string)

In [29]:
%%sql 
SELECT * FROM users_data

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
8 rows affected.

[('mubeen', 1),
 ('ali', 2),
 ('rizwan', 3),
 ('shahzad', 4),
 (None, None),
 ('ali', 1),
 ('ali', 1),
 ('ali', 2)]