In [2]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [26]:
df = pd.read_csv('/home/mubeen/Downloads/category.csv')

In [27]:
df.sample(3)

    category_id     vertical  category
4             5  Electronics    Phones
6            10     Clothing  Trousers
16           65     Clothing     Skirt

In [5]:
mysql_config = {
    'host': 'localhost',
    'port': '3307',  
    'user': 'root',
    'password': '',
    'database': 'csv_data'
}

In [6]:
def dataframe_to_mysql(df, table_name, mysql_config):
    conn = mysql.connector.connect(**mysql_config)
    engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}:{mysql_config['port']}/{mysql_config['database']}")
    df.to_sql(name=table_name, con=engine, index=False, if_exists='replace')
    # query = f'SELECT * FROM {table_name};'
    # result_df = pd.read_sql(query, con=engine)

In [28]:
dataframe_to_mysql(df, 'category', mysql_config)