In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv('/home/mubeen/Downloads/nw_employees.csv')

In [9]:
mysql_config = {
    'host': 'localhost',
    'port': '3307',  
    'user': 'root',
    'password': '',
    'database': 'north'
}

In [10]:
def dataframe_to_mysql(df, table_name, mysql_config):
    conn = mysql.connector.connect(**mysql_config)
    engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{mysql_config['password']}@{mysql_config['host']}:{mysql_config['port']}/{mysql_config['database']}")

    conn.connect()
    cursor = conn.cursor()
    cursor.execute('SET GLOBAL max_allowed_packet = 1024 * 1024 * 80;')
    cursor.execute('SET GLOBAL max_heap_table_size = 1024 * 1024 * 80;')


    
    df.to_sql(name=table_name, con=engine, index=False, if_exists='replace')
    # query = f'SELECT * FROM {table_name};'
    # result_df = pd.read_sql(query, con=engine)

In [13]:
import os
path = "/home/mubeen/Downloads/"
for i in os.listdir(path):   
    f_p = os.path.join(path,i)
    df = pd.read_csv(f_p)
    dataframe_to_mysql(df, i.split('.')[0], mysql_config)

In [42]:
dataframe_to_mysql(df, 'std', mysql_config)