<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Variables</h1>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Variables are used to store values temporarily and are often employed within stored procedures, triggers, and user-defined functions<br><br></div>

<div style="text-align:left; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;"><h2>Types of Variables</h2><br>
<ul>
    <li><h4 style='color:red;'>User-defined variables</h4> 
    <ul><br><li>User-defined variables in MySQL are variables that you can create and use within a session.</li><br>
        <li>These variables start with the '@' symbol and can be assigned values and referenced in subsequent statements during the lifetime of the session. </li><br>
        <li>User-defined variables are specific to the session in which they are created and are not shared across different database sessions.</li></ul>
    </li>


</ul>

</div>

In [1]:
from urllib.parse import quote
encoded_password = quote("Mubeen@12345", safe="")
connection_string = f"mysql+pymysql://sweeterror404:{encoded_password}@localhost:3306/mubeen"
%load_ext sql
%sql $connection_string

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Note ! <br><br>Here i connect mysql Worckbench server</div>

<br><br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">we can use both SET to declare the variable.<br><br>The assignment operator = and := are use for assign a value in Variable</div>

<br><br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Declare Variable</div>

In [2]:
%%sql

SET 
@fname = 'Mubeen' ,
@lname := 'Ahmad'

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

<br><br>
<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Access Variable</div>
<br><br>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Select command are use for Access a Variable</div>

In [3]:
%%sql

SELECT @fname , @lname

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('Mubeen', 'Ahmad')]

In [4]:
%%sql
SELECT CONCAT(@fname,' ',@lname) AS fullname

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('Mubeen Ahmad',)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">we also store function in variable</div>

In [5]:
%%sql

SET @fullname = CONCAT(@fname,' ',@lname)

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [6]:
%%sql
SELECT @fullname

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('Mubeen Ahmad',)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">We also store dataset Single value in variable</div>

In [7]:
%%sql
SELECT * FROM laptop_bk
LIMIT 3

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
3 rows affected.

[(1, 'Apple', 'Ultrabook', Decimal('13.3'), 2560, 1600, 0, 1, 'Intel', 'Core i5', Decimal('2.3'), 8, 'SSD', 128, 0, 'Intel', ' Iris Plus Graphics 640', 'Mac', Decimal('1.4'), Decimal('71379.0')),
 (2, 'Apple', 'Ultrabook', Decimal('13.3'), 1440, 900, 0, 0, 'Intel', 'Core i5', Decimal('1.8'), 8, 'Flash Storage', 128, 0, 'Intel', ' HD Graphics 6000', 'Mac', Decimal('1.3'), Decimal('47896.0')),
 (3, 'HP', 'Notebook', Decimal('15.6'), 1920, 1080, 0, 0, 'Intel', 'Core 7200U', Decimal('2.5'), 8, 'SSD', 256, 0, 'Intel', ' HD Graphics 620', 'N/A', Decimal('1.9'), Decimal('30636.0'))]

In [8]:
%%sql

SET @max_price = (SELECT MAX(Price) FROM laptop_bk)

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [9]:
%%sql
SELECT @max_price

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(Decimal('324955.0'),)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">we also use Select for create a variable <br> But Set are better</div>

In [11]:
%%sql

SELECT @max_pr := MAX(Price) FROM laptop_bk;

SELECT @max_pr

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.
1 rows affected.

[(Decimal('324955.0'),)]

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Remember that when using any functions (MAX, MIN, etc.) in a variable, you should use the SELECT operator and the := assignment operator.</div>

<div style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">we also use variable with compare data</div>

In [12]:
%%sql

SELECT * FROM laptop_bk
WHERE Price = @max_pr

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(190, 'Razer', 'Gaming', Decimal('17.3'), 3840, 2160, 1, 0, 'Intel', 'Core 7820HK', Decimal('2.9'), 32, 'SSD', 1024, 0, 'Nvidia', ' GeForce GTX 1080', 'Windows', Decimal('3.5'), Decimal('324955.0'))]

<div style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">Note, that ! <br><br>user-defined variables are not case-sensitive.<br> It means that the @variable_name and @VARIABLE_NAME are the same. Be careful with this. </div>

In [13]:
%%sql

SET 
@A = 1,
@a = 2

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
0 rows affected.

[]

In [14]:
%sql SELECT @A

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(2,)]

<div style="text-align:left; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black;">
<ul>
    <li><h4 style='color:red;'>Global variables</h4> 
    <ul><br><li>global variables represent server-wide properties that control the runtime behavior of the MySQL server.</li><br>
        <li>These variables store server configuration settings, statistics, and other parameters, and their values are maintained throughout the entire runtime of the server. </li><br>
        <li>You can access global variables in MySQL using the @@GLOBAL.variable_name or @@variable_name</li>
    </li>


</ul>

</div>

In [17]:
%%sql 
SHOW GLOBAL VARIABLES LIKE '%admin%'

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
14 rows affected.

[('admin_address', ''),
 ('admin_port', '33062'),
 ('admin_ssl_ca', ''),
 ('admin_ssl_capath', ''),
 ('admin_ssl_cert', ''),
 ('admin_ssl_cipher', ''),
 ('admin_ssl_crl', ''),
 ('admin_ssl_crlpath', ''),
 ('admin_ssl_key', ''),
 ('admin_tls_ciphersuites', ''),
 ('admin_tls_version', 'TLSv1.2,TLSv1.3'),
 ('create_admin_listener_thread', 'OFF'),
 ('log_slow_admin_statements', 'OFF'),
 ('persist_only_admin_x509_subject', '')]

In [18]:
%%sql
SELECT @@GLOBAL.admin_port

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(33062,)]

In [19]:
%%sql
SELECT @@admin_port

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[(33062,)]

In [20]:
%%sql
SELECT @@admin_tls_version

 * mysql+pymysql://sweeterror404:***@localhost:3306/mubeen
1 rows affected.

[('TLSv1.2,TLSv1.3',)]